{% extends "base.twig" %}

{% block content %}

<!-- begin - archive.twig -->

{% if the_post_type == "ideum_project" %}

<section class="our-creative-services">

  <div class="section-info">

    <h1>
      {{ title }}
    </h1>
    
  </div>

  <div class="custom-project-listing">

    {% for post in posts %}
    {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endfor %}

  </div>

  {% if pagination.pages %}

  <div class="tool-pagination">

    <div class="pagination-interior-wrap">

      {% if pagination.prev %}
        <a href="{{pagination.prev.link}}" alt="Previous" title="Previous" class="prev arrow arrow-left {{pagination.prev.link|length ? '' : 'invisible'}}"></a>
      {% endif %}
      <ul class="pages">
        {% for page in pagination.pages %}
          <li>
            {% if page.link %}
              <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
            {% else %}
              <span class="{{page.class}}">{{page.title}}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      {% if pagination.next %}
        <a href="{{pagination.next.link}}" alt="Next" title="Next" class="next arrow arrow-right {{pagination.next.link|length ? '' : 'invisible'}}"></a>
      {% endif %}

    </div>
  
  </div>

  {% endif %}

</section>

{% else %}

<div id="archive" class="sub-page-wrap blog-listing">

  <section class="highlight-text child-page">

    <h1>
      {{ title }}
    </h1>

  </section>

  <section class="blog-post-listing">

    {% for post in posts %}
    {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endfor %}

    {% if pagination.pages %}

    <div class="tool-pagination">

      <div class="pagination-interior-wrap">

        {% if pagination.prev %}
          <a href="{{pagination.prev.link}}" alt="Previous" title="Previous" class="prev arrow arrow-left {{pagination.prev.link|length ? '' : 'invisible'}}"></a>
        {% endif %}
        <ul class="pages">
          {% for page in pagination.pages %}
            <li>
              {% if page.link %}
                <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
              {% else %}
                <span class="{{page.class}}">{{page.title}}</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% if pagination.next %}
          <a href="{{pagination.next.link}}" alt="Next" title="Next" class="next arrow arrow-right {{pagination.next.link|length ? '' : 'invisible'}}"></a>
        {% endif %}

      </div>

    </div>
    {% endif %}

  </section>

</div>

{% endif %}

<!-- begin hidden content for page-share -->
<div style='display:none'>
  <div id='{{post.slug}}-share' class="share-dialog">
    <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Share this.</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum - {{ title|striptags }}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
  </div>
</div>
<!-- end hidden content for page-share - revealed when user clicks 'Share This Page' link in footer -->

<!-- end - archive.twig -->

{% endblock %}