
<!-- begin bar-related-projects.twig -->

<div class="custom-project-listing">

  <header class="single-post-header">

    <h1 class="article-h1">Related Projects</h1>

  </header>

  <ul class="project-wrap">

    {% for post in related_projects %}

    <li class="slide project-item">
        
      {% if post.get_thumbnail %}
      <img src="{{post.thumbnail.src}}" alt="Image for the post: '{{post.title}}'" title="Image for the post: '{{post.title}}'"/>
      {% else %}
      <img src="/wp-content/themes/ideum/images/placeholder-science-project-{{ random(2) }}.jpg" alt="Placeholder image for the post: '{{post.title}}'" 
      title="Placeholder image for the post: '{{post.title}}'"/>
      {% endif %}

      <div class="overlay"></div>

      <div class="content-wrap"><a href="{{post.link}}"></a></div>

      <a class="content-wrap-faux" href="{{post.link}}"><div class="content">

        <header>

          <h2 class="category">
            {{ post.get_category }}
          </h2>

          <h1 class="title">
            {% if post.landing_page_title %}
            {{ post.landing_page_title }}
            {% else %}
            {{ post.title }}
            {% endif %}
          </h1>

        </header>

        {% if post.landing_page_text %}
        <p>
          {{ post.landing_page_text }}
        </p>
        {% elseif post.get_preview %}
        <p>
          {{ post.get_preview(10) }}
        </p>
        {% endif %}

      </div></a>

    </li>

    {% endfor %}

  </ul>

</div>

<!-- end bar-related-projects.twig -->
