<!DOCTYPE html>
<html class="no-js" ng-app="ideum">

<script>
  // get Browser and OS info and put it in the html tag 
  var b = document.documentElement;
    b.setAttribute('data-useragent',  navigator.userAgent);
    b.setAttribute('data-platform', navigator.platform );
    b.className += ((!!('ontouchstart' in window) || !!('onmsgesturechange' in window))?' touch':'');
</script>

  <head>
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
  </head>

  <body class="{{body_class}} {{post.slug}}" data-template="base.twig">

    <header id="header" ng-controller="headerCtrl">
      {% include 'header.twig' %}
    </header>

    <nav id="mobile-slideout-menu" ideum-mobile-slideout-menu ng-cloak ng-show="open">

      <header>

        <h1>Menu</h1>

        <button class="close" ng-click="close()"><i class="icon-close"></i></button>

      </header>

      <ul>
        {% for item in menu.get_items %}
        <li class="{{item.classes | join(' ')}}"><a href="{{item.get_path}}">{{item.title}}</a>
          {% if item.get_children %}
            <ul class="sub">
              {% for child in item.get_children %}
                <li class="nav-sub-item {{child.classes | join(' ')}}"><a href="{{child.get_link}}">{{child.title}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>

    </nav>

    <section id="content" role="main" class="content-wrapper">

      <!-- {% if title %}<h1>{{title}}</h1>{% endif %} -->

      <div class="wrapper {{sidebar_class}}">

        {% block content %}
          Sorry, no content
        {% endblock %}

        <section class="chat foot-chat">

          <div class="button">
            <a href="/contact/">Ready to Start? <br class="phone-only gone">Contact Us.</a>
          </div>

        </section>
      </div>
       
    </section>

    {% block footer %}

      <footer id="footer" ng-controller="footerCtrl">
          {% include 'footer.twig' %}
      </footer>
      {{ function('wp_footer') }}

    {% endblock %}

  </body>

</html>
