<!DOCTYPE html>
<html class="no-js" ng-app="ideum">

  <head>
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
  </head>

  <body class="{{body_class}}" data-template="base.twig">

    <header id="header" ng-controller="headerCtrl">
      {% include 'header.twig' %}
    </header>

    <nav id="mobile-slideout-menu" ideum-mobile-slideout-menu ng-show="open">

      <header>

        <h1>Menu</h1>

        <button class="close" ng-click="close()"><i class="icon-close"></i></button>

      </header>

      <ul>
        {% for item in menu.get_items %}
        <li class="{{item.classes | join(' ')}}"><a href="{{item.get_path}}">{{item.title}}</a>
          {% if item.get_children %}
            <ul class="sub">
              {% for child in item.get_children %}
                <li class="nav-sub-item {{child.classes | join(' ')}}"><a href="{{child.get_link}}">{{child.title}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>

    </nav>

    <section id="content" role="main" class="content-wrapper">

      {% if title %}<h1>{{title}}</h1>{% endif %}

      <div class="wrapper {{sidebar_class}}">

        {% block content %}
            Sorry, no content
        {% endblock %}

        <section class="chat foot-chat">

          <div class="button">
            <a href="#FIXME">Ready to Start? Let's Chat.</a>
          </div>

        </section>
      </div>
       
    </section>

    {% block footer %}

      <footer id="footer" ng-controller="footerCtrl">
          {% include 'footer.twig' %}
      </footer>
      {{ function('wp_footer') }}

    {% endblock %}

  </body>

</html>
