<!DOCTYPE html>
<html class="no-js" ng-app="ideum">

<script>
  // get Browser and OS info and put it in the html tag 
  var b = document.documentElement;
    b.setAttribute('data-useragent',  navigator.userAgent);
    b.setAttribute('data-platform', navigator.platform );
    b.className += ((!!('ontouchstart' in window) || !!('onmsgesturechange' in window))?' touch':'');
</script>

  <head>
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
  </head>

  <body class="{{body_class}} {{post.slug}}" data-template="base.twig">

    <header id="header" ng-controller="headerCtrl">
      {% include 'header.twig' %}
    </header>

    <nav id="mobile-slideout-menu" ideum-mobile-slideout-menu ng-cloak ng-show="open">

      <header>

        <h1>Menu</h1>

        <button class="close" ng-click="close()"><i class="icon-close"></i></button>

      </header>

      <ul>
        {% for item in menu.get_items if item.title != "Thank You" and item.title != "Site Map" and item.title != "View Cusco"%}
        <li class="{{item.classes | join(' ')}}"><a href="{{item.get_path}}">{{item.title}}</a>
          {% if item.get_children %}
            <ul class="sub">
              {% for child in item.get_children %}
                <li class="nav-sub-item {{child.classes | join(' ')}}"><a href="{{child.get_link}}">{{child.title}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>

    </nav>

    <section id="content" role="main" class="content-wrapper{% if post.slides %} slide-present{% endif %}">

      <!-- {% if title %}<h1>{{title}}</h1>{% endif %} -->

      <div class="wrapper {{sidebar_class}}">

        {% block content %}
          Sorry, no content
        {% endblock %}

        <section class="chat foot-chat">

          <div class="button">
            <a href="/contact/">Ready to Start? <br class="phone-only gone">Contact Us.</a>
          </div>

        </section>
      </div>
       
    </section>

    {% block footer %}

      <footer id="footer" ng-controller="footerCtrl">
          {% include 'footer.twig' %}
      </footer>
      {{ function('wp_footer') }}

    {% endblock %}

    <div class="subfooter-scripts">

    {# begin scripts that might best go elsewhere - Ben, I will leave that to you #}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-198125-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!-- begin google conversion script -->
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 1072509777;
      var google_conversion_language = "en";
      var google_conversion_format = "3";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "lKb-CJ638AIQ0ea0_wM";
      var google_conversion_value = 0;
      /* ]]> */
    </script><script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js"></script>
    <!-- end google conversion script -->

    <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"beacon-2.newrelic.com","licenseKey":"330b5cbcfa","applicationID":"2196367","transactionName":"blFRbBMCW0UEB01dWFcbclsVClpYSgxWWVIURAcO","queueTime":0,"applicationTime":349,"ttGuid":"","agentToken":"","userAttributes":"","errorBeacon":"bam.nr-data.net","agent":"js-agent.newrelic.com\/nr-476.min.js"}</script>

    {# end scripts that might best go elsewhere - also see top of html-header.twig #}

    </div>

  </body>

</html>
