<section class="blog-post-listing">

  <header class="single-post-header">

    <h1 class="article-h1">Related Stories</h1>

  </header>

  {% for post in related %}

  <div class="tease">

    <div class="post-img-wrap">

      {% if post.get_thumbnail %}
      <a href="{{post.link}}"><img src="{{post.thumbnail.src}}" alt="Image for the post: '{{post.title}}'" title="Image for the post: '{{post.title}}'"/></a>
      {% else %}
      <a href="{{post.link}}"><img src="/wp-content/themes/ideum/images/blog-post-img-placeholders-{{ random(2) }}.jpg" alt="Placeholder image for the post: '{{post.title}}'" 
      title="Placeholder image for the post: '{{post.title}}'"/></a>
      <!-- Ben - #FIXME - {{theme.link}} doesn't work in link when included as sidebar, only when included in code of single.twig directly -->
      {% endif %}

    </div>

    <div class="post-txt-wrap">

      <time class="time">{{post.post_date|date('F j, Y')}}</time>

      <h2 class="h2">
        <a href="{{post.link}}">{{post.title}}</a>
      </h2>

      <p>{{post.get_preview(34, 'true', '', 'true')}}</p>

      <footer class="footer">
        <a class="read read-more" href="{{post.link}}">Read More</a>
        <a class="share" href="#FIXME">Share This</a>
      </footer>

    </div>

  </div>

  {% endfor %}

</section>
