
<!-- begin client-slider.twig -->

<section class="clients-n-partners" ng-init="clientSliderIndex = 0">

    <div class="section-info">

      <h1>
        <a href="/client-list/">Clients &amp; Partners</a>
      </h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae autem dicta eaque, deleniti hic cum. Dolores minima, beatae a explicabo, doloremque debitis deserunt alias quam nam veritatis atque! Sit, voluptas.
      </p>

    </div>

    <ul class="slider" rn-carousel rn-carousel-control rn-carousel-indicator rn-carousel-width="responsiveFourUp()" >

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-3m.png"></a>
      </li>
      <li class="client-slide" ng-class="{active: clientSliderIndex==1}">
        <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-hp.png"></a>
      </li>
      <li class="client-slide" ng-class="{active: clientSliderIndex==2}">
        <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-exploratorium.png"></a>
      </li>
      <li class="client-slide" ng-class="{active: clientSliderIndex==3}">
        <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-crystalbridges.png"></a>
      </li>
      <li class="client-slide" ng-class="{active: clientSliderIndex==4}">
        <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-something1.png"></a>
      </li>
      <li class="client-slide" ng-class="{active: clientSliderIndex==5}">
        <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-something2.png"></a>
      </li>

    </ul>

    <div class="section-info">

      <p>
        <a href="/client-list/" class="button dark active">View Client List</a>
      </p>

    </div>

    <ul class="other-cnp">
      <li>
        <img src="{{theme.link}}/images/placeholder-client-n-partner-3m.png">
      </li>
      <li>
        <img src="{{theme.link}}/images/placeholder-client-n-partner-hp.png">
      </li>
      <li>
        <img src="{{theme.link}}/images/placeholder-client-n-partner-exploratorium.png">
      </li>
      <li class="crystalbridges">
        <img src="{{theme.link}}/images/placeholder-client-n-partner-crystalbridges.png">
      </li>
      <li>
        <img src="{{theme.link}}/images/placeholder-client-n-partner-something1.png">
      </li>
      <li>
        <img src="{{theme.link}}/images/placeholder-client-n-partner-something2.png">
      </li>
    </ul>

  </section>

  <!-- end client-slider.twig -->
