<div class="main">

  <div class="mobile-controls">
    <button class="sitemap" ng-click="toggleSitemap()" ng-class="{open: showSitemap}">
      <span>Sitemap</span>
      <i class="icon-caret-down"></i>
    </button>
    <button class="newsletter" ng-click="toggleNewsletter()" ng-class="{open: showNewsletter}">
    <span>Newsletter</span>
    <i class="icon-caret-down"></i>
  </button>
  </div>

  {# Full sitemap for mobile devices #}
  <nav class="sitemap scroll-bottom" ng-show="showSitemap">
    <ul>
      {% for item in nav.get_items %}
      <li class="{{item.classes | join(' ')}}"><a href="{{item.get_path}}">{{item.title}}</a></li>
      {% endfor %}

      {% for item in tabs.get_items %}
      <li class="{{item.classes | join(' ')}}"><a href="{{item.get_path}}">{{item.title}}</a></li>
      {% endfor %}

      {% for item in foot.get_items %}
      <li class="{{item.classes | join(' ')}}"><a href="{{item.get_path}}">{{item.title}}</a></li>
      {% endfor %}
    </ul>
  </nav>

  {# Abbreviated sitemap for larger screens #}
  <nav class="footer-nav">
    <ul>
      {% for item in foot.get_items %}
      <li class="{{item.classes | join(' ')}}"><a href="{{item.get_path}}">{{item.title}}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <form
    class="newsletter-signup scroll-bottom"
    action="http://ideum.createsend.com/t/y/s/eihk/"
    method="POST"
    ng-show="showNewsletter"
  >
    <input type="hidden" name="name" value="Subscriber">
    <label for="newsletter_signup_email">Newsletter Signup</label>
    <input
      type="email"
      id="newsletter_signup_email"
      class="email"
      name="cm-eihk-eihk"
      placeholder="Enter Your Email Here"
    >
  </form>

</div>
