{% extends "base.twig" %}

{% block header_image %}
  
{% endblock %}

{% block content %}

  <section class="our-creative-services">

    <div class="section-info">

      <h1>
        <a href="/ideum_project/">Our Creative Services</a>
      </h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ipsum aperiam, non nihil voluptate eligendi, quas obcaecati voluptatum unde voluptas iusto optio omnis possimus? Placeat accusantium reprehenderit dicta rem? Illo!
      </p>

      <select ui-select2 ng-model="projectType" data-placeholder="Browse By Type">
        <option value=""></option>
      </select>
      <select ui-select2 ng-model="projectTopic" data-placeholder="Browse By Topic">
        <option value=""></option>
      </select>

    </div>

    <ul class="slider project-wrap" rn-carousel rn-carousel-control rn-carousel-indicator rn-carousel-width="responsiveThreeUp()">

      {{featured_projects}}

    </ul>

    <div class="section-info">

      <p>
        <a href="/ideum_project/" class="button active">View All</a>
      </p>

    </div>

  </section>

  {{featured_post}}  

  {# `productSliderIndex` is used to track the status of the product slider
   # contained within.  It must be initialized to zero (the first slide) before the
   # slider initializes. #}
  <section class="our-products" ng-init="productSliderIndex = 0">

    <div class="section-info">

      <h1>
        Our Products
      </h1>

      <p>
        Innovation and user-experience drives the design process for all our products. We are meticulous in how we build our products and look to produce the best quality hardware and software. If something goes wrong, we take responsibility, provide timely support and service. The same people who build our products support and service them.
      </p>

      <button class="pointer" ng-class="{active: productSliderIndex == 0}"
        ng-click="productSliderIndex = 0">Touch Tables</button>
      <button class="pointer" ng-class="{active: productSliderIndex == 1}"
        ng-click="productSliderIndex = 1">Touch Walls</button>

    </div>

    <ul rn-carousel rn-carousel-index="productSliderIndex">

      <li class="product-slide">

        <div class="touch-tables product-item post-style img-right">

          <div class="content">

            <div class="img-wrap">

              <a href="/touch-table/"><img src="{{theme.link}}/images/product-touch-table.jpg"></a>

            </div>

            <div class="txt-wrap">

              <h1>
                <a href="/touch-table/">Touch Tables</a>
              </h1>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi explicabo id ut ipsum saepe nemo voluptates natus cumque cupiditate similique esse perferendis illum blanditiis quas odio nobis officiis placeat, hic!
              </p>

              <!-- begin hidden content for featured-product-1-share -->
              <div style="display:none;">
                <div id="multitouch-tables-share" class="share-dialog">
                  <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
                  <p>Like what you see? Share this.</p>
                  <!-- Facebook -->
                  <a href="http://www.facebook.com/sharer.php?u={{site.url}}/touch-tables/" target="_blank"><img class="sharing-icon" 
                  src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
                  <!-- Twitter -->
                  <a href="http://twitter.com/share?url={{site.url}}/touch-tables/&amp;text=Ideum builds reliable, hardened touch tables with the best available components and exemplary service." target="_blank"><img class="sharing-icon" 
                  src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
                  <!-- Google+ -->
                  <a href="https://plus.google.com/share?url={{site.url}}/touch-tables/" target="_blank"><img class="sharing-icon" 
                  src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>               
                  <!-- LinkedIn -->
                  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}/touch-tables/" target="_blank"><img class="sharing-icon" 
                  src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
                  <!-- Pinterest -->
                  <!-- <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a> -->
                  <a href="//www.pinterest.com/pin/create/button/?url={{site.url}}/touch-tables/&amp;media={{site.url}}{{theme.link}}/images/product-touch-table.jpg&amp;description=Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi explicabo id ut ipsum saepe nemo voluptates natus cumque cupiditate similique esse perferendis illum blanditiis quas odio nobis officiis placeat, hic!" data-pin-do="buttonBookmark"  data-pin-shape="round" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
                </div>
              </div>
              <!-- end hidden content for featured-product-2-share - revealed when user clicks 'Share This' link (below)-->

              <footer class="footer">
                <a class="read" href="/touch-table/">View Selection</a>
                <a class="tablet-n-desktop share share-dialog-tab-desk" href="#multitouch-tables-share">Share This</a>
                <a class="phone-only share share-dialog-phone" href="#multitouch-tables-share">Share This</a>
              </footer>

            </div>

          </div>

        </div>

      </li>

      <li class="product-slide">

        <div class="touch-walls product-item post-style img-left">

          <div class="content">

            <div class="img-wrap">

              <a href="/touch-walls/"><img src="{{theme.link}}/images/product-touch-table-left.jpg"></a>

            </div>

            <div class="txt-wrap">

              <h1>
                <a href="/touch-walls/">Touch Walls</a>
              </h1> 

              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi explicabo id ut ipsum saepe nemo voluptates natus cumque cupiditate similique esse perferendis illum blanditiis quas odio nobis officiis placeat, hic!
              </p>

              <!-- begin hidden content for featured-product-2-share -->
              <div style='display:none'>
                <div id='touch-walls-share' class="share-dialog">
                  <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
                  <p>Like what you see? Share this.</p>
                  <!-- Facebook -->
                  <a href="http://www.facebook.com/sharer.php?u={{site.url}}/touch-walls/" target="_blank"><img class="sharing-icon" 
                  src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
                  <!-- Twitter -->
                  <a href="http://twitter.com/share?url={{site.url}}/touch-walls/&amp;text=Ideum builds reliable, hardened touch walls with the best available components and exemplary service." target="_blank"><img class="sharing-icon" 
                  src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
                  <!-- Google+ -->
                  <a href="https://plus.google.com/share?url={{site.url}}/touch-walls/" target="_blank"><img class="sharing-icon" 
                  src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>               
                  <!-- LinkedIn -->
                  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}/touch-walls/" target="_blank"><img class="sharing-icon" 
                  src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
                  <!-- Pinterest -->
                  <!-- <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a> -->
                  <a href="//www.pinterest.com/pin/create/button/?url={{site.url}}/touch-walls/&amp;media={{site.url}}{{theme.link}}/images/product-touch-table.jpg&amp;description=Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi explicabo id ut ipsum saepe nemo voluptates natus cumque cupiditate similique esse perferendis illum blanditiis quas odio nobis officiis placeat, hic!" data-pin-do="buttonBookmark"  data-pin-shape="round" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>              
                </div>
              </div>
              <!-- end hidden content for featured-product-2-share - revealed when user clicks 'Share This' link (below)-->

              <footer class="footer">
                <a class="read" href="/touch-walls/">View Selection</a>
                <a class="tablet-n-desktop share inline" href="#touch-walls-share">Share This</a>
                <a class="phone-only share share-dialog-phone" href="#touch-walls-share">Share This</a>
              </footer>

            </div>

          </div>

        </div>

      </li>

    </ul>

  </section>

  <section class="chat">

    <div class="button">
    
      <a href="#FIXME">Click here to build your own multitouch table.</a>

    </div>

  </section>


  <section class="clients-n-partners" ng-init="clientSliderIndex = 0">

    <div class="section-info">

      <h1>
        <a href="/client-list/">Clients &amp; Partners</a>
      </h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae autem dicta eaque, deleniti hic cum. Dolores minima, beatae a explicabo, doloremque debitis deserunt alias quam nam veritatis atque! Sit, voluptas.
      </p>

    </div>

    <ul class="slider" rn-carousel rn-carousel-control rn-carousel-indicator rn-carousel-width="responsiveFourUp()" >

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-3m.png"></a>
      </li>
      <li class="client-slide" ng-class="{active: clientSliderIndex==1}">
        <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-hp.png"></a>
      </li>
      <li class="client-slide" ng-class="{active: clientSliderIndex==2}">
        <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-exploratorium.png"></a>
      </li>
      <li class="client-slide" ng-class="{active: clientSliderIndex==3}">
        <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-crystalbridges.png"></a>
      </li>
      <li class="client-slide" ng-class="{active: clientSliderIndex==4}">
        <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-something1.png"></a>
      </li>
      <li class="client-slide" ng-class="{active: clientSliderIndex==5}">
        <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-something2.png"></a>
      </li>

    </ul>

    <div class="section-info">

      <p>
        <a href="/client-list/" class="button active">View Client List</a>
      </p>

    </div>

    <ul class="other-cnp">
      <li>
        <img src="{{theme.link}}/images/placeholder-client-n-partner-3m.png">
      </li>
      <li>
        <img src="{{theme.link}}/images/placeholder-client-n-partner-hp.png">
      </li>
      <li>
        <img src="{{theme.link}}/images/placeholder-client-n-partner-exploratorium.png">
      </li>
      <li class="crystalbridges">
        <img src="{{theme.link}}/images/placeholder-client-n-partner-crystalbridges.png">
      </li>
      <li>
        <img src="{{theme.link}}/images/placeholder-client-n-partner-something1.png">
      </li>
      <li>
        <img src="{{theme.link}}/images/placeholder-client-n-partner-something2.png">
      </li>
    </ul>

  </section>


  <section class="featured-pages">

    <article class="content initiatives">

      <div class="txt-wrap">

        <h1>
          <a href="/our-story/software-initiatives/">Software Initiatives</a>
        </h1>

        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitation ullamcorper suscipit.
        </p>

        <!-- begin hidden content for featured-product-2-share -->
        <div style="display:none">
          <div id="software-initiatives-share" class="share-dialog">
            <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
            <p>Like what you see? Share this.</p>
            <!-- Facebook -->
            <a href="http://www.facebook.com/sharer.php?u={{site.url}}/our-story/software-initiatives/" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
            <!-- Twitter -->
            <a href="http://twitter.com/share?url={{site.url}}/our-story/software-initiatives/&amp;text=Software Initiatives - We are passionate about the projects that we take on." target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
            <!-- Google+ -->
            <a href="https://plus.google.com/share?url={{site.url}}/our-story/software-initiatives/" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>               
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}/our-story/software-initiatives/" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
            <!-- Pinterest -->
            <!-- <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="http://m.ideum.com/img/social/pinterest.png" alt="Pinterest"></a> -->
            <a href="//www.pinterest.com/pin/create/button/?url={{site.url}}/our-story/software-initiatives/&amp;media={{site.url}}/wp-content/themes/ideum/images/logo.png&amp;description=Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi explicabo id ut ipsum saepe nemo voluptates natus cumque cupiditate similique esse perferendis illum blanditiis quas odio nobis officiis placeat, hic!" data-pin-do="buttonBookmark"  data-pin-shape="round" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>              
          </div>
        </div>
        <!-- end hidden content for featured-product-2-share - revealed when user clicks 'Share This' link (below)-->

        <footer class="footer">
          <a class="read" href="/our-story/software-initiatives/">View Initiatives</a>
          <a class="tablet-n-desktop share inline" href="#software-initiatives-share">Share This</a>
          <a class="phone-only share share-dialog-phone" href="#software-initiatives-share">Share This</a>
        </footer>

      </div>

    </article>

    <article class="content team">

      <div class="txt-wrap">

        <h1>
          <a href="/our-story/team/">Meet the Team</a>
        </h1>

        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitation ullamcorper suscipit.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitation ullamcorper suscipit.
        </p>

        <!-- begin hidden content for featured-product-2-share -->
        <div style="display:none">
          <div id="team-share" class="share-dialog">
            <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
            <p>Like what you see? Share this.</p>
            <!-- Facebook -->
            <a href="http://www.facebook.com/sharer.php?u={{site.url}}/our-story/team/" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
            <!-- Twitter -->
            <a href="http://twitter.com/share?url={{site.url}}/our-story/team/&amp;text=Software Initiatives - We are passionate about the projects that we take on." target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
            <!-- Google+ -->
            <a href="https://plus.google.com/share?url={{site.url}}/our-story/team/" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}/our-story/team/" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
            <!-- Pinterest -->
            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" 
            src="http://m.ideum.com/img/social/pinterest.png" alt="Pinterest"></a>
          </div>
        </div>
        <!-- end hidden content for featured-product-2-share - revealed when user clicks 'Share This' link (below)-->

        <footer class="footer">
          <a class="read" href="/our-story/team/">View Team</a>
          <a class="tablet-n-desktop share inline" href="#team-share">Share This</a>
          <a class="phone-only share share-dialog-phone" href="#team-share">Share This</a>
        </footer>

      </div>

    </article>

  </section>

  <section class="social-media-feed">

    <div class="section-info">

      <h1>
        <a href="/social-media-feed/">Social Media Feed</a>
      </h1>

      <select><option>Browse By Media Type</option></select>

    </div>

    <div class="social-media-feed-slider">

      <ul class="slider" rn-carousel rn-carousel-control rn-carousel-indicator rn-carousel-width="responsiveThreeUp()">

        <li class="youtube social-medi-slide item">

          <video controls style="width:100%;height:375px;" poster="{{theme.link}}/images/placeholder-buzz-feed-1.jpg">
          </video>

          <i class="social-icon icon-youtube"></i>

        </li>

        <li class="twitter social-medi-slide item">

          <div class="content">

            <p>
              Ideum Daily is out! http://paper.li/ideum/1406302985 … Stories via @mdscaff @ntcoding @NeinQuarterly
            </p>

            <footer class="footer">
              <a class="read" href="#FIXME">Retweet</a>
              <a class="share" href="#FIXME">View</a>
            </footer>

          </div>

          <i class="social-icon icon-twitter"></i>

        </li>

        <li class="flickr social-medi-slide item">

          <img src="{{theme.link}}/images/placeholder-buzz-feed-2.jpg">

          <i class="social-icon icon-flickr"></i>

        </li>

      </ul>

    </div>

    <div class="section-info">

      <p>
        <a href="/social-media-feed/" class="button active">View All</a>
      </p>

    </div>

  </section>

{% endblock %}
