{% extends "base.twig" %}

{% block header_image %}
  
{% endblock %}

{% block content %}

<section class="our-creative-services front-page-featured-projects">

  <div class="section-info">

    <h1>
      <a href="/creative-services/">Our Creative Services</a>
    </h1>

    <!-- content editable in WP via custom field on Home pg -->    
    {% if post.our_creative_services_text %}
      {{ post.our_creative_services_text }}
    {% endif %}

  </div>

  <ul class="slider project-wrap" rn-carousel rn-carousel-control rn-carousel-indicator rn-carousel-width="responsiveThreeUp()">

    {{recent_projects}}

  </ul>

  <div class="section-info">
    
    <p>
      <a href="/creative-services/" class="button active">View All</a>
    </p>

  </div>

</section>


{# the 'featured post' selection is drawn from the most recent post with the category of 
'Featured' (live id = '604', staging id = '592') - front-page.php on or around line 33 #}
{{featured_post}}


{% include "bar-featured-products.twig" %}


<section class="clients-n-partners" ng-init="clientSliderIndex = 0">

  <div class="section-info">

    <h1>
      <a href="/client-list/">Clients &amp; Partners</a>
    </h1>

    <!-- content editable in WP via custom field on Home pg -->    
    {% if post.clients_and_partners_text %}
      {{ post.clients_and_partners_text }}
    {% endif %}

  </div>

  {% include 'client-slider.twig' %}

</section>


<!-- end client-slider.twig -->


{% if post.get_field('featured_pages') %}

  <section class="featured-pages">
      
    {% for page_item in post.get_field('featured_pages') %}

      {% for detail_item in page_item.page_details %}

        <article class="content dynamic" style="background-image: url('{{detail_item.image}}');">

          <div class="txt-wrap">

            <h1>
              <a href="{{detail_item.link}}">{{detail_item.title}}</a>
            </h1>

            <p>
              {{detail_item.text}}
            </p>

            <!-- begin hidden content for {{ detail_item.title|replace(' ', '-')|lower }}-share -->
            <div style="display:none">
              <div id="{{ detail_item.title|replace(' ', '-')|lower }}-share" class="share-dialog">
                <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
                <p>Like what you see? Share this.</p>
                <!-- Facebook -->
                <a href="http://www.facebook.com/sharer.php?u={{detail_item.link}}" target="_blank"><img 
                class="sharing-icon" src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
                <!-- Twitter -->
                <a href="http://twitter.com/share?url={{detail_item.link}}&amp;text={{detail_item.title}}-{{detail_item.twitter_share_text}}" target="_blank"><img 
                class="sharing-icon" src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
                <!-- Google+ -->
                <a href="https://plus.google.com/share?url={{detail_item.link}}" target="_blank"><img 
                class="sharing-icon" src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
                <!-- LinkedIn -->
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{detail_item.link}}" target="_blank"><img 
                class="sharing-icon" src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
                <!-- Pinterest -->
                <!-- <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="http://m.ideum.com/img/social/pinterest.png" alt="Pinterest"></a> -->
                <a href="//www.pinterest.com/pin/create/button/?url={{detail_item.link}}&amp;media={{site_url}}{{detail_item.share_image}}&amp;description={{detail_item.text}}" data-pin-do="buttonBookmark" data-pin-shape="round" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
              </div>
            </div>
            <!-- end hidden content for {{ detail_item.title|replace(' ', '-')|lower }}-share - revealed in lightbox when user clicks 'Share This' link (below)-->

            <footer class="footer">
              <a class="read" href="{{detail_item.link}}">{{detail_item.link_text}}</a>
              <a class="tablet-n-desktop share inline" href="#{{ detail_item.title|replace(' ', '-')|lower }}-share">Share This</a>
              <a class="phone-only share share-dialog-phone" href="#{{ detail_item.title|replace(' ', '-')|lower }}-share">Share This</a>
            </footer>

          </div>

        </article>

      {% endfor %}

    {% endfor %}

  </section>

{% endif %}


<section class="social-media-feed">

  <div class="section-info">

    <h1>
      <a href="/social-media-feed/">Social Media Feed</a>
    </h1>

    <!-- content editable in WP via custom field on Home pg -->    
    {% if post.social_media_feed_text %}
      {{ post.social_media_feed_text }}
    {% endif %}

  </div>

  {# the social media slider (below) needs to be made dynamic - but there was no way to 
  do so before launch as the social media feed Functionality was not built in time #}

  <div class="social-media-feed-slider">

    <ul class="slider" rn-carousel rn-carousel-control rn-carousel-indicator rn-carousel-width="responsiveThreeUp()">

      {% for social_post in social_media_feed|slice(0, 6) %}{# restricts slides to 6 #}

      <li class="item {{social_post.source}}" 
        {% if social_post.source == 'flickr' %} style="background-image:url('{{social_post.image}}');"{% endif %}>

        <a class="view" href="{{social_post.url}}" target="_blank">
        {% if social_post.source == 'youtube' or social_post.source == 'facebook' %}<img class="img-circular" src="{{social_post.image}}">{% endif %}
        </a>

        <div class="content">
          
          {% if social_post.source != 'flickr' %}
            {% if social_post.text %}
              <p>
                {% if social_post.text|length < 258 %}
                  {{social_post.text}}
                {% else %}
                  {{social_post.text[:258]}}...
                {% endif %}
              </p>
            {% endif %}
          {% endif %}

        </div>

        <footer class="footer">
          {% if social_post.source == 'twitter' %}
          <a class="read" href="http://twitter.com/home?status={{social_post.text}}" target="_blank">Retweet</a>
          {% endif %}
          <a class="share" href="{{social_post.url}}" target="_blank">View on {{social_post.source}}</a>
        </footer>

        <i class="social-icon icon-{{social_post.source}}"></i>

      </li>

      {% endfor %}

    </ul>

  </div>

  <div class="section-info">

    <p>
      <a href="/social-media-feed/" class="button active">View All</a>
    </p>

  </div>

</section>

<!-- begin hidden content for front-page-share -->
<div style='display:none'>
  <div id='home-share' class="share-dialog">
    <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Share this.</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum - Exhibit Design + Multitouch Software and Hardware" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url={{post.link|url_encode}}&amp;title=Ideum - Exhibit Design + Multitouch Software and Hardware" 
    target="_blank"><img class="sharing-icon"  src="/wp-content/themes/ideum/images/social/tumblr.png" alt="Tumblr" /></a>
  </div>
</div>
<!-- end hidden content for page-share - revealed when user clicks 'Share This Page' link in footer -->

{% endblock %}
