<section class="social-media-links">

  <div class="social-interior">

    <div class="tabs">
      
      {% for item in tabs.get_items %}
      <h2 class="{{item.classes | join(' ')}}"><a href="{{item.get_path}}">{{item.title}}</a></h2>
      {% endfor %}

    </div>

    <ul class="social-icons">
      <li><a href="https://www.facebook.com/ideum" target="_blank"><i class="icon-facebook"></i></a></li>
      <li><a href="https://twitter.com/ideum" target="_blank"><i class="icon-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/company/ideum" target="_blank"><i class="icon-linkedin"></i></a></li>
      <li><a href="https://plus.google.com/+Ideum/posts" target="_blank"><i class="icon-gplus"></i></a></li>
      <li><a href="https://www.youtube.com/user/multitouchexhibits/" target="_blank"><i class="icon-youtube"></i></a></li>
      <li><a href="http://vimeopro.com/ideum/ideum" target="_blank"><i class="icon-vimeo"></i></a></li>
      <li><a href="https://www.flickr.com/photos/ideum/" target="_blank"><i class="icon-flickr"></i></a></li>
      <li><a href="http://www.pinterest.com/ideum/" target="_blank"><i class="icon-pinterest"></i></a></li>
      <li><a href="/?feed=rss"><i class="icon-rss" target="_blank"></i></a></li>
    </ul>

  </div>

</section>

<div class="main">

  <h1 class="logo">
    <a href="/">{{site.name}}</a>
  </h1>

  <nav>

    <button ng-click="toggleMenu()"><i class="icon-menu"></i></button>

    <ul class="primary-nav">
      {% for item in nav.get_items %}
      <li class="{{item.classes | join(' ')}}"><a href="{{item.get_path}}">{{item.title}}</a></li>
      {% endfor %}
    </ul>

  </nav>

</div>

{% block header_image %}

  {% if post.slides and post.slug == 'home' %}

    <!-- begin slides -->

    <style>
      /* begin pseudo-dynamic styles for front-page slider */
      {% for slide in post.get_field('slides') %}
        .slider-item-article.slide-{{loop.index0}} { background: {{slide.background_color}} url('{{TimberImage(slide.slide_image).src}}') no-repeat center center; background-size: auto 800px; }
        .slider-item-article.slide-{{loop.index0}} h1, .slider-item-article.slide-{{loop.index0}} h1 a, .slider-item-article.slide-{{loop.index0}} h1 a:hover, .slider-item-article.slide-{{loop.index0}} h2, .slider-item-article.slide-{{loop.index0}} p, .slider-item-article.slide-{{loop.index0}} a { color: {{slide.text_color}}; text-shadow: 2px 4px 8px #000; }
        .slider-item-article.slide-{{loop.index0}} .page-intro-inner { {% if slide.text_content_alignment == 'Center' %}margin: 0 auto; text-align:center;{% else %}float:{{slide.text_content_alignment}};text-align:{{slide.text_content_alignment}};{% endif %} } 
      {% endfor %}
      /* end pseudo-dynamic styles for front-page slider */
    </style>

    <section class="front-page-slider{% if post.slides %}{% else %} no-slide{% endif %}">

      <ul rn-carousel rn-carousel-control rn-carousel-indicator>

        {% for item in post.get_field('slides') %}

          <li class="slider item {{item.text_content_alignment}}">

            <article class="slider-item-article slide-{{loop.index0}}">

              <img class="slider-spacer-image" src="{{TimberImage(item.slide_image).src}}">

              <div class="slide-text-wrap">

                <div class="slide-text-content{% if item.text_content_alignment %} {{item.text_content_alignment}}{% endif %}">

                    {{item.slide_text_content}}

                </div>

              </div>

            </article>

          </li>

        {% endfor %}

      </ul>

    </section>

    <!-- end slides -->

  {% else %}

    <div class="header-image">

      <div class="{% if custom_slug %}{{custom_slug}}{% else %}{{ post.slug }}{% endif %}{% if post.get_field('has_image') == 'No' %} no-image{% endif %}">

        {% if custom_header %}
        {{ custom_header }}
        {% else %}
        {{post.get_field('header_image_text_content')}}
        {% endif %}

      </div>

    </div>

  {% endif %}
  
{% endblock %}
