<section class="social-media-links">

  <div class="social-interior">

    <div class="tabs">
      
      {% for item in tabs.get_items %}
      <h2 class="{{item.classes | join(' ')}}"><a href="{{item.get_path}}">{{item.title}}</a></h2>
      {% endfor %}

      <!-- 
      <h2><a href="#FIXME">Blog</a></h2>
      <h2><a href="#FIXME">Our Story</a></h2>
      <h2 class="active"><a href="#FIXME">Social Media Feed</a></h2>
      -->

    </div>

    <ul class="social-icons">
      <li><a href="https://www.facebook.com/ideum" target="_blank"><i class="icon-facebook"></i></a></li>
      <li><a href="https://twitter.com/ideum" target="_blank"><i class="icon-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/company/ideum" target="_blank"><i class="icon-linkedin"></i></a></li>
      <li><a href="https://plus.google.com/+Ideum/posts" target="_blank"><i class="icon-gplus"></i></a></li>
      <li><a href="https://www.youtube.com/user/multitouchexhibits/" target="_blank"><i class="icon-youtube"></i></a></li>
      <li><a href="http://vimeopro.com/ideum/ideum" target="_blank"><i class="icon-vimeo"></i></a></li>
      <li><a href="https://www.flickr.com/photos/ideum/" target="_blank"><i class="icon-flickr"></i></a></li>
      <li><a href="http://www.pinterest.com/ideum/" target="_blank"><i class="icon-pinterest"></i></a></li>
      <li><a href="/?feed=rss"><i class="icon-rss" target="_blank"></i></a></li>
    </ul>

  </div>

</section>

<div class="main">

  <h1 class="logo">
    <a href="/">{{site.name}}</a>
  </h1>

  <nav>
    <button ng-click="toggleMenu()"><i class="icon-menu"></i></button>

    <ul class="primary-nav">
      {% for item in nav.get_items %}
      <li class="{{item.classes | join(' ')}}"><a href="{{item.get_path}}">{{item.title}}</a></li>
      {% endfor %}
      <!-- 
      <li><a href="#FIXME">Creative Services</a></li>
      <li class="active"><a href="#FIXME">Multitouch Tables</a></li>
      <li><a href="#FIXME">Touch Walls</a></li>
      <li><a href="#FIXME">Contact</a></li>
      -->
    </ul>
  </nav>

  {% block header_image %}
  {% endblock %}
</div>
