<meta charset="{{site.charset}}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<link rel="shortcut icon" href="/wp-content/themes/ideum/images/favicon.ico" />
<link rel="apple-touch-icon" href="/wp-content/themes/ideum/images/iPhoneIcon.png"/>

<meta name="google-site-verification" content="brxnLtsKoz7BBFWkh_keSUHpdLYn7ZDnH8WNzvSke8Q" />

<title>{% if post.alternative_meta_title %}{{ post.alternative_meta_title }}{% elseif blog.alternative_meta_title %}{{ blog.alternative_meta_title }}{% elseif acf.alternative_meta_title.value %}{{ acf.alternative_meta_title.value }}{% elseif post.title  %}{{ post.title }} | Ideum{% elseif ogp_title %}{{ ogp_title }}{% elseif post.title  %}{{ post.title }} | Ideum{% else %}{{wp_title}} | Ideum{% endif %}</title>

{#% if post.alternative_meta_keywords %}
<meta name="keywords" content="{{ post.alternative_meta_keywords }}">
{% elseif blog.alternative_meta_keywords %}
<meta name="keywords" content="{{ blog.alternative_meta_keywords }}">
{% elseif ogp_keywords %}<meta name="keywords" content="{{ ogp_keywords }}">
{% endif %#}

{# create a last ditch generic blog posts image value for posts that were imported 
Yes, Ben, I know how you feel about this kind of thing - but as you have not offered 
a better solution---one that works, I mean---we will have to go with this. #}
{% if post.has_term('Publications') %}
  {% set generic_post_img = 'blog-publications.jpg' %}
{% elseif post.has_term('Open Exhibits') %}
  {% set generic_post_img = 'blog-openexhibits.jpg' %}
{% elseif post.has_term('Gesture Works') %}
  {% set generic_post_img = 'blog-gestureworks.jpg' %}
{% elseif post.has_term('Ideum Labs') %}
  {% set generic_post_img = 'blog-ideumlabs.jpg' %}
{% elseif post.has_term('Awards') %}
  {% set generic_post_img = 'blog-awards.jpg' %}
{% elseif post.has_term('Conferences') %}
  {% set generic_post_img = 'blog-conferences.jpg' %}
{% elseif post.has_term('New Mexico') %}
  {% set generic_post_img = 'blog-newmexico.jpg' %}
{% else %}
  {% set generic_post_img = 'blog-ideum.jpg' %}
{% endif %}

<meta name="description" content="{% if page.opengraph.description %}{{ page.opengraph.description }}{% elseif blog.alternative_meta_description %}{{ blog.alternative_meta_description }}{% elseif post.alternative_meta_description %}{{ post.alternative_meta_description }}{% elseif ogp_description %}{{ ogp_description }}{% elseif post.pull_quote %}{{ post.pull_quote }}{% elseif post.excerpt %}{{ post.title }} - {{ post.excerpt }}{% elseif post.get_preview %}{{post.get_preview(34, 'true', '', 'true')}}{% else %}{{ site.description }}{% endif %}">
<!-- 
<meta property="og:site_url" content="{{site.url}}">
-->
<meta property="og:site_name" content="{{ site.title }}">

<meta property="og:type" content="{% if page.opengraph.type %}{{ page.opengraph.type }}{% elseif post.id == '11878' %}website{% else %}article{% endif %}">

<meta property="og:url" content="{% if post.permalink %}{{ post.permalink }}{% elseif custom_cat_url %}{{ custom_cat_url }}{% elseif custom_slug2 %}{{ site.url }}/{{ custom_slug2 }}/{% elseif custom_slug %}{{ site.url }}/{{ custom_slug }}/{% else %}{{ site.url }}/{{ post.slug }}/{% endif %}"> 

<meta property="og:title" content="{% if post.alternative_meta_title %}{{ post.alternative_meta_title }}{% elseif blog.alternative_meta_title %}{{ blog.alternative_meta_title }}{% elseif ogp_title %}{{ ogp_title }}{% elseif post.title  %}{{ post.title }} | Ideum{% else %}{{wp_title}} | Ideum{% endif %}">


<meta property="og:image" content="{% if page.opengraph.image %}{{ page.opengraph.image }}{% elseif post.alternative_meta_image %}{{site.url}}{{TimberImage(post.get_field('alternative_meta_image')) }}{% elseif post.alternative_meta_image_path %}{{site.url}}/{{ post.alternative_meta_image_path }}{% elseif blog.alternative_meta_image %}{{site.url}}{{TimberImage(blog.get_field('alternative_meta_image')) }}{% elseif blog.alternative_meta_image_path %}{{site.url}}{{TimberImage(blog.get_field('alternative_meta_image_path')) }}{% elseif post.thumbnail %}{{site.url}}{{ post.get_thumbnail.get_src }}{% elseif post.primary_image %}{{site.url}}{{TimberImage(post.get_field('primary_image')) }}{% elseif ogp_image_path %}{{site.url}}/{{ ogp_image_path }}{% elseif page.thumbnail %}{{site.url}}/{{ page.get_thumbnail.get_src }}{% elseif generic_post_img %}{{site.url}}/wp-content/themes/ideum/images/generic-images/{{generic_post_img}}{% else %}{{ site.opengraph.default_image }}{% endif %}">

<!-- {{ post.primary_image }} -->


<meta property="og:description" content="{% if page.opengraph.description %}{{ page.opengraph.description }}{% elseif blog.alternative_meta_description %}{{ blog.alternative_meta_description }}{% elseif post.alternative_meta_description %}{{ post.alternative_meta_description }}{% elseif ogp_description %}{{ ogp_description }}{% elseif post.pull_quote %}{{ post.pull_quote }}{% elseif post.excerpt %}{{ post.title }} - {{ post.excerpt }}{% elseif post.get_preview %}{{post.get_preview(34, 'true', '', 'true')}}{% else %}{{ site.description }}{% endif %}"/>

{# 
<meta property="og:url" content="{% if page.opengraph.url %}{{ page.opengraph.url }}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}"> 
#}

<link rel="alternate" type="application/rss+xml" title="Ideum - Exhibit Design + Multitouch Software and Hardware &raquo; Customer Support Comments Feed" href="{{site.url}}/feed/" />
<link rel="alternate" type="application/rss+xml" title="Ideum - Exhibit Design + Multitouch Software and Hardware &raquo; Customer Support Comments Feed" href="{{site.url}}/creative-services/feed/" />

<link rel="pingback" href="{{site.pingback_url}}" />

{# begin scripts that might best go elsewhere - Ben, I leave that to you #}

<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"+cU1j1a8Dy002H", domain:"ideum.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=+cU1j1a8Dy002H" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript --> 

<!-- begin google ad services script -->
<noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1072509777/?label=lKb-CJ638AIQ0ea0_wM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
<!-- end google ad services script -->

{# end scripts that might best go elsewhere - also see bottom of base.twig #}

{{function('wp_head')}}
