{% extends "base.twig" %}

{% block content %}

<main class="productOuterWrapper">
  <header>
    <h1>Pro</h1>
    <img src="{{theme.link}}/images/products/pro/header.jpg">
  </header>
  <main class="productInnerWrapper">
    <div ng-app="ideum.tabs">
      <!-- Tabs -->
      <div tabs class="pro">
        <!-- PLATFORM TAB -->
        <div pane title="Pro">
          <header>
            <h1>Pro</h1>
            <h2>Powerful Pro, Easily Expandable</h2>
          </header>
          <div ng-app="productDetails">
            <section class="x-ray pro" ng-controller="xRayCtrl" ng-init="dataIndex = 0">
              <section class="overlay" ng-style="overlayStyle">
                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">
                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>
                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>
              </section>
            </section>
          </div>       
        </div>

        <div pane title="Pro Lab">
          <header>
            <h1>Pro Lab</h1>
            <h2>High-Powered, High Security</h2>
          </header>
          <div ng-app="productDetails">
            <section class="x-ray pro-lab" ng-controller="xRayCtrl" ng-init="dataIndex = 1">
              <section class="overlay" ng-style="overlayStyle">
                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">
                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>
                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>
              </section>
            </section>
          </div>
        </div>
    </div> <!-- Close tabs -->

    <section class="productSection pro">
      <div class="prod-sect-img-wrap img-left">
        <img class="left" src="{{theme.link}}/images/products/pro/half_01.jpg">
      </div>
      <div class="productText white">
        <h2>Powerful, Tough &amp; Secure</h2>
        <p>
          The Pro series is perfect for research labs, museums, public spaces, and other
          demanding environments. The housing for the tables is all aluminum and the Pro
          and Pro Lab come with a durable scratch-resistant glass surface. The Pro Lab
          also has a removable drive system that provides the ultimate solution for data
          security.
        </p>

        <!-- begin hidden content for product-share -->
        <div style='display:none'>
          <div id='pro-share' class="share-dialog">
            <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
            <p>Like what you see? Share this.</p>
            <!-- Facebook -->
            <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
            <!-- Twitter -->
            <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum Pro and Pro Lab Tables" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
            <!-- Google+ -->
            <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
            <!-- Pinterest -->
            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
          </div>
        </div>
        <!-- end hidden content for product-share - revealed when user clicks 'Share This' link (below)-->

        <footer class="footer">
          <a class="tablet-n-desktop share share-dialog-tab-desk" href="#pro-share">Share This</a>
          <a class="phone-only share share-dialog-phone" href="#pro-share">Share This</a>
        </footer>
        
      </div>
    </section>

    <section class="productSection">
      <div class="prod-sect-img-wrap full img-left">
        <img class="full tablet-n-desktop" src="{{theme.link}}/images/products/pro/full_01.jpg">
        <img class="full phone-only" src="{{theme.link}}/images/products/pro/full_01_phone.jpg">
      </div>
      <div class="productText fullRight">
        <h2>Open Minded</h2>
        <p>
          The core of the Pro and Pro Lab is the workstation computer that is completely
          accessible for any upgrades, expansions or possibly even another computer
          altogether in the future.
        </p>
      </div>
    </section>

    <section class="section-info">
      <h1>Key Features</h1>
    </section>
    
    <ul
      class="slider pro"
      ng-init="clientSliderIndex = 0"
      rn-carousel
      rn-carousel-control
      rn-carousel-indicator
      rn-carousel-width="responsiveTwoUp()"
      rn-carousel-index="clientSliderIndex"
    >
      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/armed.svg' %}
        </div>
        <h3>Armed &amp; Hyperthready</h3>
        <p>
          The integrated computer is a powerhouse. It includes an Intel&reg; Quad Core i7
          4770&reg; (3.4GHz) with Hyperthreading&reg;, 4MB cache computer with 16GB of RAM, and 500GB HDD.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/reach.svg' %}
        </div>
        <h3>Reach Out &amp; Touch Everything</h3>
        <p>
          Along with 40 touch points, the touch surface on the Pro and Pro Lab tables has
          palm rejection, a bright HD or 4K / UHD resolution screen, and up to a 60hz
          refresh rate.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/widi.svg' %}
        </div>
        <h3>Full Intensity Workstation</h3>
        <p>
          The Pro and Pro Lab come with a full, expandable workstation computer that
          makes it create for processor-intensive tasks. Whether you are running
          cutting-edge multiuser museum exhibits, complex visualizations, or games—the
          Pro series can handle just about any application you might run.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/demanding.svg' %}
        </div>
        <h3>Security Meets Flexibility</h3>
        <p>
          A unique feature of the Pro Lab is its removable drive system. This feature
          allows for enhancement and complete security, as any hard drive can be easily
          detached from its cradle and moved to another location for storage.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/demanding.svg' %}
        </div>
        <h3>Built for Demanding Spaces</h3>
        <p>
          The multitouch tables have a chemically strengthened glass top and the chassis
          is made out of aircraft-grade aluminum.  We are proud to say that the Pro
          tables have exceptional build-quality and are perfect for public spaces and
          other demanding environments. The Pro multitouch tables can travel too. They
          can fit through standard doorways even when packed in a protective ATA case
          (upgrade option).
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/gestureworks.svg' %}
        </div>
        <h3>Creation by Intelligent Design</h3>
        <p>
          The Pro and Pro Lab multitouch tables come with a lifetime license for
          GestureWorks Core (C++, C# / .NET, Java, Python, and HTML5 / JavaScript) and
          Open Exhibits (ActionScript). The license includes ticketed, timely support and
          free upgrades for life.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/graphically.svg' %}
        </div>
        <h3>Graphically Speaking</h3>
        <p>
          The Pro and Pro Lab multitouch tables come with powerful graphics cards with an
          emphasis on performance. A standard 16GB of RAM ensures that the Pro
          multitouch tables can handle any application thrown at them.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/warranty.svg' %}
        </div>
        <h3>Two Year Limited Warranty</h3>
        <p>
          We stand by our products and provide a two-year warranty against defective materials 
          or workmanship. The same people who build our products, provide support. See our  
          <a href="/spec-sheets/2year-Touch-Product-Warranty.pdf" target="_blank">warranty document</a> for 
          full details and restrictions.
        </p>
      </li>
      
    </ul>

    <a class="very-dark-gray-button" href="/spec-sheets/Specs-Pro.pdf">Download Spec Sheet</a>

    <section class="productSection full plain" 
    style="background:url('{{theme.link}}/images/products/pro/full_03.jpg') no-repeat top center; background-size:cover;">
      <div class="productText white fullLeft">
        <h2>Upgrades</h2>
        <p> 
          There are a variety of upgrades and add-ons for sharing and portability.
          <div class="specs">
            <ul class="specList">
              <li class="listHeader">Pro</li>
              <li>Windows 7 Ultimate</li>
              <li>Blu-ray Writer</li>
              <li>Dual 1 TB 7,200 RPM Hard Disk Drives</li>
              <li>Dual 128 or 256GB Solid State Drives</li>
              <li>ATA Travel Case</li>
            </ul>
            <ul class="specList column2">
              <li class="listHeader">Pro Lab</li>
              <li>Blu-ray Writer</li>
              <li>Three 1TB 7,200 RPM Hard Disk Drives</li>
              <li>Three 2TB 7,200 RPM Hard Disk Drives</li>
              <li>Dual 128 or 256GB Solid State Drives</li>
              <li>ATA Travel Case</li>
            </ul>
          </div>
        </p>
      </div>
    </section>

    <section class="made-in-usa pro">

      <h2>
        Made in the USA
      </h2>

    </section>

    <section class="productSection">
      <div class="prod-sect-img-wrap img-left">
        <img class="left" src="{{theme.link}}/images/products/pro/06_direct-sales-pro.jpg">
      </div>
      <div class="productText">
        <h2>Direct Sales</h2> <!-- Does the average person know what this means?? -->
        <p>
          Please contact us at (505) 792-1110 ext. 1 or toll free in the US and Canada (855) 898-6824, use our online inquiry form, or email us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;">&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;</a>. The Pro and Pro Lab are sold domestically and internationally and are only available direct from Ideum.
        </p>
      </div>
    </section>
  </main>
</main>
{% endblock %}
