{% extends "base.twig" %}

{% block content %}

<!-- see template for details of use -->
{# 
  css is required for each product type in the 'product colors' section in the directory: stylesheets > _variables.scss 
  also styles are required  for PRODUCT STYLES section in the directory: stylesheets > components > _x-ray.scss > 
#}

<main class="productOuterWrapper">

  <header>
    <h1 class="tablet-n-desktop">Duet Multitouch Coffee Tables</h1>
    <img src="{{theme.link}}/images/products/duet/001_duetHeader.jpg">
  </header>

  <main class="productInnerWrapper">

    <div ng-app="ideum.tabs">

      <!-- Tabs -->
      <div tabs class="coffee">

        <!-- Duet 46 Coffeee Table Tab -->
        <div pane title="Duet 46” Coffee Table" class="tablet-n-desktop"><!-- change title to appropriate name - this is actual text on product tab -->
          
          <header>
            <h1>Duet 46 Coffee Table</h1>
            <h2>Powerful Windows 8 and Android Dual-Boot Systems</h2>
          </header>

          <div ng-app="productDetails"><!-- change class (below) to appropriate name - make sure images > x-rays has appropriately named images (2) -->

            <section class="x-ray duet-46-coffee" ng-controller="xRayCtrl" ng-init="dataIndex=0"><!-- change dataIndex to tab # - 0 is start -->

              <section class="overlay" ng-style="overlayStyle">

                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">

                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>

                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>

              </section>

            </section>

          </div>

        </div>

        <!-- Duet 42 Coffee Table Tab -->
        <div pane title="Duet 42” Coffee Table" class="tablet-n-desktop"><!-- change title to appropriate name - this is actual text on product tab -->

          <header>
            <h1>Duet 42 Coffee Table</h1>
            <h2>Powerful Windows 8 and Android Dual-Boot Systems</h2>
          </header>

          <div ng-app="productDetails"><!-- change class (below) to appropriate name - make sure images > x-rays has appropriately named images (2) -->

            <section class="x-ray duet-42-coffee" ng-controller="xRayCtrl" ng-init="dataIndex=1"><!-- change dataIndex to tab # - 0 is start -->

              <section class="overlay" ng-style="overlayStyle">

                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">

                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>

                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>

              </section>

            </section>

          </div>

        </div>

        <!-- Generic Phone Only Tab -->
        <div title="Duet Coffee Tables" class="phone-only"><!-- change title to appropriate name - this is actual text on product tab -->

          <header>
            <h1>Duet 46 &amp; 42 Coffee Tables</h1>
            <h2>Powerful Windows 8 and Android Dual-Boot Systems</h2>
          </header>
          
        </div>

      </div><!-- Close tabs -->

    </div><!-- Close ideum.tabs -->

  
    <!-- ########## Begin Duet Coffee Table Section ########## -->

    <section class="featured-video post-style img-left light-gold">

      <article class="content">

        <div class="img-wrap">

          <!-- <a class="iframe" href="//www.youtube.com/embed/wKUXKRpuWhM?autoplay=1" style="display:flex;"> -->
          <span class="non-link">
            <img class="left" src="{{theme.link}}/images/products/duet/003_videoImage_still.jpg">
          </span>
          <!-- </a> --><!-- 003_videoImage_still.jpg -->
          <!-- <span class="non-link"> replaces 'a' tag if no link provided -->

        </div>

        <div class="txt-wrap">

          <h1>
            The Duet Coffee Table
          </h1>

          <p><!-- use class 'white-dotted-allstops' for links -->
            Ideum’s third-generation multitouch coffee table, the Duet, comes standard with Windows 8 or Android, or you can select a dual-boot option. The Duet is available with either a genuine 3M™ 46” HD touch screen (C4667PW) or a sleek 42” screen using the latest in touch technology with a Philips commercial HD display. 
          </p>

          <!-- begin hidden content for platform-coffee-share -->
          <div style="display:none;">
            <div id="platform-coffee-share" class="share-dialog">
              <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
              <p>Like what you see? Share this.</p>
              <!-- Facebook -->
              <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
              src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
              <!-- Twitter -->
              <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum Duet Multitouch Coffee Tables" target="_blank"><img class="sharing-icon" 
              src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
              <!-- Google+ -->
              <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
              src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
              <!-- LinkedIn -->
              <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
              src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
              <!-- Pinterest -->
              <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
							<!-- Tumblr-->
							<a href="http://www.tumblr.com/share/link?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
							src="/wp-content/themes/ideum/images/social/tumblr.png" alt="Tumblr" /></a>
            </div>
          </div>
          <!-- end hidden content for platform-coffee-share - revealed when user clicks 'Share This' link (below)-->

          <footer class="footer">
            
            <!-- 
            <a class="read iframe" href="//www.youtube.com/embed/wKUXKRpuWhM?autoplay=1">YouTube</a>
            <a class="read iframe" href="http://player.vimeo.com/video/117642889?autoplay=1">Vimeo</a>
            -->
            <a class="read" href="http://touchcoffeetable.com/" target="_blank">View Micro-Site</a>         

            <a class="inline-share read" href="#platform-coffee-share">Share This</a>

          </footer>

        </div>

      </article>

    </section>

    <!-- ########## End Duet Coffee Table Section ########## -->

    <section class="productSection">
      <div class="prod-sect-img-wrap img-left" style="background:url('{{theme.link}}/images/products/duet/004_firstKind.jpg') no-repeat top center; background-size:cover;">
        <img class="left phone-only" src="{{theme.link}}/images/products/duet/004_firstKind.jpg">
      </div>
      <div class="productText">
        <h2>For Work or Play</h2>
        <p><!-- DO NOT use class 'white-dotted-tab-n-desk' or 'white-dotted-allstops' for links -->
          The third-generation Duet multitouch coffee table is tough enough for any environment, public or private. Its sleek lines and clean design make it fit in just about anywhere. It is lockable and secure or can be set up for easy access to the power button and USB ports.
        </p>
      </div>
    </section>

    <section class="productSection plain phone-only platform-coffee full bleeder">
      <img class="right phone-only" src="{{theme.link}}/images/products/duet/005_doubleDown.jpg">
      <div class="productText white fullLeft">
        <h2>Windows, Android or Both</h2>
        <p> 
          Ideum was the first to offer a multitouch coffee table with Android. The third-generation Duet comes standard with Windows 8 or Android. You can also select a dual-boot option. With hundreds of thousands of touch-enabled apps for Windows and Android, the Duet can be used for just about any purpose. 
        </p>
      </div>
    </section>

    <section class="productSection plain tablet-n-desktop platform-coffee full bleeder" style="background-image:url('{{theme.link}}/images/products/duet/005_doubleDown.jpg');">
      <div class="productText white fullLeft">
        <h2>Windows, Android or Both</h2>
        <p><!-- use class 'white-dotted-allstops' for links -->
          Ideum was the first to offer a multitouch coffee table with Android. The third-generation Duet comes standard with Windows 8 or Android. You can also select a dual-boot option. With hundreds of thousands of touch-enabled apps for Windows and Android, the Duet can be used for just about any purpose. 
        </p>
      </div>
    </section>

    
    <section class="section-info key-features-head">
      <h1>Key Features</h1>
    </section>

    <ul
      class="slider platform-coffee"
      ng-init="clientSliderIndex = 0"
      rn-carousel
      rn-carousel-control
      rn-carousel-indicator
      rn-carousel-width="responsiveTwoUp()"
      rn-carousel-index="clientSliderIndex"
    >
    
    <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
      <div class="svgHolder twotimes">
        {% include '/images/products/svg/timestwo.svg' %}
      </div>
      <h3>Windows 8 and Android</h3>
      <p>
        The Duet multitouch coffee table comes standard with Windows 8 or Android, or you can select a dual-boot option. We are the only major integrator to offer this option.
      </p>
    </li>

      
      <!-- 
        <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
          <div class="svgHolder edison">
            {#% include '/images/products/svg/edison.svg' %#}
          </div>
          <h3>Intel Edison</h3>
          <p>
            At the core of the Duet coffee table is Intel’s Edison, a small, powerful mini-computer, 
            which has been programmed to facilitate the seamless switch between the Android and Windows 
            8 systems.
          </p>
        </li> 
      -->

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/reach.svg' %}
        </div>
        <h3>Reach Out &amp; Touch Everything</h3>
        <p>
          The Duet 46 and 42 have incredibly responsive projected-capacitive touch screens. Both models use industry leading touch technology.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/demanding.svg' %}
        </div>
        <h3>Built for Demanding Spaces</h3>
        <p>
          The Duet multitouch coffee tables have a chemically strengthened glass top and the chassis is made out of aircraft-grade aluminum and cold-rolled steel. It is perfect for public spaces and other demanding environments. The table can travel too. It can fit through standard doorways even when packed in a protective ATA case (upgrade option)
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/gestureworks.svg' %}
        </div>
        <h3>Creation by Intelligent Design</h3>
        <p>
          The Duet comes with a lifetime license for GestureWorks SDK (C++, C# / .NET, Java). The license includes ticketed, timely support (one year is included free*) and free upgrades for life. GestureWorks Gameplay is also included.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/warranty.svg' %}
        </div>
        <h3>Two Year Warranty</h3>
        <p>
          We stand by our products and provide a two-year warranty. The same people who build our products, provide support. See our <a href="http://ideum.com/spec-sheets/Ideum-2year-Touch-Product-Warranty.pdf" target="_blank">warranty document</a> for full details and restrictions.
        </p>
      </li>

    </ul>

    <a class="very-dark-gray-button spec-sheet-button" href="http://ideum.com/spec-sheets/Ideum-Specs-Duet.pdf">Download Spec Sheet</a>

    <section class="productSection plain platform-coffee full" 
    style="background:url('{{theme.link}}/images/products/duet/006_hubConnect.jpg') no-repeat top center; background-size:cover;">
      <div class="productText white fullRight">
        <h2>The Hub of the Connected Home</h2>
        <p><!-- use class 'white-dotted-allstops' for links -->
          The Duet coffee table can be a hub in home and public spaces, allowing you to control devices and environment &mdash; all from one centralized location. It’s the command center you’d envisioned for the future, made possible today by the innovative design and technology of Ideum.
        </p>
      </div>
    </section>

    <section class="productSection">
      <div class="prod-sect-img-wrap img-right" 
      style="position:relative !Important;background:url('{{theme.link}}/images/products/duet/007_bestBuilt.jpg') no-repeat center center; background-size:cover;">
        <img class="right" src="{{theme.link}}/images/products/duet/007_bestBuilt.jpg" style="visibility:hidden;">
      </div>
      <div class="productText">
        <h2>The Best Built Touch Tables. Period.</h2>
        <p><!-- DO NOT use class 'white-dotted-tab-n-desk' or 'white-dotted-allstops' for links -->
          Sleek and slim, the Duet multitouch coffee table is also just as tough and secure as all the other tables that have helped to make Ideum so well-known around the globe, since 2008. Ideum stands behind their products, and offers prompt, reliable service — to ensure that this smart multitouch coffee table will continue to meet your needs for museums, schools, store-settings, lobbies, or home.
        </p>
      </div>
    </section>

    <section class="productSection plain platform-coffee full" 
    style="background:url('{{theme.link}}/images/products/duet/008_3MTouch.jpg') no-repeat top center; background-size:cover;">

      <div class="productText white fullLeft">
        <h2>3M Touch is Better</h2>
        <p> <!-- use class 'white-dotted-allstops' for links -->
          The Duet has a sleek design, and uses an industry leading 3M™ touch controller.
          <div class="specs">
            <ul class="specList">
              <li>Bezel-free design</li>
              <li>Fast &lt;12 multitouch response time</li>
              <li>60 touch points (Android capped at 10)</li>
            </ul>

            <ul class="specList column2">
              <li>Anti-glare coating</li>
              <li>Chemically strengthened glass</li>
              <li>1080p ultra-thin HD display</li>
            </ul>
          </div>
        </p>
      </div>
    </section>

    <section class="made-in-usa platform-coffee">

      <h2>
        Made in the USA
      </h2>

    </section>

    <section class="productSection">
      <div class="prod-sect-img-wrap img-left" style="background:url('{{theme.link}}/images/products/duet/009_directSales.jpg') no-repeat top center; background-size:cover;background-position: 0 -10px;">
        <img class="left phone-only" src="{{theme.link}}/images/products/duet/009_directSales.jpg">
      </div>
      <div class="productText">
        <h2>Sales &amp; Rentals</h2>
        <p>
          Please contact us at <span class="faux-link">(505) 792-1110</span> ext. 1 or toll free in the US and Canada <span class="faux-link">(855) 898-6824</span>, use our <a href="/contact">online inquiry form</a>, or email us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;">&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;</a>. The Duet is sold domestically and internationally and is available direct from Ideum. We also rent the Duet and other multitouch tables and touch walls in the US.
        </p>
				<p class="note">Ideum sells the Duet <a href="https://www.gsaadvantage.gov/advantage/catalog/product_detail.do?contractNumber=GS-35F-129DA&itemNumber=DUET+3M+46+COFFEE+TABLE+HD+%28DUAL+BOOT%29&mfrName=IDEUM%2C+INC." target="_blank">46</a> and <a href="https://www.gsaadvantage.gov/advantage/catalog/product_detail.do?contractNumber=GS-35F-129DA&itemNumber=DUET+42+COFFEE+TABLE+HD+%28PC+ONLY%29&mfrName=IDEUM%2C+INC." target="_blank">42</a> Coffee Tables on GSA Advantage!®, the online ordering system (www.gsaadvantage.gov) for qualified government buyers. Contract <a 
         href="http://www.gsaelibrary.gsa.gov/ElibMain/contractorInfo.do?contractNumber=GS-35F-129DA&contractorName=IDEUM%2C+INC.&executeQuery=YES" target="_blank">GS-35F-129DA</a>.</p>
      </div>
    </section>

  </main>

</main>
{% endblock %}
