{% extends "base.twig" %}

{% block content %}

<div id="touch-tables" class="redux">

  <section class="product-category">
    
    <section class="productSection img-right colossus">
      <div class="prod-sect-img-wrap" style="background:url('{{theme.link}}/images/products/colossus/colossus-855x480.jpg') no-repeat top center; background-size:cover;">
        <a class="img-link" href="/colossus"><img class="left phone-only" src="{{theme.link}}/images/products/colossus/colossus-855x480.jpg"></a>
      </div>
      <div class="productText colossus">
        <h3>Multitouch Table</h3>
        <h2>Colossus</h2>
        <ul>
          <li>84" UHD 4K Display</li>
          <li>P-CAP Touch Technology</li>
          <li>Up to 40 Touch Points</li>
          <li>Up to 8 Simultaneous Users</li>
        </ul>
        <div class="button-wrap">
          <a class="product-button" href="/colossus">Learn More</a>
        </div>
      </div>
    </section>

    <section class="productSection img-left pano">
      <div class="prod-sect-img-wrap" style="background:url('{{theme.link}}/images/products/pano/pano-855x480.jpg') no-repeat top center; background-size:cover;">
        <a class="img-link" href="/pano"><img class="left phone-only" src="{{theme.link}}/images/products/pano/pano-855x480.jpg"></a>
      </div>
      <div class="productText pano">
        <h3>Multitouch Table</h3>
        <h2>Pano</h2>
        <ul>
          <li>100" Dual UHD 4K Displays</li>
          <li>One-of-a-Kind Form Factor</li>
          <li>7680 x 2160 Resolution</li>
          <li>40+ Touch Points</li>
        </ul>
        <div class="button-wrap">
          <a class="product-button" href="/pano">Learn More</a>
        </div>
      </div>
    </section>

    <section class="productSection img-right pro">
      <div class="prod-sect-img-wrap" style="background:url('{{theme.link}}/images/products/pro/pro-855x480.jpg') no-repeat top center; background-size:cover;">
        <a class="img-link" href="/pro"><img class="left phone-only" src="{{theme.link}}/images/products/pro/pro-855x480.jpg"></a>
      </div>
      <div class="productText pro">
        <h3>Multitouch Table</h3>
        <h2>Pro &amp; Pro Lab</h2>
        <ul>
          <li>55" UHD 4K Display</li>
          <li>P-CAP Touch Technology</li>
          <li>Up to 60 Touch Points</li>
          <li>Up to 24TB of Storage</li>
        </ul>
        <div class="button-wrap">
          <a class="product-button" href="/pro">Learn More</a>
        </div>
      </div>
    </section>

    <section class="productSection img-left platform-drafting">
      <div class="prod-sect-img-wrap" style="background:url('{{theme.link}}/images/products/platform-drafting/platform-drafting-855x480.jpg') no-repeat top center; background-size:cover;">
        <a class="img-link" href="/platform-drafting"><img class="left phone-only" src="{{theme.link}}/images/products/platform-drafting/platform-drafting-855x480.jpg"></a>
      </div>
      <div class="productText platform-drafting">
        <h3>Multitouch Table</h3>
        <h2>Platform Drafting</h2>
        <ul>
          <li>Up to 65" UHD 4K Display</li>
          <li>Classic Drafting Table Form</li>
          <li>P-CAP or IR Touch Technology</li>
          <li>Up to 60 Touch Points</li>
        </ul>
        <div class="button-wrap">
          <a class="product-button" href="/platform-drafting">Learn More</a>
        </div>
      </div>
    </section>

    <section class="productSection img-right platform">
      <div class="prod-sect-img-wrap" style="background:url('{{theme.link}}/images/products/platform/platform-855x480.jpg') no-repeat top center; background-size:cover;">
        <a class="img-link" href="/platform"><img class="left phone-only" src="{{theme.link}}/images/products/platform/platform-855x480.jpg"></a>
      </div>
      <div class="productText platform">
        <h3>Multitouch Table</h3>
        <h2>Platform</h2>
        <ul>
          <li>Up to 55" UHD 4K Display</li>
          <li>Ultra-Thin Design</li>
          <li>Our Most Popular Model</li>
          <li>Up to 60 Touch Points</li>
        </ul>
        <div class="button-wrap">
          <a class="product-button" href="/platform">Learn More</a>
        </div>
      </div>
    </section>

    <section class="productSection img-left platform-coffee">
      <div class="prod-sect-img-wrap" style="background:url('{{theme.link}}/images/products/platform-coffee/platform-coffee-855x480.jpg') no-repeat top center; background-size:cover;">
        <a class="img-link" href="/platform-coffee"><img class="left phone-only" src="{{theme.link}}/images/products/platform-coffee/platform-coffee-855x480.jpg"></a>
      </div>
      <div class="productText platform-coffee">
        <h3>Multitouch Coffee Table</h3>
        <h2>Duet</h2>
        <ul>
          <li>42" or 46" HD Display </li>
          <li>Dual Boot Android &amp; Win 8 Available</li>
          <li>Perfect for Casual Spaces</li>
          <li>Up to 60 Touch Points</li>
        </ul>
        <div class="button-wrap">
          <a class="product-button" href="/platform-coffee">Learn More</a>
        </div>
      </div>
    </section>

  </section>
    

  <section class="clients-n-partners" ng-init="clientSliderIndex = 0">

    <div class="section-info">

      <h1>
        <a href="/client-list/">Clients &amp; Partners</a>
      </h1>

      <div class="one-column-text center">

        <p>
          We have worked with top museums and cultural institutions, the world’s leading technology firms, along with exhibit design and fabrication firms on a variety of challenging and collaborative projects. 
        </p>

    </div>

    </div>

    {% include 'client-slider.twig' %}

  </section>
  
  <section class="featured-pages">
    <article class="content direct-sales light-link-color">
      <div class="txt-wrap">
        <h1>
          Sales
        </h1>
        <p>
          Please contact us at <span class="faux-link">(505) 792-1110</span> ext.1 or toll free in the US and Canada <span class="faux-link">(855) 898-6824</span>, use our online inquiry form, or email us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;">&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;</a>. Our multitouch tables are sold domestically and internationally.
        </p>
        
        <footer class="footer">
          <a class="read" href="/contact/">Inquire about sales</a>
          <!-- <a class="share" href="#FIXME">Share This</a> -->
        </footer>
        
      </div>
    </article>

    <article class="content rentals light-link-color">
      <div class="txt-wrap">
        <h1>
          Multitouch Rentals
        </h1>
        <p>
          Ideum's 46&quot; Platform, 55&quot; 4K Drafting table, 46&quot; and 32&quot; Coffee Tables, and 46&quot; Presenter Touch Wall are available for rent for trade shows and special events.
        </p>
        
        <footer class="footer">
          <a class="read" href="/contact/">Inquire about rentals</a>
          <!-- <a class="share" href="#FIXME">Share This</a> -->
        </footer>
        
      </div>
    </article>
  </section>

  {{follow_dialog}}

  {% include 'follow-us-button.twig' %}

</div>

<!-- begin hidden content for page-share -->
<div style='display:none'>
  <div id='touch-tables-share' class="share-dialog">
    <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Share this.</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum - Multitouch Tables" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
  </div>
</div>
<!-- end hidden content for page-share - revealed when user clicks 'Share This Page' link in footer -->

{% endblock %}
