{% extends "base.twig" %}

{% block content %}

<div id="team" class="sub-page-wrap">

  {% include "parent-nav.twig" %}

  <section class="highlight-text child-page">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
    {% endif %}

    <h1>
      Our {{post.title}}
    </h1>

    <p>
      {{post.content}}
    </p>

  </section>

  <!-- #FIXME - The color class would need to be added iteratively and based on screen size in order to flow well through responsive stops -->

  <section class="teamgrid">

    <article class="team-member aquamarine">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-1.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Firstname Lastname</h1>

      </div>

    </article>

    <article class="team-member aquamarine">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-2.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member aquamarine">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-3.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member aquamarine">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-4.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member gold">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-1.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member gold">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-2.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member gold active">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-3.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member gold">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-4.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member blue">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-1.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member blue">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-2.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member blue">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-3.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member blue">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-4.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member red">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-1.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member red">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-2.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member red">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-3.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member red">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-4.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member purple">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-1.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member purple">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-2.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member purple">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-3.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <article class="team-member purple">

      <a href="#FIXME"><img src="{{theme.link}}/images/teammates-placeholder-4.png"></a>

      <div class="data-wrap">

        <p>My Position Title</p>

        <h1>Team Member Name</h1>

      </div>

    </article>

    <p>&nbsp;<!-- #FIXME -->&nbsp;</p>

    <div class="section-info">

      <p>
        <a href="#FIXME" class="button active">Follow Us</a>
      </p>

    </div>

  </section>
  
</div>

{% endblock %}