{% extends "base.twig" %}

{% block content %}

<div id="services" class="sub-page-wrap">

  {% include "parent-nav.twig" %}

  <section class="highlight-text child-page">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
    {% endif %}

    <h1>
      Our {{post.title}}
    </h1>

    <p>
      {{post.content}}
    </p>

    <p>
      <a class="button active dark" href="/creative-services/">View Projects</a>
    </p>

  </section>

  <div class="accordion-wrap" id-expander>

    <section class="item-wrap blue" id-expander-item>

      <article>

        <header>

          <h1>
            Custom Hardware Prototyping &amp; Product Design.
          </h1>

          <button id-expander-button><i class="icon-caret-down"></i></button>

        </header>        

        <div class="item-content">

          <!-- <div class="accordion-sub-header">

            <p>
              Integrate latest technology. Works with partners such as: 3M, HP, Intel, LG, PQLabs, Samsung, Zytronic Proven design, work in aluminum. Custom colors, familiar with hydrodipping.
            </p>

          </div> -->

          <div class="text-container">

            <div class="img-row">

              <img src="/wp-content/themes/ideum/images/services/hardware/hardware-img1-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/hardware/hardware-img2-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/hardware/hardware-img3-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/hardware/hardware-img4-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/hardware/hardware-img5-154x153.jpg" alt="" title="">

            </div>

            <div class="two-column-text">

              <p>
                Ideum has deep roots in user interface design (we’ve been designing exhibits and websites for 15 years). For the last six years, we’ve been at the cutting-edge in developing multitouch and multiuser interactives. More recently we’ve begun to extend our design expertise to include motion tracking, voice recognition, virtual reality and other emerging HCI (human computer interaction) technologies.<br>
                We are interested in the next generation of multiuser and multimodial experiences. We believe that the best interactive exhibits for museums and public spaces have a strong social component and multi-sensory qualities. New and emerging technologies present new opportunities to illuminate, inspire and engage visitors.Our open and active development process ensures that the software we produce is intuitive. We also work hard to ensure the utmost quality in the code we produce. Our exhibits and websites are easy to update and maintain. Our programmers have experience in a wide-range of software languages. We work in C++, .NET / C#, Python, Java, ActionScript, and a variety of other Web-centric languages.
              </p>

            </div>

          </div>

        </div>

      </article>

    </section>

    <section class="item-wrap gold active" id-expander-item>

      <article>

        <header>

          <h1>
            Application &amp; Exhibit Software Development.
          </h1>

          <button id-expander-button><i class="icon-caret-down"></i></button>

        </header>

        <div class="item-content">

          <!-- <div class="accordion-sub-header">

            <p>
              Integrate latest technology. Works with partners such as: 3M, HP, Intel, LG, PQLabs, Samsung, Zytronic Proven design, work in aluminum. Custom colors, familiar with hydrodipping.
            </p>

          </div> -->

          <div class="text-container">

            <div class="img-row">

              <img src="/wp-content/themes/ideum/images/services/software/software-img1-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/software/software-img2-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/software/software-img3-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/software/software-img4-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/software/software-img5-154x153.jpg" alt="" title="">

            </div>

            <div class="two-column-text">

              <p>
                As an agile company, Ideum is able to quickly integrate the latest technology as it becomes available. We work with a variety of technology partners, including 3M, HP, Hyundai, Intel, LG, PQLabs, Samsung, Zytronic. We have built custom prototypes for cutting-edge museums and world-class technology companies. In many cases these prototypes have been first-of-their-kind, pushing the boundaries in resolution, touch technology, and integration with complementary technology such as RFID and NFC. Our proven design methods and our ability to rapidly design in aluminum and steel, means that we can produce hardened interactive systems for demanding environments and public spaces. We’ve developed systems with a range of designs and have collaborated with other design firms, architects, and museums to develop custom systems that match the aesthetics of the spaces they are placed in. Along with unique form-factors, we have develop systems in an array of custom colors and textures. We’ve even developed custom etched and hydro-dipped exhibits.
              </p>

            </div>

          </div>

        </div>

      </article>

    </section>

    <section class="item-wrap purple" id-expander-item>

      <article>

        <header>

          <h1>
            Responsive Web &amp; Mobile Design
          </h1>

          <button id-expander-button><i class="icon-caret-down"></i></button>

        </header>        

        <div class="item-content">

          <!-- <div class="accordion-sub-header">

            <p>
              Integrate latest technology. Works with partners such as: 3M, HP, Intel, LG, PQLabs, Samsung, Zytronic Proven design, work in aluminum. Custom colors, familiar with hydrodipping.
            </p>

          </div> -->

          <div class="text-container">

            <div class="img-row">

              <img src="/wp-content/themes/ideum/images/services/responsive/responsive-img1-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/responsive/responsive-img2-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/responsive/responsive-img3-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/responsive/responsive-img4-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/responsive/responsive-img5-154x153.jpg" alt="" title="">

            </div>

            <div class="two-column-text">

              <p>
                Ideum has deep roots in user interface design (we’ve been designing exhibits and websites for 15 years). For the last six years, we’ve been at the cutting-edge in developing multitouch and multiuser interactives. More recently we’ve begun to extend our design expertise to include motion tracking, voice recognition, virtual reality and other emerging HCI (human computer interaction) technologies.<br>
                We are interested in the next generation of multiuser and multimodial experiences. We believe that the best interactive exhibits for museums and public spaces have a strong social component and multi-sensory qualities. New and emerging technologies present new opportunities to illuminate, inspire and engage visitors.Our open and active development process ensures that the software we produce is intuitive. We also work hard to ensure the utmost quality in the code we produce. Our exhibits and websites are easy to update and maintain. Our programmers have experience in a wide-range of software languages. We work in C++, .NET / C#, Python, Java, ActionScript, and a variety of other Web-centric languages.
              </p>

            </div>

          </div>

        </div>

      </article>

    </section>

    <section class="item-wrap green" id-expander-item>

      <article>

        <header>

          <h1>
            Conceptual Design &amp; Usability Testing
          </h1>

          <button id-expander-button><i class="icon-caret-down"></i></button>

        </header>        

        <div class="item-content">

          <!-- <div class="accordion-sub-header">

            <p>
              Integrate latest technology. Works with partners such as: 3M, HP, Intel, LG, PQLabs, Samsung, Zytronic Proven design, work in aluminum. Custom colors, familiar with hydrodipping.
            </p>

          </div> -->

          <div class="text-container">

            <div class="img-row">

              <img src="/wp-content/themes/ideum/images/services/testing/testing-img1-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/testing/testing-img2-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/testing/testing-img3-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/testing/testing-img4-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/testing/testing-img5-154x153.jpg" alt="" title="">

            </div>

            <div class="two-column-text">

              <p>
                Ideum has taken large roles in master planning for technology integration in major museums. In addition, Ideum has been engaged in conceptual design for a variety of interactive exhibitions and exhibits. While our expertise is in technology-based exhibits, we have collaborated in the planning of hands-on physical exhibits, collections, and museum experiences. We strongly believe that technology can create unique and engaging exhibits, but that many of the best exhibitions have a blend of high-tech and traditional experiences.</p>

              <p>
                We’ve worked with a wide-range of science museums, planetariums and aquariums, history and cultural institutions, art museums, nonprofits, and companies focused on a variety of topics. This experience, along with our continued work with cutting-edge hardware and modern software techniques, give us a unique perspective when planning for future exhibits and exhibitions.
              </p>

            </div>

          </div>

          <!-- <ul class="slider" rn-carousel rn-carousel-control rn-carousel-indicator rn-carousel-width="responsiveTwoUp()">

            <li class="story-slide item">

              <img src="{{theme.link}}/images/our-story-slides-1.jpg">

            </li>

            <li class="story-slide item">

              <img src="{{theme.link}}/images/our-story-slides-2.jpg">

            </li>

            <li class="story-slide item">

              <img src="{{theme.link}}/images/our-story-slides-1.jpg">

            </li>

            <li class="story-slide item">

              <img src="{{theme.link}}/images/our-story-slides-2.jpg">

            </li>

          </ul> -->

        </div>

      </article>

    </section>

    {{follow_dialog}}

  </div>

  <div class="section-info">

    <p>
      <a href="#follow-dialog" class="button active inline-share">Follow Us</a>
    </p>

  </div>

</div>

{% endblock %}
