{% extends "base.twig" %}

{% block content %}

<main class="productOuterWrapper">

  <header>
    <h1 class="tablet-n-desktop">Drafting Table</h1>
    <img src="{{theme.link}}/images/products/platform-drafting/header.jpg">
  </header>

  <main class="productInnerWrapper">

    <div ng-app="ideum.tabs">

      <!-- Tabs -->
      <div tabs class="platform-drafting">

        <!-- Platform Drafting Table 65 Tab -->
        <div pane title="Drafting Table 65" class="tablet-n-desktop">

          <header>
            <h1>Drafting Table 65</h1>
            <h2>Maximum Fidelity for Exacting Detail</h2>
          </header>

          <div ng-app="productDetails">

            <section class="x-ray platform-drafting-65" ng-controller="xRayCtrl" ng-init="dataIndex = 0">

              <section class="overlay" ng-style="overlayStyle">

                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">

                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>

                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>

              </section>

            </section>

          </div>

        </div>
        
        <!-- Platform Drafting Table 55 Tab -->
        <div pane title="Drafting Table 55" class="tablet-n-desktop">

          <header>
            <h1>Drafting Table 55</h1>
            <h2>UHD 4K Display, 3M™Touch Technology</h2>
          </header>

          <div ng-app="productDetails">

            <section class="x-ray platform-drafting-55-pcap" ng-controller="xRayCtrl" ng-init="dataIndex = 1">

              <section class="overlay" ng-style="overlayStyle">

                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">

                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>

                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>

              </section>

            </section>

          </div>

        </div>
        
        <!-- Platform Drafting Table 55 IR Tab
        <div pane title="Platform 55 IR" class="tablet-n-desktop">

          <header>
            <h1>Platform 55 IR Drafting Table</h1>
            <h2>Thirty Degrees of Versatility</h2>
          </header>

          <div ng-app="productDetails">

            <section class="x-ray platform-drafting-55" ng-controller="xRayCtrl" ng-init="dataIndex = 2">

              <section class="overlay" ng-style="overlayStyle">

                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">

                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>

                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>

              </section>

            </section>

          </div>

        </div> -->

        <!-- Platform Drafting Table 46 Tab -->
        <div pane title="Drafting Table 46" class="tablet-n-desktop">

          <header>
            <h1>Drafting Table 46</h1>
            <h2>Ready for Work, Study or Play</h2>
          </header>

          <div ng-app="productDetails">

            <section class="x-ray platform-drafting-46" ng-controller="xRayCtrl" ng-init="dataIndex = 2">

              <section class="overlay" ng-style="overlayStyle">

                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">

                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>

                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>

              </section>

            </section>

          </div>

        </div>

        <!-- Generic Phone-Only Tab -->
        <div title="Platform" class="phone-only"><!-- change title to appropriate name - this is actual text on product tab -->

          <header>
            <h1>Drafting Tables 46, 55 &amp; 65</h1>
            <h2>Versatility for Work, Study or Play</h2>
          </header>

        </div>

      </div><!-- Close tabs -->

    </div><!-- Close ideum.tabs -->

    <section class="productSection platform-drafting">

       <div class="prod-sect-img-wrap vid-block img-left">
        <a class="iframe" href="https://www.youtube.com/embed/anxXpBU-KGQ">
          <img src="{{theme.link}}/images/products/platform-drafting/drafting-640x480.jpg">
          <div class="text-overlay">See Ideum's multitouch tables in action.</div>
          <div class="play-button-overlay">&nbsp;</div>
        </a>
        <!-- <img class="left" src="{{theme.link}}/images/products/platform-drafting/half_01.jpg"> -->
      </div>

      <div class="productText white">
        <h2>The Best in Touch, Best in Resolution</h2>
        <p><!-- use class 'white-dotted-allstops' for links -->
          The Drafting Multitouch Table series uses the 3M™ projected-capacitive touch system providing unparalleled responsiveness and fidelity. Our projected-capacitive displays are impervious to light interference and support 60 touch points. We are the first to offer a 65" touch table with 3M™ projected-capacitive touch system, we also offer UHD 4K displays in both our 65" and 55" models.
        </p>

        <!-- begin hidden content for product-share -->
        <div style='display:none'>
          <div id='platform-drafting-share' class="share-dialog">
            <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
            <p>Like what you see? Share this.</p>
            <!-- Facebook -->
            <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
            <!-- Twitter -->
            <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum Platform Drafting Tables" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
            <!-- Google+ -->
            <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
            <!-- Pinterest -->
            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
						<!-- Tumblr-->
						<a href="http://www.tumblr.com/share/link?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
						src="/wp-content/themes/ideum/images/social/tumblr.png" alt="Tumblr" /></a>
          </div>
        </div>
        <!-- end hidden content for product-share - revealed when user clicks 'Share This' link (below)-->

        <footer class="footer">
          <a class="tablet-n-desktop share share-dialog-tab-desk" href="#platform-drafting-share">Share This</a>
          <a class="phone-only share share-dialog-phone" href="#platform-drafting-share">Share This</a>
        </footer>
        
      </div>
    </section>

    <section class="productSection">
      <div class="prod-sect-img-wrap img-left no-bg-phone" style="background:url('{{theme.link}}/images/products/platform-drafting/full_01.jpg') no-repeat top left; background-size:cover;">
        <img class="left phone-only" src="{{theme.link}}/images/products/platform-drafting/full_01_phone.jpg">
      </div>
      <div class="productText">
        <h2>Fully Integrated, Perfect for Any Environment</h2>
        <p><!-- DO NOT use class 'white-dotted-tab-n-desk' or 'white-dotted-allstops' for links -->
          The Drafting Multitouch Table comes with an integrated Intel Quad Core i7 with 16GB of RAM and an NVIDIA graphics card. It has Ethernet, Wifi, Bluetooth, and even RFID connectivity, lockable access points and single push-button power. Designed and built in the USA out of aircraft-grade aluminum with lockable ports, the Ideum Drafting Table is ready for demanding environments including public spaces. 
        </p>
        </p>
      </div>
    </section>

    <section class="section-info key-features-head">
      <h1>Key Features</h1>
    </section>
    
    <ul
      class="slider platform-drafting"
      ng-init="clientSliderIndex = 0"
      rn-carousel
      rn-carousel-control
      rn-carousel-indicator
      rn-carousel-width="responsiveTwoUp()"
      rn-carousel-index="clientSliderIndex"
    >
      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/armed.svg' %}
        </div>
        <h3>Integrated Computer</h3>
        <p>
          Ideum Drafting Tables include an Intel&reg; Quad Core i7 computer with 16GB RAM, 500GB Solid State Drive, and an NVIDIA Graphics Card.
        </p>
      </li>
      
      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/reach.svg' %}
        </div>
        <h3>Reach Out &amp; Touch Everything</h3>
        <p>
          Along with 60 touch points, the 3M™ projected-capacitive touch system on the Drafting Tables has palm rejection and an anti-stiction strengthen surface.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/demanding.svg' %}
        </div>
        <h3>Built for Demanding Spaces</h3>
        <p>
          The Drafting Tables have a chassis made out of aircraft-grade aluminum. We custom build our Drafting Tables in the USA to exacting standards. They have exceptional build-quality and are perfect for public spaces and other demanding environments. 
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/windows.svg' %}
        </div>
        <h3>Windows Based</h3>
        <p>
          The Drafting Table ships with your choice of Windows 7, 8.1 (default), or 10. We can even build dual-boot systems.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/gestureworks.svg' %}
        </div>
        <h3>Multitouch Authoring</h3>
        <p>
          The Drafting Tables come with a lifetime license for GestureWorks SDK (C++, C# / .NET, Java). The license includes ticketed, timely support and free upgrades for life. 
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/graphically.svg' %}
        </div>
        <h3>On the Road</h3>
        <p>
          The Drafting Multitouch Table is ruggedized and easy to set up making it perfect for trade shows, traveling exhibits and special events. You can purchase the table with an optional ATA flight case. You can also rent the Drafting Table 46 and Drafting Table 55 models directly from Ideum.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/warranty.svg' %}
        </div>
        <h3>Two Year Warranty</h3>
        <p>
          We stand by our products and provide a two-year warranty against defective materials or workmanship. The same people who build our products, provide support. See our <a href="/spec-sheets/Ideum-2year-Touch-Product-Warranty.pdf" target="_blank">warranty document</a> for full details and restrictions.
        </p>
      </li>

    </ul>

    <a class="very-dark-gray-button spec-sheet-button" href="/spec-sheets/Ideum-Specs-Drafting.pdf">Download Spec Sheet</a>

    <!-- <section class="productSection plain full" 
    style="background:url('{{theme.link}}/images/products/platform-drafting/full_03.jpg') no-repeat top center; background-size:cover;">
      <div class="productText white fullLeft">
        <h2>Upgrades</h2>
        <p>
          There are a variety of upgrades and add-ons for sharing and portability.
          <div class="specs">
            <ul class="specList">
              <li>Windows 7 / Windows 8 Dual Boot</li>
              <li>ATA Travel Case</li>
              <li>Custom Color</li>
              <li>Custom Base Solutions</li>
            </ul>
            <ul class="specList column2">
              <li>ATA Travel Case</li>
              <li>Custom Color</li>
              <li>Custom Base Solutions</li>
            </ul>
          </div>
        </p>
      </div>
    </section> -->

    <section class="made-in-usa platform-drafting">

      <h2>
        Made in the USA
      </h2>

    </section>


    <section class="productSection">
      <div class="prod-sect-img-wrap img-left" style="background:url('{{theme.link}}/images/products/platform-drafting/06_direct-sales-drafting.jpg') no-repeat top center;draftingbackground-size:cover;background-position: 0 -10px;">
        <img class="left phone-only" src="{{theme.link}}/images/products/platform-drafting/06_direct-sales-drafting.jpg">
      </div>
      <div class="productText">
        <h2>Sales &amp; Rentals</h2>
        <p>
          Please contact us at <span class="faux-link">(505) 792-1110</span> ext. 1 or toll free in the US and Canada <span class="faux-link">(855) 898-6824</span>, use our <a href="/contact">online inquiry form</a>, or email us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;">&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;</a>. Drafting Tables are sold domestically and internationally. We also rent the Drafting Table in the US and Canada.
        </p>
				<p class="note">Ideum sells the Platform <a href="https://www.gsaadvantage.gov/advantage/catalog/product_detail.do?contractNumber=GS-35F-129DA&itemNumber=PLATFORM+65+DRAFTING+TABLE+4K+UHD&mfrName=IDEUM%2C+INC." target="_blank">65</a>, <a href="https://www.gsaadvantage.gov/advantage/catalog/product_detail.do?contractNumber=GS-35F-129DA&itemNumber=PLATFORM+55+P-CAP+DRAFTING+TABLE+4K+UHD&mfrName=IDEUM%2C+INC." target="_blank">55,</a> and <a href="https://www.gsaadvantage.gov/advantage/catalog/product_detail.do?contractNumber=GS-35F-129DA&itemNumber=PLATFORM+46+DRAFTING+TABLE+HD&mfrName=IDEUM%2C+INC." target="_blank">46</a> Drafting Tables on GSA Advantage!®, the online ordering system (www.gsaadvantage.gov) for qualified government buyers. Contract <a 
         href="http://www.gsaelibrary.gsa.gov/ElibMain/contractorInfo.do?contractNumber=GS-35F-129DA&contractorName=IDEUM%2C+INC.&executeQuery=YES" target="_blank">GS-35F-129DA</a>.</p>
      </div>
    </section>


  </main>
</main>
{% endblock %}
