{% extends "base.twig" %}

{% block content %}

<div id="touch-tables">

  <section class="product-category" id-autoplay>
    <video poster="{{theme.link}}/images/products/Coffee.png">
      <source src="{{theme.link}}/videos/Coffee.webm" type="video/webm">
      <source src="{{theme.link}}/videos/Coffee.mp4" type="video/mp4">
      <img src="{{theme.link}}/images/products/Coffee.png">
    </video>

    <div class="overlay">
      <div class="content">
        <h2>Platform Coffee Table</h2>
        <p>
            The Platform Coffee Table family, featuring 42” and 46” projected capacitive screen options, is a complete turnkey multitouch table that comes with Windows 8, Android, or a dual operating system option. It has a sleek, bezel-less design with support for up to 60 touch points.
        </p>
        <a class="coffee" href="platform-coffee">View Selections</a>
      </div>
    </div>
  </section>

  <section class="product-category" id-autoplay>
    <video poster="{{theme.link}}/images/products/Platform.png">
      <source src="{{theme.link}}/videos/Platform.webm" type="video/webm">
      <source src="{{theme.link}}/videos/Platform.mp4" type="video/mp4">
      <img src="{{theme.link}}/images/products/Platform.png">
    </video>

    <div class="overlay">
      <div class="content">
        <h2>Platform</h2>
        <p>
            The Platform is a complete ruggedized, full-sized multitouch table that comes with a powerful integrated PC with an i7 quad core, built-in RFID, support for up to 60 touch points.  It is available in either 46” or 55” variations with a standard HD or 4K Ultra HD display.
        </p>
        <a class="platform" href="platform">View Selections</a>
      </div>
    </div>
  </section>

  <section class="product-category" id-autoplay>
    <video poster="{{theme.link}}/images/products/Drafting.png">
      <source src="{{theme.link}}/videos/Drafting.webm" type="video/webm">
      <source src="{{theme.link}}/videos/Drafting.mp4" type="video/mp4">
      <img src="{{theme.link}}/images/products/Drafting.png">
    </video>

    <div class="overlay">
      <div class="content">
        <h2>Platform Drafting Table</h2>
        <p>
            The Platform Drafting Multitouch Table is series of complete, ruggedized 46” projected capacitive multitouch tables. It is available in 46”, 55” and 65” variations and features a drafting-style, angled display that has support for up to 60 touch points.  Standard HD or 4K Ultra HD display options are available.
        </p>
        <a class="drafting" href="platform-drafting">View Selections</a>
      </div>
    </div>
  </section>

  <section class="product-category" id-autoplay>
    <video poster="{{theme.link}}/images/products/Pro.png">
      <source src="{{theme.link}}/videos/Pro.webm" type="video/webm">
      <source src="{{theme.link}}/videos/Pro.mp4" type="video/mp4">
      <img src="{{theme.link}}/images/products/Pro.png">
    </video>

    <div class="overlay">
      <div class="content">
        <h2>Pro &amp; Pro Lab</h2>
        <p>
            The Pro and Pro Lab are 55” multitouch table with a powerful workstation, HD or 4K Ultra HD resolution, up to 40 touch points, an integrated UPS, and a Yamaha audio system.  The Pro Lab variation includes expandable and removable storage, up to 6 TB.
        </p>
        <a class="pro" href="pro">View Selections</a>
    </div>
    </div>
  </section>

  <section class="product-category" id-autoplay>
    <video poster="{{theme.link}}/images/products/Pano.png">
      <source src="{{theme.link}}/videos/Pano.webm" type="video/webm">
      <source src="{{theme.link}}/videos/Pano.mp4" type="video/mp4">
      <img src="{{theme.link}}/images/products/Pano.png">
    </video>

    <div class="overlay">
      <div class="content">
        <h2>Pano</h2>
        <p>
          The Pano is a hardened, integrated 100” multitouch table with dual 55” HD or 4K Ultra HD displays and a contiguous touch surface with 40+ touch points.  The table features single push-button power, a ruggedized aircraft-grade aluminum enclosure, and powerful Intel i7 Quad Core workstation computer.
        </p>
        <a class="pano" href="pano">View Selections</a>
      </div>
    </div>
  </section>

  <section class="clients-n-partners" ng-init="clientSliderIndex = 0">

    <div class="section-info">

      <h1>
        <a href="/client-list/">Clients &amp; Partners</a>
      </h1>

      <p>
        We have worked with top museums and cultural institutions, the world’s leading technology firms, along with exhibit design and fabrication firms on a variety of challenging and collaborative projects. 
      </p>

    </div>

    {# {% include 'client-slider.twig' %} #}

  </section>
  
  <section class="featured-pages">
    <article class="content direct-sales">
      <div class="txt-wrap">
        <h1>
          Direct Sales
        </h1>
        <p>
          Please contact us at (505) 792-1110 ext.1 or toll free in the US and Canada (855) 989-6824, use our online inquiry form, or emails us at sales@ideum.com. Our multitouch tables are sold domestically and internationally and are only available direct from Ideum.
        </p>
        <!-- 
        <footer class="footer">
          <a class="read" href="#FIXME">View Our Products</a>
          <a class="share" href="#FIXME">Share This</a>
        </footer>
        -->
      </div>
    </article>

    <article class="content rentals">
      <div class="txt-wrap">
        <h1>
          Multitouch Rentals
        </h1>
        <p>
          Ideum's 46" Platform, 55" 4k Drafting table, and 46" and 32" Coffee Tables are available for rent for tradeshows and special events. Learn more about Multitouch table rentals.
        </p>
        <!-- 
        <footer class="footer">
          <a class="read" href="#FIXME">View Our Projects</a>
          <a class="share" href="#FIXME">Share This</a>
        </footer>
        -->
      </div>
    </article>
  </section>

  {{follow_dialog}}

  {% include 'follow-us-button.twig' %}

</div>

{% endblock %}