{% extends "base.twig" %}

{% block content %}

<div id="software-initiatives" class="sub-page-wrap">

  {% include "parent-nav.twig" %}

  <section class="highlight-text child-page">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
    {% endif %}
    
    {{post.content}}

  </section>

  <!-- ########## Begin Gestureworks Section ########## -->

  <section class="featured-video post-style img-left blue">

    <article class="content">

      <div class="img-wrap">

        <a class="iframe" href="//www.youtube.com/embed/z1jdlP4stAY?autoplay=1"><img src="{{theme.link}}/images/gestureworks-video-still.jpg"></a>

      </div>

      <div class="txt-wrap">

        <h1>
          <a href="http://gestureworks.com/">Gestureworks</a>
        </h1>

        <p>
          The GestureWorks software development kit (SDK) support hundreds of multitouch gestures and can be used with a variety of software languages including: C++, C#, Java, and Python. Originally developed to be the ultimate SDK for multitouch, GestureWorks will soon incorporate motion gestures, sensor input and other HCI features. 
        </p>

        <!-- begin hidden content for gestureworks-share -->
        <div style="display:none;">
          <div id="gestureworks-share" class="share-dialog">
            <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
            <p>Like what you see? Share this.</p>
            <!-- Facebook -->
            <a href="http://www.facebook.com/sharer.php?u={{site.url}}/our-story/software-initiatives/#gestureworks" 
            target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
            <!-- Twitter -->
            <a href="http://twitter.com/share?url={{site.url}}/our-story/software-initiatives/#gestureworks&amp;text=GestureWorks SDK support 100s of multitouch gestures and several software languages: C++, C#, Java, and Python" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
            <!-- Google+ -->
            <a href="https://plus.google.com/share?url={{site.url}}/our-story/software-initiatives/#gestureworks" 
            target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>               
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}/our-story/software-initiatives/#gestureworks" 
            target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
            <!-- Pinterest -->
            <!-- <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a> -->
            <a href="//www.pinterest.com/pin/create/button/?url={{site.url}}/our-story/software-initiatives/#gestureworks&amp;media={{site_url}}{{theme.link}}/images/Gampelay.jpg&amp;description=The GestureWorks SDK support hundredss of multitouch gestures and a variety of software languages including: C++, C#, Java, and Python." data-pin-do="buttonBookmark" data-pin-shape="round" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
          </div>
        </div>
        <!-- end hidden content for gestureworks-share - revealed when user clicks 'Share This' link (below)-->

        <footer class="footer">
          <!-- <a class="read" href="http://gestureworks.com/">Visit Gestureworks</a> -->
          <a class="inline-share read" href="#gestureworks-share">Share This</a><!-- restore class to share if another link used above -->
        </footer>

      </div>

    </article>

  </section>

  <div class="section-info">

    <h1>Key Features</h1>

    <p>
      GestureWorks Core is an incredibly efficient and powerful authoring solution and touch point cluster analysis system for multitouch. GestureWorks Core includes a library of over 300 pre-built gestures and includes support for the first markup language for multitouch, the Gesture Markup Language (GML).
    </p>

    <p>&nbsp;</p>
    
    <p>
      <a href="http://gestureworks.com/" class="button download-open-exhibits active">Visit Gestureworks</a>
      <a href="http://gestureworks.com/" class="button phone-n-tablet active">Visit Gestureworks</a>
    </p>

  </div> 

  <!-- 
  <section class="talking-points-vertical twoup">

    <div class="slider" rn-carousel rn-carousel-control rn-carousel-indicator rn-carousel-width="responsiveTwoUp()">

      <article class="point talking-point-slide">

        <div class="point-icon">
          
          <img src="{{theme.link}}/images/talking-points-175x175-gestures.png">

        </div>

        <div class="point-text">

          <h3>
            Vita nostra brevis est
          </h3>

          <p>
            Brevi finietur. Venit mors velociter rapit nos atrociter nemini parcetur. Vivat academia! Vivant professores! Vivat membrum quodlibet; vivant membra quaelibet; semper sint in flore. Vivant omnes virgines faciles, formosae. Vivant et mulieres tenerae, amabiles, bonae, laboriosae.
          </p>

        </div>

      </article>

      <article class="point talking-point-slide">

        <div class="point-icon">
          
          <img src="{{theme.link}}/images/talking-points-175x175-multiuser.png">

        </div>

        <div class="point-text">

          <h3>
            Vivat nostra societas
          </h3>

          <p>
            Vivant studiosi; crescat una veritas Floreat fraternitas patriae prosperitas. Alma Mater floreat, quae nos educavit; caros et commilitones, dissitas in regiones sparsos, congregavit.
          </p>

        </div>

      </article>

    </div>

  </section>
  -->

  <!-- ########## End Gestureworks Section ########## -->

  <!-- ########## Begin Open Exhibits  Section ########## -->

  <section class="featured-video post-style img-left red">

    <article class="content">

      <div class="img-wrap">

        <a name="openexhibits" class="iframe" href="http://player.vimeo.com/video/84602992?autoplay=1"><img src="{{theme.link}}/images/openexhibits-video-placeholder.jpg"></a>

      </div>

      <div class="txt-wrap">

        <h1>
          <a href="http://openexhibits.org/">Open Exhibits</a>
        </h1>

        <p>
          Open Exhibits is a multitouch authoring development kit that is free to use for most applications. The software, developed using ActionScript, incorporates over six years of development by the Ideum team. Open Exhibits received National Science Foundation funding from 2010 to 2014 and is now supported by the Institute for Museum and Library Studies.
        </p>

        <!-- begin hidden content for openexhibits-share -->
        <div style="display:none;">
          <div id="openexhibits-share" class="share-dialog">
            <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
            <p>Like what you see? Share this.</p>
            <!-- Facebook -->
            <a href="http://www.facebook.com/sharer.php?u={{site.url}}/our-story/software-initiatives/#openexhibits" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
            <!-- Twitter -->
            <a href="http://twitter.com/share?url={{site.url}}/our-story/software-initiatives/#openexhibits&amp;text=Open Exhibits is a multitouch authoring development kit developed by Ideum." target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
            <!-- Google+ -->
            <a href="https://plus.google.com/share?url={{site.url}}/our-story/software-initiatives/#openexhibits" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>               
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}/our-story/software-initiatives/#openexhibits" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
            <!-- Pinterest -->
            <!-- <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a> -->
            <a href="//www.pinterest.com/pin/create/button/?url={{site.url}}/our-story/software-initiatives/#openexhibits&amp;media={{site_url}}{{theme.link}}/images/Openexhibits.jpg&amp;description=Open Exhibits is a multitouch authoring development kit that is free to use for most applications. The software incorporates over six years of development by the Ideum team." data-pin-do="buttonBookmark" data-pin-shape="round" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
          </div>
        </div>
        <!-- end hidden content for openexhibits-share - revealed when user clicks 'Share This' link (below)-->

        <footer class="footer">
          <!-- <a class="read" href="http://openexhibits.org/">Visit Open Exhibits</a> -->
          <a class="inline-share read" href="#openexhibits-share">Share This</a><!-- restore class to share if another link used above -->
        </footer>

      </div>

    </article>

  </section>

  <div class="section-info">

    <h1>Key Features</h1>

    <p>
      Open Exhibits is a National Science Foundation (NSF) sponsored initiative that looks to transform the way in which museums and other informal learning institutions produce and share computer-based exhibits. Open Exhibits is both a collection of software and a growing community of practice.
    </p>

    <p>&nbsp;</p>

    <p>
      <a href="http://openexhibits.org/" class="button download-open-exhibits active">Visit Open Exhibits</a>
      <a href="http://openexhibits.org/" class="button phone-n-tablet active">Visit Open Exhibits</a>
    </p>

  </div>

  <!-- 
  <section class="talking-points-vertical twoup">

    <div class="slider" rn-carousel rn-carousel-control rn-carousel-indicator rn-carousel-width="responsiveTwoUp()">

      <article class="point talking-point-slide">

        <div class="point-icon">
          
          <img src="{{theme.link}}/images/talking-points-175x175-gestures.png">

        </div>

        <div class="point-text">

          <h3>
            Custom multitouch gesture definition
          </h3>

          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.  
          </p>

        </div>

      </article>

      <article class="point talking-point-slide">

        <div class="point-icon">
          
          <img src="{{theme.link}}/images/talking-points-175x175-multiuser.png">

        </div>

        <div class="point-text">

          <h3>
            Make It Multiuser
          </h3>

          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
          </p>

        </div>

      </article>

    </div>

    <div class="section-info">
    
      <p>
        <a href="http://openexhibits.org/downloads/" class="button download-open-exhibits active">Download Open Exhibits</a>
        <a href="http://openexhibits.org/" class="button phone-n-tablet active">View Open Exhibits</a>
      </p>

    </div>

  </section>
  -->

  <!-- ########## End Open Exhibits Section ########## -->

  <!-- ########## Begin Gameplay Section ########## -->

  <section class="featured-video post-style gold img-left">

    <article class="content">

      <div class="img-wrap">

        <a name="gameplay" class="iframe" href="https://www.youtube.com/embed/JqnuzPdfaJ8"><img src="{{theme.link}}/images/gameplay-video-placeholder.jpg"></a>

      </div>

      <div class="txt-wrap">

        <h1>
          <a href="http://gestureworks.com/">GestureWorks Gameplay</a>
        </h1>

        <p>
          GestureWorks Gameplay is an inexpensive Windows 8 software program that provides touch controls for hundreds of popular PC games. Gamers can create their own touch controls, share them with others, or download controls created by the community.
        </p>

        <!-- begin hidden content for gameplay-share -->
        <div style="display:none;">
          <div id="gameplay-share" class="share-dialog">
            <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
            <p>Like what you see? Share this.</p>
            <!-- Facebook -->
            <a href="http://www.facebook.com/sharer.php?u={{site.url}}/our-story/software-initiatives/#gameplay" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
            <!-- Twitter -->
            <a href="http://twitter.com/share?url={{site.url}}/our-story/software-initiatives/#gameplay&amp;text=GestureWorks Gameplay is inexpensive Win 8 software providing touch controls for 100s of PC games" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
            <!-- Google+ -->
            <a href="https://plus.google.com/share?url={{site.url}}/our-story/software-initiatives/#gameplay" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>               
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}/our-story/software-initiatives/#gameplay" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
            <!-- Pinterest -->
            <!-- <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a> -->
            <a href="//www.pinterest.com/pin/create/button/?url={{site.url}}/our-story/software-initiatives/#gameplay&amp;media={{site_url}}{{theme.link}}/images/Gampelay.jpg&amp;description=GestureWorks Gameplay is inexpensive Windows 8 software program that provides touch controls for hundreds of PC games." data-pin-do="buttonBookmark" data-pin-shape="round" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
          </div>
        </div>
        <!-- end hidden content for gameplay-share - revealed when user clicks 'Share This' link (below)-->

        <footer class="footer">
          <!-- <a class="read" href="http://store.steampowered.com/app/296610/">Learn more on Steam</a> -->
          <a class="inline-share read" href="#gameplay-share">Share This</a><!-- restore class to share if another link used above -->
        </footer>

      </div>

    </article>

  </section>

  <div class="section-info">

    <h1>Key Features</h1>

    <p>
      Gameplay includes many pre-built Virtual Controllers that are ready for immediate use, or you can download new Virtual Controllers from the Gameplay website. GestureWorks Gameplay also includes an editor that allows you to customize or even create your own Virtual Controllers from scratch.
    </p>

    <p>&nbsp;</p>

    <p>
        <a href="http://store.steampowered.com/app/296610/" class="button download-open-exhibits active">Learn more on Steam</a>
        <a href="http://store.steampowered.com/app/296610/" class="button phone-n-tablet active">Learn more on Steam</a>
      </p>

  </div>

  <!-- 
  <section class="talking-points-vertical twoup">

    <div class="slider" rn-carousel rn-carousel-control rn-carousel-indicator rn-carousel-width="responsiveTwoUp()">

      <article class="point talking-point-slide">

        <div class="point-icon">
          
          <img src="{{theme.link}}/images/talking-points-175x175-multitouch.png">

        </div>

        <div class="point-text">

          <h3>
            Support for Multitouch Gestures
          </h3>

          <p>
            Powered by the GestureWorks gesture-processing engine, GestureWorks Gameplay provides support for over 200 gestures. Beyond overlay touch controllers, you can set full-screen (global) multitouch gestures that provide additional controls to your favorite PC game or application. 
          </p>

        </div>

      </article>

      <article class="point talking-point-slide">

        <div class="point-icon">
          
          <a href="http://store.steampowered.com/app/296610/"><img src="{{theme.link}}/images/talking-points-175x175-gamepad.png"></a>

        </div>

        <div class="point-text">

          <h3>
            Gamepad Emulation
          </h3>

          <p>
            Included in the Gameplay editor are input ("Key") selections that enable your Virtual Controller to use common gamepad controls such as the d-pad and left and right joysticks, or even the A/B/X/Y buttons, left trigger, right trigger, and more.
          </p>

        </div>

      </article>

    </div>

    <div class="section-info">

      <p>
        <a href="http://store.steampowered.com/app/296610/" class="button download-open-exhibits active">Purchase On Steam</a>
        <a href="http://store.steampowered.com/app/296610/" class="button phone-n-tablet active">Purchase On Steam</a>
      </p>

    </div>

  </section>
  -->

  <!-- ########## End Gameplay Section ########## -->

  <!-- begin hidden content for page-share -->
<div style='display:none'>
  <div id='software-initiatives-share' class="share-dialog">
    <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Share this.</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum - Software Initiatives" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
  </div>
</div>
<!-- end hidden content for page-share - revealed when user clicks 'Share This Page' link in footer -->

{% endblock %}
