{% extends "base.twig" %}

{% block content %}

<div id="mission" class="sub-page-wrap">

  {% include "parent-nav.twig" %}

  <section class="highlight-text child-page">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}" alt="Edit the content of this blurb." title="Edit the content of this blurb.">[Edit me!]</a>
    {% endif %}

    {{post.content}}

  </section>


  <section class="talking-points-vertical threeup">

    <article class="point">
      
      <!-- 
      <div class="point-icon">
        
        <img src="{{theme.link}}/images/talking-points-175x175-isotope.png">

      </div>
      -->

      <div class="point-text">

        <h3>
          Technology
        </h3>

        <p>
          To use technology in innovative ways, creating exciting and inspiring visitor experiences. 
        </p>

      </div>

    </article>

    <article class="point">
      
      <!-- 
      <div class="point-icon">
        
        <img src="{{theme.link}}/images/talking-points-175x175-thumbs-up.png">

      </div>
      -->

      <div class="point-text">

        <h3>
          Customers
        </h3>

        <p>
          To provide our customers and clients with software, hardware and installations that are meticulously-crafted, incredibly reliable and long-lasting.
        </p>

      </div>

    </article>

    <article class="point">

      <!-- 
      <div class="point-icon">
        
        <img src="{{theme.link}}/images/talking-points-175x175-erlenmeyer-flask.png">

      </div>
      -->

      <div class="point-text">

        <h3>
          Value
        </h3>

        <p>
          To create value and make a difference in all of the things that we do.
        </p>

      </div>

    </article>

  </section>


  <section class="featured-page">

    <article class="content team-n-clients">

      <div class="txt-wrap">

        <h1 class="no-hover">
          Our Team, Partners &amp; Clients
        </h1>

        <p>
          Everything we do starts with our team and then involves our partners, and clients. We encourage our team members to reach their full potential and to be successful in what they do. We work with our clients and partners to create long-lasting relationships in which our collective efforts produce greater results.
        </p>

        <footer class="footer">
          <a class="read" href="/team/">Meet Our Team</a>
          <a class="share" href="/client-list/">View Our Client List</a>
        </footer>

      </div>

    </article>

  </section>


  <section class="featured-pages">

    <article class="content products">

      <div class="txt-wrap">

        <h1 class="no-hover" class="no-hover">
          Our Products
        </h1>

        <p>
          Innovation and user-experience drives the design process for all our products. We are meticulous in how we build our products and look to produce the best quality hardware and software. If something goes wrong, we take responsibility, and provide timely support and service. The same people who build our products also support and service them.
        </p>

        <footer class="footer">
          <a class="share" href="/touch-walls/">View Our Touch Walls</a>
          <a class="read" href="/touch-tables/">View Our Multitouch Tables</a>
        </footer>

      </div>

    </article>

    <article class="content projects">

      <div class="txt-wrap">

        <h1 class="no-hover">
          Our Projects
        </h1>

        <p>
         We are passionate about the projects that we take on. We love what we do, we are keenly interested in the technologies we utilize, and we love the topics that we explore. We attentively manage our projects and encourage the honest and open sharing of ideas, opinions, and information.
        </p>

        <footer class="footer">
          <a class="read" href="/creative-services/">Explore our Projects</a>
          <a class="share" href="/software-initiatives/">View our Software Initiatives</a>
        </footer>

      </div>

    </article>

  </section>

  {{follow_dialog}}

  {% include 'follow-us-button.twig' %}
  
</div>

<!-- begin hidden content for page-share -->
<div style='display:none'>
  <div id='mission-share' class="share-dialog">
    <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Share this.</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum - Our Mission + Values" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url={{post.link|url_encode}}&amp;title={{post.title}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/tumblr.png" alt="Tumblr" /></a>
  </div>
</div>
<!-- end hidden content for page-share - revealed when user clicks 'Share This Page' link in footer -->

{% endblock %}