{% extends "base.twig" %}

{% block content %}

<div id="jobs-list" class="sub-page-wrap">

  <section class="highlight-text child-page">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
    {% endif %}

    {{post.content}}

  </section>
  
  <div class="accordion-wrap" id-expander>

    {% for job in post.children if job.post_status == "publish" %}<!-- pulls alphabetically, but will sort by menu order if set in WP -->
    <section class="item-wrap color-{{ loop.index }}" id-expander-item><!-- add class only-open to make header white and text dark -->

      <article>

        <header class-"expander">

          <h1 id-expander-button>
            {{ job.title }}
          </h1>

          <button id-expander-button><i class="icon-caret-down"></i></button>

        </header>        

        <div class="item-content">

          <div class="item-content-2col">

            <div class="text-container">

              <div class="column-66-left">

                {{job.content}}

                <p>&nbsp;</p>

                Permalink: <a href="{{job.permalink}}/">{{job.permalink}}</a>

                <p>&nbsp;</p>

                <h3>
                  <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#106;&#111;&#98;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;">&#106;&#111;&#98;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;</a>
                </h3>

              </div>

              <div class="column-33-right">

                {% if job.job_qualifications %}
                <h3>Qualifications</h3>
                <ul>
                  {% for item in job.get_field('job_qualifications') %}
                  <li>{{item.job_qualification_item}}</li>
                  {% endfor %}
                </ul>
                {% endif %}

                {% if job.job_extra_credit %}
                <h3>Extra Credit</h3>
                <ul>
                  {% for item in job.get_field('job_extra_credit') %}
                  <li>{{item.job_extra_credit_item}}</li>
                  {% endfor %}
                </ul>
                {% endif %}

              </div>

            </div>

          </div>

        </div>

      </article>

    </section>
    {% endfor %}

  </div>  

  <section class="featured-page">

    <article class="content team-n-clients">

      <div class="txt-wrap">

        <h1>
          Our Team, Partners &amp; Clients
        </h1>

        <p>
          Everything we do starts with our team and then involves our partners, and clients. We encourage our team members to reach their full potential and to be successful in what they do. We work with our clients and partners to create long-lasting relationships in which our collective efforts produce greater results.
        </p>

        <footer class="footer">
          <a class="read" href="/team/">Meet Our Team</a>
          <a class="share" href="/client-list/">View Our Client List</a>
        </footer>

      </div>

    </article>

  </section>


  <section class="featured-pages">

    <article class="content products">

      <div class="txt-wrap">

        <h1>
          Our Products
        </h1>

        <p>
          Innovation and user-experience drives the design process for all our products. We are meticulous in how we build our products and look to produce the best quality hardware and software. If something goes wrong, we take responsibility, provide timely support and service. The same people who build our products support and service them.
        </p>

        <footer class="footer">          
          <a class="share" href="/touch-walls/">View Our Touch Walls</a>
          <a class="read" href="/touch-tables/">View Our Multitouch Tables</a>
        </footer>

      </div>

    </article>

    <article class="content projects">

      <div class="txt-wrap">

        <h1>
          Our Projects
        </h1>

        <p>
         We are passionate about the projects that we take on. We love what we do, we are keenly interested in the technologies we utilize, and we love the topics that we explore. We attentively manage our projects and encourage the honest and open sharing of ideas, opinions, and information.
        </p>

        <footer class="footer">
          <a class="read" href="/creative-services/">Explore our Projects</a>
          <a class="share" href="/software-initiatives/">View our Software Initiatives</a>
        </footer>

      </div>

    </article>

  </section>

  {{follow_dialog}}

  {% include 'follow-us-button.twig' %}
  
</div>

<!-- begin hidden content for page-share -->
<div style='display:none'>
  <div id='jobs-share' class="share-dialog">
    <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Share this.</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum - Jobs and Career Opportunities" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="//www.pinterest.com/pin/create/button/?url={{post.link}}&amp;media={% if post.alternative_meta_image %}{{site.url}}{{TimberImage(post.get_field('alternative_meta_image')) }}{% elseif post.alternative_meta_image_path %}{{site.url}}/{{ post.alternative_meta_image_path }}{% elseif post.thumbnail %}{{site.url}}{{ post.get_thumbnail.get_src }}{% else %}{{site.url}}/wp-content/themes/ideum/images/generic-images/blog-ideum.jpg{% endif %}&amp;description={% if post.alternative_meta_title %}{{ post.alternative_meta_title }}{% else %}{{post.title}}{% endif %}" data-pin-do="buttonBookmark" data-pin-shape="round" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
  </div>
</div>
<!-- end hidden content for page-share - revealed when user clicks 'Share This Page' link in footer -->

{% endblock %}
