{% extends "base.twig" %}

{% block content %}
    <section class="product-category" id-autoplay>
        <video poster="{{theme.link}}/images/Platform.png">
            <source src="{{theme.link}}/videos/Platform.webm" type="video/webm">
            <source src="{{theme.link}}/videos/Platform.mp4" type="video/mp4">
            <img src="{{theme.link}}/images/Platform.png">
        </video>

        <div class="overlay">
            <div class="content">
                <h2>Platform Coffee Table</h2>
                <p>This is an awesome table. Some say it should have been the one that they used on the space shuttle. When NASA found out about it, it was too late. The table is awesome.</p>
                <a href="#FIXME">View Selections</a>
            </div>
        </div>
    </section>

    <section class="product-category" id-autoplay>
        <video poster="{{theme.link}}/images/Platform.png">
            <source src="{{theme.link}}/videos/Platform.webm" type="video/webm">
            <source src="{{theme.link}}/videos/Platform.mp4" type="video/mp4">
            <img src="{{theme.link}}/images/Platform.png">
        </video>

        <div class="overlay">
            <div class="content">
                <h2>Platform</h2>
                <p>This is an awesome table. Some say it should have been the one that they used on the space shuttle. When NASA found out about it, it was too late. The table is awesome.</p>
                <a href="#FIXME">View Selections</a>
            </div>
        </div>
    </section>

    <section class="product-category" id-autoplay>
        <video poster="{{theme.link}}/images/Platform.png">
            <source src="{{theme.link}}/videos/Platform.webm" type="video/webm">
            <source src="{{theme.link}}/videos/Platform.mp4" type="video/mp4">
            <img src="{{theme.link}}/images/Platform.png">
        </video>

        <div class="overlay">
            <div class="content">
                <h2>Platform Drafting Table</h2>
                <p>This is an awesome table. Some say it should have been the one that they used on the space shuttle. When NASA found out about it, it was too late. The table is awesome.</p>
                <a href="#FIXME">View Selections</a>
            </div>
        </div>
    </section>

    <section class="product-category" id-autoplay>
        <video poster="{{theme.link}}/images/Platform.png">
            <source src="{{theme.link}}/videos/Platform.webm" type="video/webm">
            <source src="{{theme.link}}/videos/Platform.mp4" type="video/mp4">
            <img src="{{theme.link}}/images/Platform.png">
        </video>

        <div class="overlay">
            <div class="content">
                <h2>Pro</h2>
                <p>This is an awesome table. Some say it should have been the one that they used on the space shuttle. When NASA found out about it, it was too late. The table is awesome.</p>
                <a href="#FIXME">View Selections</a>
            </div>
        </div>
    </section>

    <section class="product-category" id-autoplay>
        <video poster="{{theme.link}}/images/Drafting.png">
            <source src="{{theme.link}}/videos/Drafting.webm" type="video/webm">
            <source src="{{theme.link}}/videos/Drafting.mp4" type="video/mp4">
            <img src="{{theme.link}}/images/Drafting.png">
        </video>

        <div class="overlay">
            <div class="content">
                <h2>Super Table</h2>
                <p>DC has reached out to us numerous times over the years in attempt to license this table in a comic book.This table is so super, other superheroes could simply not exist simultaneously in the same universe. So we told DC, sure, but you have to permanently kill all other superheroes and villians first.</p>
                <a href="#FIXME">View Selections</a>
            </div>
        </div>
    </section>

    <section class="clients-n-partners" ng-init="clientSliderIndex = 0">

        <div class="section-info">

            <h1>
                <a href="/client-list/">Clients &amp; Partners</a>
            </h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae autem dicta eaque, deleniti hic cum. Dolores minima, beatae a explicabo, doloremque debitis deserunt alias quam nam veritatis atque! Sit, voluptas.
            </p>

        </div>

        <ul class="slider" rn-carousel rn-carousel-control rn-carousel-indicator rn-carousel-width="responsiveFourUp()" rn-carousel-index="clientSliderIndex">

            <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
                <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-3m.png"></a>
            </li>
            <li class="client-slide" ng-class="{active: clientSliderIndex==1}">
                <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-hp.png"></a>
            </li>
            <li class="client-slide" ng-class="{active: clientSliderIndex==2}">
                <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-exploratorium.png"></a>
            </li>
            <li class="client-slide" ng-class="{active: clientSliderIndex==3}">
                <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-crystalbridges.png"></a>
            </li>
            <li class="client-slide" ng-class="{active: clientSliderIndex==4}">
                <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-something1.png"></a>
            </li>
            <li class="client-slide" ng-class="{active: clientSliderIndex==5}">
                <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-something2.png"></a>
            </li>

        </ul>

        <div class="section-info">

            <ol class="slider-controls">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>

            <p>
                <a href="/client-list/" class="button active">View Client List</a>
            </p>

        </div>

        <ul class="other-cnp">
            <li>
                <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-3m.png"></a>
            </li>
            <li>
                <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-hp.png"></a>
            </li>
            <li>
                <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-exploratorium.png"></a>
            </li>
            <li class="crystalbridges">
                <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-crystalbridges.png"></a>
            </li>
            <li>
                <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-something1.png"></a>
            </li>
            <li>
                <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-client-n-partner-something2.png"></a>
            </li>
        </ul>

    </section>

    <section class="featured-pages">
        <article class="content products">
            <div class="txt-wrap">
                <h1>
                    <a href="#FIXME">Direct Sales</a>
                </h1>
                <p>
                Please contact us at (505) 792-1110 ext.1 or toll free in the US and Canada (855) 989-6824, use our online inquiry form, or emails us at sales@ideum.com. Our multitouch tables are sold domestically and internationally and are only available direct from Ideum.
                </p>
                <footer class="footer">
                    <a class="read" href="#FIXME">View Our Products</a>
                    <a class="share" href="#FIXME">Share This</a>
                </footer>
            </div>
        </article>

        <article class="content projects">
            <div class="txt-wrap">
                <h1>
                    <a href="#FIXME">Multitouch Rentals</a>
                </h1>
                <p>
                Ideum's 46" Platform, 55" 4k Drafting table, and 46" and 32" Coffee Tables are available for rent for tradeshows and special events. Learn more about Multitouch table rentals.
                </p>
                <footer class="footer">
                    <a class="read" href="#FIXME">View Our Projects</a>
                    <a class="share" href="#FIXME">Share This</a>
                </footer>
            </div>
        </article>
    </section>

{% endblock %}