{% extends "base.twig" %}

{% block content %}

<div id="our-story" class="sub-page-wrap">

  {% include "sub-nav.twig" %}

  <section class="highlight-text">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
    {% endif %}

    <h2>
      {{post.post_content}}
    </h2>

  </section>

  <section class="talking-points">

    <article class="point">

      <div class="point-icon">
        
        <img src="{{theme.link}}/images/our-story-talkingpoint-icons-globe.png">

      </div>

      <div class="point-text">

        <p>
          Originally founded in 1999 in Sausalito, California, for the last nine years Ideum has been located in the scenic village of Corrales in New Mexico. Our firm provides design and software development services and sells its multitouch tables and touch walls to <a href="/client-list/">clients</a> worldwide. 
        </p>

      </div>

    </article>

    <article class="point">

      <div class="point-icon">
        
        <img src="{{theme.link}}/images/our-story-talkingpoint-icons-creative.png">

      </div>

      <div class="point-text">

        <p>
          Ideum has worked on custom software and hardware projects with some of the world’s top museums such as: Cooper Hewitt Smithsonian Design Museum, The Field Museum, Monterey Bay Aquarium, Museum of Science and Industry (Chicago), Smithsonian National Museum of the American Indian, SFMOMA, and more. In addition, Ideum has worked with Fortune 500 companies and iconic brands such as: Apple, Adobe, Coca-Cola, Boeing, Hewlett-Packard, Intel, Union Pacific, and others.
        </p>

      </div>

    </article>

    <article class="point">

      <div class="point-icon">
        
        <img src="{{theme.link}}/images/our-story-talkingpoint-icons-span.png">

      </div>

      <div class="point-text">

        <p>
          Our work has spanned the realms of informal and formal education, entertainment and gaming. In over one hundred interactive projects, we’ve explored topics in art, culture, history, science and technology. Our 30+ employees have expertise in the areas of software and hardware design, Human Computer Interaction (HCI), user experience, programming, computer vision, gaming, usability testing, video and photography production, writing and research, museum planning and other diverse skills.
        </p>

      </div>

    </article>

    <article class="point">

      <div class="point-icon">
        
        <a class="dandb" href="//www.dandb.com/verified/business/572694109/" target="_blank"><img src="{{theme.link}}/images/DandB-seal.png" 
          alt="VERIFIED Seal" /></a>

      </div>

      <div class="point-text">

        <p>
          Dun &amp; Bradstreet is the most trusted source for insight into business credibility. Ideum is proud to be a Dun &amp; Bradstreet verified company. This means we have passed their stringent analysis and that we are periodically reviewed to ensure we follow industry best practices. When you work with Ideum, you know that you are supported by a stable company with viable credit and verified financial resources.
        </p>

  </section>

  <section class="our-story-slider">

    <ul class="slider" rn-carousel rn-carousel-control rn-carousel-indicator rn-carousel-width="responsiveTwoUp()">

      <li class="story-slide item">
        <img src="{{theme.link}}/images/our-story/slide-1.jpg">
      </li>

      <li class="story-slide item">
        <img src="{{theme.link}}/images/our-story/slide-2.jpg">
      </li>

      <li class="story-slide item">
        <img src="{{theme.link}}/images/our-story/slide-3.jpg">
      </li>

      <li class="story-slide item">
        <img src="{{theme.link}}/images/our-story/slide-4.jpg">
      </li>

      <li class="story-slide item">
        <img src="{{theme.link}}/images/our-story/slide-5.jpg">
      </li>

      <li class="story-slide item">
        <img src="{{theme.link}}/images/our-story/slide-6.jpg">
      </li>

    </ul>

    {{follow_dialog}}

    {% include 'follow-us-button.twig' %}

  </section>

</div>

<!-- begin hidden content for page-share -->
<div style='display:none'>
  <div id='our-story-share' class="share-dialog">
    <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Share this.</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum - Our Story" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
  </div>
</div>
<!-- end hidden content for page-share - revealed when user clicks 'Share This Page' link in footer -->

{% endblock %}