{% extends "base.twig" %}

{% block content %}

<section class="highlight-text child-page">

  {% if post.can_edit %}
  <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
  {% endif %}
  
  {{post.content}}

</section>

<div class="article-content social-media-feed">

  <div class="article-body">

    <div class="section-info">

      <div class="select-box-wrap" ng-controller="socialFilterCtrl">

        <select ui-select2 ng-model="socialSource" data-placeholder="Source">
          <option value=""></option>
          {% for source in social_sources %}
            <option value="{{ source }}">{{ source }}</option>
          {% endfor %}
        </select>

      </div>

    </div>

    <ul class="social-media-feed">
      {% for social_post in social_media_feed %}
        <li class="item {{social_post.source}}" 
          {% if social_post.source == 'flickr' %} style="background-image:url('{{social_post.image}}');"{% endif %}>

          <a class="view" href="{{social_post.url}}">
          {% if social_post.source == 'youtube' or social_post.source == 'facebook' %}<img class="img-circular" src="{{social_post.image}}">{% endif %}
          </a>

          <div class="content">
            
            {% if social_post.source != 'flickr' %}
            {% if social_post.text %}
              <p>{{social_post.text}}</p>
            {% endif %}
            {% endif %}

          </div>

          <footer class="footer">
            {% if social_post.source == 'twitter' %}
            <a class="read" href="http://twitter.com/home?status={{social_post.text}}">Retweet</a>
            {% endif %}
            <a class="share youtube" href="{{social_post.url}}">View on {{social_post.source}}</a>
          </footer>

          <i class="social-icon icon-{{social_post.source}}"></i>

        </li>
      {% endfor %}

    </ul>    

  </div>

</div> <!-- /article-content -->

{% endblock %}
