{% extends "base.twig" %}

{% block content %}

<div id="faq-list" class="sub-page-wrap">

  <section class="highlight-text child-page">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
    {% endif %}

    {{post.content}}

  </section>

  <div class="accordion-wrap" id-expander>

    <section class="item-wrap red only-open" id-expander-item>

      <article>

        <header class-"expander">

          <h1 id-expander-button>
            Multitouch Tables
          </h1>

          <button id-expander-button><i class="icon-caret-down"></i></button>

        </header>        

        <div class="item-content">

          <div class="text-container">

            <div class="faq-item one-column-text no-justification">

              <div class="question">
                Lorem ipsum dolor sit amet, consectetuer, nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </div>

              <div class="answer-toggle" tabindex="1">

                <span class="show-answer">Show Answer</span>

                <div class="answer">

                  <p class="answer-title">
                    Multitouch Tables
                  </p>

                  <div class="answer-question">
                    Lorem ipsum dolor sit amet, consectetuer, nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  </div>

                  <div class="answer-answer">
                    
                    <p>
                      In eros sapien, tincidunt nec fermentum id, congue quis tellus. Morbi feugiat elit ipsum, non egestas lorem interdum id. Nunc pretium nunc vel diam commodo, eget aliquam sem vestibulum. Quisque pellentesque dolor at sodales aliquet. Nam sit amet leo non lorem maximus imperdiet nec sed est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque rutrum dolor, rhoncus dignissim dui ultricies sed. Suspendisse commodo non justo eu bibendum. In consectetur, ante sit amet ultricies porttitor, eros neque semper mi, vel pretium nibh quam in nisi. Duis ut enim semper, pulvinar lorem ac, lacinia ex. Sed egestas suscipit urna, in efficitur mauris finibus quis.
                    </p>

                  </div>

                  <p class="hide-answer">Click outside to close</p>

                </div>

              </div>

            </div>

            <div class="faq-item one-column-text no-justification">

              <div class="question">
                Lorem ipsum dolor sit amet, consectetuer, nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </div>

              <div class="answer-toggle" tabindex="2">

                <span class="show-answer">Show Answer</span>

                <div class="answer">

                  <p class="answer-title">
                    Multitouch Tables
                  </p>

                  <div class="answer-question">
                    Lorem ipsum dolor sit amet, consectetuer, nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  </div>

                  <div class="answer-answer">
                    
                    <p>
                      In eros sapien, tincidunt nec fermentum id, congue quis tellus. Morbi feugiat elit ipsum, non egestas lorem interdum id. Nunc pretium nunc vel diam commodo, eget aliquam sem vestibulum. Quisque pellentesque dolor at sodales aliquet. Nam sit amet leo non lorem maximus imperdiet nec sed est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque rutrum dolor, rhoncus dignissim dui ultricies sed. Suspendisse commodo non justo eu bibendum. In consectetur, ante sit amet ultricies porttitor, eros neque semper mi, vel pretium nibh quam in nisi. Duis ut enim semper, pulvinar lorem ac, lacinia ex. Sed egestas suscipit urna, in efficitur mauris finibus quis.
                    </p>

                  </div>

                  <p class="hide-answer">Click outside to close</p>

                </div>

              </div>

            </div>

          </div>

        </div>

      </article>

    </section>

    <section class="item-wrap red only-open" id-expander-item>

      <article>

        <header class-"expander">

          <h1 id-expander-button>
            Touch Walls
          </h1>

          <button id-expander-button><i class="icon-caret-down"></i></button>

        </header>

        <div class="item-content">

          <div class="text-container">

            <div class="faq-item one-column-text no-justification">

              <div class="question">
                Lorem ipsum dolor sit amet, consectetuer, nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </div>

              <div class="answer-toggle" tabindex="3">

                <span class="show-answer">Show Answer</span>

                <div class="answer">

                  <p class="answer-title">
                    Multitouch Tables
                  </p>

                  <div class="answer-question">
                    Lorem ipsum dolor sit amet, consectetuer, nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  </div>

                  <div class="answer-answer">
                    
                    <p>
                      In eros sapien, tincidunt nec fermentum id, congue quis tellus. Morbi feugiat elit ipsum, non egestas lorem interdum id. Nunc pretium nunc vel diam commodo, eget aliquam sem vestibulum. Quisque pellentesque dolor at sodales aliquet. Nam sit amet leo non lorem maximus imperdiet nec sed est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque rutrum dolor, rhoncus dignissim dui ultricies sed. Suspendisse commodo non justo eu bibendum. In consectetur, ante sit amet ultricies porttitor, eros neque semper mi, vel pretium nibh quam in nisi. Duis ut enim semper, pulvinar lorem ac, lacinia ex. Sed egestas suscipit urna, in efficitur mauris finibus quis.
                    </p>

                  </div>

                  <p class="hide-answer">Click outside to close</p>

                </div>

              </div>

            </div>

            <div class="faq-item one-column-text no-justification">

              <div class="question">
                Lorem ipsum dolor sit amet, consectetuer, nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </div>

              <div class="answer-toggle" tabindex="4">

                <span class="show-answer">Show Answer</span>

                <div class="answer">

                  <p class="answer-title">
                    Multitouch Tables
                  </p>

                  <div class="answer-question">
                    Lorem ipsum dolor sit amet, consectetuer, nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  </div>

                  <div class="answer-answer">
                    
                    <p>
                      In eros sapien, tincidunt nec fermentum id, congue quis tellus. Morbi feugiat elit ipsum, non egestas lorem interdum id. Nunc pretium nunc vel diam commodo, eget aliquam sem vestibulum. Quisque pellentesque dolor at sodales aliquet. Nam sit amet leo non lorem maximus imperdiet nec sed est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque rutrum dolor, rhoncus dignissim dui ultricies sed. Suspendisse commodo non justo eu bibendum. In consectetur, ante sit amet ultricies porttitor, eros neque semper mi, vel pretium nibh quam in nisi. Duis ut enim semper, pulvinar lorem ac, lacinia ex. Sed egestas suscipit urna, in efficitur mauris finibus quis.
                    </p>

                  </div>

                  <p class="hide-answer">Click outside to close</p>

                </div>

              </div>

            </div>

            <div class="faq-item one-column-text no-justification">

              <div class="question">
                Lorem ipsum dolor sit amet, consectetuer, nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </div>

              <div class="answer-toggle" tabindex="5">

                <span class="show-answer">Show Answer</span>

                <div class="answer">

                  <p class="answer-title">
                    Multitouch Tables
                  </p>

                  <div class="answer-question">
                    Lorem ipsum dolor sit amet, consectetuer, nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  </div>

                  <div class="answer-answer">
                    
                    <p>
                      In eros sapien, tincidunt nec fermentum id, congue quis tellus. Morbi feugiat elit ipsum, non egestas lorem interdum id. Nunc pretium nunc vel diam commodo, eget aliquam sem vestibulum. Quisque pellentesque dolor at sodales aliquet. Nam sit amet leo non lorem maximus imperdiet nec sed est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque rutrum dolor, rhoncus dignissim dui ultricies sed. Suspendisse commodo non justo eu bibendum. In consectetur, ante sit amet ultricies porttitor, eros neque semper mi, vel pretium nibh quam in nisi. Duis ut enim semper, pulvinar lorem ac, lacinia ex. Sed egestas suscipit urna, in efficitur mauris finibus quis.
                    </p>

                  </div>

                  <p class="hide-answer">Click outside to close</p>

                </div>

              </div>

            </div>

          </div>

        </div>

      </article>

    </section>

    <section class="item-wrap red only-open" id-expander-item>

      <article>

        <header class-"expander">

          <h1 id-expander-button>
            Something Else
          </h1>

          <button id-expander-button><i class="icon-caret-down"></i></button>

        </header>        

        <div class="item-content">

          <div class="text-container">

            <div class="faq-item one-column-text no-justification">

              <div class="question">
                Lorem ipsum dolor sit amet, consectetuer, nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </div>

              <div class="answer-toggle" tabindex="6">

                <span class="show-answer">Show Answer</span>

                <div class="answer">

                  <p class="answer-title">
                    Multitouch Tables
                  </p>

                  <div class="answer-question">
                    Lorem ipsum dolor sit amet, consectetuer, nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  </div>

                  <div class="answer-answer">
                    
                    <p>
                      In eros sapien, tincidunt nec fermentum id, congue quis tellus. Morbi feugiat elit ipsum, non egestas lorem interdum id. Nunc pretium nunc vel diam commodo, eget aliquam sem vestibulum. Quisque pellentesque dolor at sodales aliquet. Nam sit amet leo non lorem maximus imperdiet nec sed est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque rutrum dolor, rhoncus dignissim dui ultricies sed. Suspendisse commodo non justo eu bibendum. In consectetur, ante sit amet ultricies porttitor, eros neque semper mi, vel pretium nibh quam in nisi. Duis ut enim semper, pulvinar lorem ac, lacinia ex. Sed egestas suscipit urna, in efficitur mauris finibus quis.
                    </p>

                  </div>

                  <p class="hide-answer">Click outside to close</p>

              </div>

            </div>

          </div>

        </div>

      </article>

    </section>

  </div>
  
  <section class="clients-n-partners" ng-init="clientSliderIndex=0">
    
    <div class="section-info">

      <h1>
        <a href="/client-list/">Our Partners</a>
      </h1>

      <div class="two-column-text"><!-- option: one-column-text -->

        <p>
          Ideum works closely with museums, technology companies, and other creative organizations. We think the company you keep says a lot about who you are.  We have great respect our partners and we are proud to work with them.
        </p>
        <p>
          We have a formal partnership with RATIO architects as we look to blend technology and architecture to enhance the visitor experience. Please see the <a href="http://architectureconnected.com" target="_blank" title="External link to the Architecture Connected website">Architecture Connected</a> website to learn more. 
        </p>

      </div>

    </div>

  </section>  

  <section class="featured-pages">
    <article class="content direct-sales light-link-color">
      <div class="txt-wrap">
        <h1>
          Direct Sales
        </h1>
        <p>
          Please contact us at <span class="faux-link">(505) 792-1110</span> ext.1 or toll free in the US and Canada <span class="faux-link">(855) 898-6824</span>, use our online inquiry form, or emails us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;">&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;</a>. Our multitouch tables are sold domestically and internationally and are only available direct from Ideum.
        </p>

        <footer class="footer">
          <a class="read" href="/contact/">Inquire about sales</a>
          <!-- <a class="share" href="#FIXME">Share This</a> -->
        </footer>

      </div>
    </article>

    <article class="content rentals light-link-color">
      <div class="txt-wrap">
        <h1>
          Multitouch Rentals
        </h1>
        <p>
          Ideum's 46&quot; Platform, 55&quot; 4K Drafting table, 46&quot; and 32&quot; Coffee Tables, and 46&quot; Presenter Touch Wall are available for rent for trade shows and special events.
        </p>
        
        <footer class="footer">
          <a class="read" href="/contact/">Inquire about rentals</a>
          <!-- <a class="share" href="#FIXME">Share This</a> -->
        </footer>

      </div>
    </article>

  </section>

  {{follow_dialog}}

  {% include 'follow-us-button.twig' %}

</div>

<!-- begin hidden content for page-share -->
<div style='display:none'>
  <div id='client-list-share' class="share-dialog">
    <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Share this.</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum - Our Clients" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
  </div>
</div>
<!-- end hidden content for page-share - revealed when user clicks 'Share This Page' link in footer -->

{% endblock %}
