{% extends "base.twig" %}

{% block content %}

<main class="productOuterWrapper">
  <header>
    <h1>Presenter</h1>
    <img src="{{theme.link}}/images/products/presenter/header.jpg">
  </header>
  <main class="productInnerWrapper">
    <div ng-app="ideum.tabs">
      <!-- Tabs -->
      <div tabs class="presenter">
        <!-- PLATFORM TAB -->
        <div pane title="Presenter 46">
          <header>
            <h1>Presenter 46</h1>
            <h2>Touch Space, Refined</h2>
          </header>
          <div ng-app="productDetails">
            <section class="x-ray presenter-46" ng-controller="xRayCtrl" ng-init="dataIndex = 0">
              <section class="overlay" ng-style="overlayStyle">
                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">
                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>
                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>
              </section>
            </section>
          </div>
        </div>

        <div pane title="Presenter 55">
          <header>
            <h1>Presenter 55</h1>
            <h2>Built Touch for Public Spaces, Versatile Enough for Any Setting</h2>
          </header>
          <div ng-app="productDetails">
            <section class="x-ray presenter-55" ng-controller="xRayCtrl" ng-init="dataIndex = 1">
              <section class="overlay" ng-style="overlayStyle">
                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">
                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>
                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>
              </section>
            </section>
          </div>
        </div>

        <div pane title="Presenter 65">
          <header>
            <h1>Presenter 65</h1>
            <h2>The Big Picture, Totally Touchable</h2>
          </header>
          <div ng-app="productDetails">
            <section class="x-ray presenter-65" ng-controller="xRayCtrl" ng-init="dataIndex = 2">
              <section class="overlay" ng-style="overlayStyle">
                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">
                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>
                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>
              </section>
            </section>
          </div>
        </div>
    </div> <!-- Close tabs -->

    <section class="productSection presenter">
      <div class="prod-sect-img-wrap img-left">
        <img class="left" src="{{theme.link}}/images/products/presenter/half_01.jpg">
      </div>
      <div class="productText white">
        <h2>A Simple Solution for a Huge Touch Wall Experience</h2>
        <p>
          The Presenter series is powerfully equipped, but simple to install and use. It
          has a standard VESA mount back plate and push-button operation. The Presenter
          can be purchased with one of several integrated slim, yet powerful Windows 7 or
          8 computers (there is also a dual boot option).
        </p>
      </div>
    </section>

    <section class="productSection presenter">
      <div class="prod-sect-img-wrap full img-left">
        <img class="full" src="{{theme.link}}/images/products/presenter/full_02.jpg">
      </div>
      <div class="productText white fullLeft">
        <h2>The Most Precise Touch Technology Available</h2>
        <p> 
          The Presenter 46 comes with a 3M projected capacitive screen; the same type of
          reliable touch technology that is used in smart phones and tablets. This touch
          technology is impervious to light interference, provides superior
          responsiveness and accuracy.
        </p>
      </div>
    </section>

    <section class="section-info">
      <h1>Key Features</h1>
    </section>

    <ul
      class="slider presenter"
      ng-init="clientSliderIndex = 0"
      rn-carousel
      rn-carousel-control
      rn-carousel-indicator
      rn-carousel-width="responsiveTwoUp()"
      rn-carousel-index="clientSliderIndex"
    >
      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/armed.svg' %}
        </div>
        <h3>Choose Your Computer</h3>
        <p>
          Presenters have a variety of computer options ranging from small form factor
          systems to custom-built systems with dedicated graphics cards for demanding
          applications. All the configurations feature hyper-threaded quad core Intel
          processors up to 3.7GHz.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/reach.svg' %}
        </div>
        <h3>Reach Out &amp; Touch Everything</h3>
        <p>
          Along with an industry-leading 40+ touch points, the touch surface on the
          Presenter series has palm rejection, bright HD or 4K / UHD resolution screens,
          and up to a 60hz refresh rate.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/demanding.svg' %}
        </div>
        <h3>Built for Demanding Spaces</h3>
        <p>
          The Presenter touch walls have a either chemically strengthened or tamped glass
          tops and the chassis is made out of aircraft-grade aluminum. The Presenters
          have exceptional build-quality and are perfect for public spaces and other
          demanding environments.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/gestureworks.svg' %}
        </div>
        <h3>Creation by Intelligent Design</h3>
        <p>
          Presenters come with a lifetime license for GestureWorks Core (C++, C# / .NET,
          Java, Python, and HTML5 / JavaScript) and Open Exhibits (ActionScript). The
          license includes ticketed, timely support and free upgrades for life.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/graphically.svg' %}
        </div>
        <h3>Graphically Speaking</h3>
        <p>
          The Presenter 55 and 65 are available with powerful graphics performance
          upgrades. For faster processing of graphics intensive applications, customize
          your Presenter touch wall with these high performing and efficient options.
        </p>
        <ul>
          <li>2GB 256 bit DDR5 graphics card</li>
          <li>16GB DDR3-1333 RAM</li>
        </ul>
      </li>
    </ul>

    <button class="very-dark-gray-button">Download Spec Sheet</button>

    <section class="productSection plain full" 
    style="background:url('{{theme.link}}/images/products/presenter/full_03.jpg') no-repeat top center;background-size:cover;">
      <div class="productText white fullLeft">
        <h2>Upgrades</h2>
        <p>
          There are a variety of upgrades and add-ons for sharing and portability.
          <div class="specs">
            <ul class="specList">
              <!-- <li class="listHeader">Platform 46 Drafting Table</li> -->
              <li>512GB SSD (Presenter 46)</li>
              <li>WiDi receiver for a second display (Presenter 55 and 65 Option 2 computer-only)</li>
              <li>RFID Reader (Presenter 55 and 65-only)</li>
              <li>Windows 7 / Windows 8 OS Dual Boot</li>
            </ul>
          </div>
        </p>
      </div>
    </section>

    <section class="productSection">
      <div class="prod-sect-img-wrap img-left">
        <img class="left" src="{{theme.link}}/images/products/presenter/06_direct-sales-presenter.jpg">
      </div>
      <div class="productText">
        <h2>Direct Sales &amp; Rentals</h2> <!-- Does the average person know what this means?? -->
        <p>
          Please contact us at (505) 791-1110 ext. 1 or toll free in the US and Canada (855) 898-6824, use our online inquiry form, or email us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;">&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;</a>. Presenters are sold domestically and internationally and are only available direct from Ideum. We also rent the Presenter 46 on a motorized stand in the US and Canada.
        </p>
      </div>
    </section>
  </main>
</main>
{% endblock %}
