{% extends "base.twig" %}

{% block content %}

<div id="touch-walls">

  <section class="product-category" id-autoplay>
    <video poster="{{theme.link}}/images/products/Presenter.png">
      <source src="{{theme.link}}/videos/Presenter.webm" type="video/webm">
      <source src="{{theme.link}}/videos/Presenter.mp4" type="video/mp4">
      <img src="{{theme.link}}/images/products/Presenter.png">
    </video>
    <img class="mobile-fallback" src="{{theme.link}}/images/products/Presenter.png" alt="The Presenter Touch Wall" title="The Presenter Touch Wall">

    <div class="overlay">
      <div class="content">
        <h2>Presenter</h2>
        <p>
          The Presenter is Ideum’s line of HD and 4K / UHD rugged, ultra-thin touch
          walls. Available in 46”, 55” and 65” versions, there is a Presenter model to
          match every type of application or need. The Presenter can be used just about
          anywhere; it has appeared in major US art museums, busy aquariums and science
          centers, in the board rooms of Fortune 500 companies, inside a mobile
          laboratory and even in a moving rail car exhibit. <!-- The Presenter Touch Wall -->
        </p>
        <a class="presenter" href="presenter">View Selections</a>
      </div>
    </div>
  </section>

  <section class="clients-n-partners" ng-init="clientSliderIndex = 0">

    <div class="section-info">

      <h1>
        <a href="/client-list/">Clients &amp; Partners</a>
      </h1>

      <p>
        We have worked with top museums and cultural institutions, the world’s leading technology firms, along with exhibit design and fabrication firms on a variety of challenging and collaborative projects.
      </p>

    </div>

    {% include 'client-slider.twig' %}

  </section>

  <section class="featured-pages">
    <article class="content direct-sales light-link-color">
      <div class="txt-wrap">
        <h1>
          Direct Sales
        </h1>
        <p>
          Please contact us at <span class="faux-link">(505) 792-1110</span> ext.1 or toll free in the US and Canada <span class="faux-link">(855) 989-6824</span>, use our online inquiry form, or email us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;">&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;</a>. Our multitouch tables are sold domestically and internationally and are only available direct from Ideum.
        </p>

        <footer class="footer">
          <a class="read" href="/contact/">Inquire about multitouch sales</a>
          <!-- <a class="share" href="#FIXME">Share This</a> -->
        </footer>

      </div>
    </article>

    <article class="content rentals light-link-color">
      <div class="txt-wrap">
        <h1>
          Multitouch Rentals
        </h1>
        <p>
          Ideum's 46&quot; Platform, 55&quot; 4K Drafting table, 46&quot; and 32&quot; Coffee Tables, and 46&quot; Presenter Touch Wall are available for rent for trade shows and special events.
        </p>

        <footer class="footer">
          <a class="read" href="/contact/">Inquire about multitouch rentals</a>
          <!-- <a class="share" href="#FIXME">Share This</a> -->
        </footer>

      </div>
    </article>
  </section>

  {{follow_dialog}}

  {% include 'follow-us-button.twig' %}

</div>

<!-- begin hidden content for page-share -->
<div style='display:none'>
  <div id='touch-walls-share' class="share-dialog">
    <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Share this.</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum - Touch Walls" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
  </div>
</div>
<!-- end hidden content for page-share - revealed when user clicks 'Share This Page' link in footer -->

{% endblock %}
