{% extends "base.twig" %}

{% block content %}

<main class="productOuterWrapper">
  <header>
    <h1>Ideum Multitouch Coffee Table</h1>
    <img src="{{theme.link}}/images/products/platform-coffee/header.jpg">
  </header>
  <main class="productInnerWrapper">
    <div ng-app="ideum.tabs">
      <!-- Tabs -->
      <div tabs>
        <!-- PLATFORM TAB -->
        <div pane title="Ideum 46 Multitouch Coffee Table">
          <header>
            <h1>Ideum 46 Multitouch Coffee Table</h1>
            <h2>A 3M 46” Display and Multiple OS Options</h2>
          </header>
          <div ng-app="productDetails">
            <section class="x-ray platform-coffee" ng-controller="xRayCtrl" ng-init="dataIndex=0">
              <section class="overlay" ng-style="overlayStyle">
                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">
                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>
                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>
              </section>
            </section>
          </div>

        </div> 
      </div>
    </div> <!-- Close tabs -->

    <section class="productSection platform-coffee">
      <img class="full" src="{{theme.link}}/images/products/platform-coffee/02_smarter-coffee-table.png">
      <div class="productText fullRight white">
        <h2>A Smarter Coffee Table</h2>
        <p>
          The projected capacitive multitouch technology featured in the multitouch
          coffee table is the same type of reliable touch technology that is used in
          smart phones and tablets. This touch technology is impervious to light
          interference and provides superior responsiveness and accuracy.
        </p>
      </div>
    </section>

    <section class="productSection">
      <img class="left" src="{{theme.link}}/images/products/platform-coffee/01_the-platfom-coffee-table.jpg">
      <div class="productText">
        <h2>Il Pacchetto Perfetto</h2>
        <p> 
          This fully integrated and turnkey solution has single push button operation and
          lockable access ports. There are no installation technicians, nor any special
          set-up or requirements. The table arrives fully assembled. You unpack it, plug
          it in, press the button and get started.
        </p>
      </div>
    </section>

    <section class="section-info">
      <h1>Key Features</h1>
    </section>

    <ul
      class="slider platform-coffee"
      ng-init="clientSliderIndex = 0"
      rn-carousel
      rn-carousel-control
      rn-carousel-indicator
      rn-carousel-width="responsiveTwoUp()"
      rn-carousel-index="clientSliderIndex"
    >
      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/armed.svg' %}
        </div>
        <h3>Armed &amp; Hyperthready</h3>
        <p>
          The integrated computer is a powerhouse. It includes an Intel® Quad Core i7
          3540M® (3.7GHz) with Hyperthreading®, 4MB cache computer with 16 GB of RAM, and
          a 500 GB HDD.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/reach.svg' %}
        </div>
        <h3>Reach Out &amp; Touch Everything</h3>
        <p>
          Along with an industry-leading (Android OS is capped at 15) 60 touch points for
          the touch surface on the Ideum 46 Multitouch Coffee Table has palm rejection, a
          bright HD resolution screen, and up to a 60hz refresh rate.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/widi.svg' %}
        </div>
        <h3>WiDi Ready</h3>
        <p>
          Use the integrated Intel Wireless Display (WiDi) to share your touch table
          content on any HDMI compatible display. Expand collaborative work options and
          presentations by using the touch table and an HD screen to include more
          participants. A WiDi receiver is available as an optional upgrade and works
          with the PC OS.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/demanding.svg' %}
        </div>
        <h3>Built for Demanding Spaces</h3>
        <p>
          The multitouch coffee table has a chemically strengthened glass top and the
          chassis is made out of aircraft-grade aluminum.  We are proud to say that the
          Ideum Multitouch Coffee Table has an exceptional build-quality and is perfect
          for public spaces and other demanding environments.  Our multitouch coffee
          table can travel too. It can fit through standard doorways even when packed in
          a protective ATA case (upgrade option).
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/windows.svg' %}
        </div>
        <h3>Choose Your Favorite Brew</h3>
        <p>
          The Ideum 46 Multitouch Coffee Table ships with either the Windows 7, Windows 8
          or Android 4.4 KitKat OS installed. Thousands of touch-enabled apps for Windows
          8 and 7 are now available or you can download apps for Android.  There is even
          a Windows 7 / 8 or Windows 8 / Android dual boot system upgrade option.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/gestureworks.svg' %}
        </div>
        <h3>Creation by Intelligent Design</h3>
        <p>
          The Ideum 46 Multitouch Coffee Table comes with a lifetime license for
          GestureWorks Core (C++, C# / .NET, Java, Python, and HTML5 / JavaScript) and
          Open Exhibits (ActionScript). The license includes ticketed, timely support and
          free upgrades for life. GestureWorks Gameplay is also included: an innovative
          Windows 8 utility that lets you configure touch, motion and voice controls for
          your favorite PC games or applications.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/graphically.svg' %}
        </div>
        <h3>Graphically Speaking</h3>
        <p>
          The Ideum 46 Multitouch Coffee Table is available with powerful graphics
          performance upgrades. For faster processing of graphics intensive applications,
          trick out your multitouch coffee table with these high performing and efficient
          options.
        </p>
        <ul>
          <li>2 GB 256 bit DDR5 graphics card</li>
          <li>16 GB DDR3-1333 RAM</li>
        </ul>
      </li>
    </ul>

    <button class="very-dark-gray-button">Download Spec Sheet</button>

    <section class="productSection plain platform-coffee">
      <img class="full" src="{{theme.link}}/images/products/platform-coffee/04_upgrades.jpg">
      <div class="productText white fullLeft">
        <h2>Upgrades</h2>
        <p> 
          There are a variety of upgrades and add-ons for sharing and portability.
          <div class="specs">
            <ul class="specList">
              <li>512 GB Solid-State Drive</li>
              <li>Windows 7 / Windows 8 Dual Boot</li>
              <li>Windows 8 / Android 4.4 KitKat Dual Boot</li>
            </ul>

            <ul class="specList column2">
              <li>WiDi Receiver</li>
              <li>ATA Travel Case</li>
            </ul>
          </div>
        </p>
      </div>
    </section>

    <section class="productSection">
      <img class="left" src="{{theme.link}}/images/products/platform-coffee/06_direct-sales.jpg">
      <div class="productText">
        <h2>Direct Sales &amp; Rentals</h2> <!-- Does the average person know what this means?? -->
        <p>
          Please contact us at (505) 791-1110 ext. 1 or toll free in the US and Canada
          (855) 898-6824, use our online inquiry form, or email us at sales@ideum.com.
          Ideum 46 Multitouch Coffee Tables are sold domestically and internationally
          direct from Ideum.  We also rent the 32” and 46” multitouch coffee tables in
          the US and Canada.
        </p>
      </div>
    </section>
  </main>
</main>
{% endblock %}
