{% extends "base.twig" %}

{% block content %}

<div id="facilities" class="sub-page-wrap">

  {% include "parent-nav.twig" %}

  <section class="highlight-text child-page">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
    {% endif %}

    <h1>
      Our {{post.title}}
    </h1>

    <p>
      {{post.content}}
    </p>

  </section>

  <section class="facilities-slider">

    <ul rn-carousel rn-carousel-control rn-carousel-indicator>

      <li class="facilities item">

        <article>

          <img src="{{theme.link}}/images/facilities-slider-placeholder-image-1.jpg">

          <h1 style="text-align:center;">
            Production Studio
          </h1>

          <div class="two-column-text"><!-- choose either 'one-column-text' or 'two-column-text' for class -->
            <p>
              Each year Ideum produces hundreds of carefully crafted multitouch tables and touch walls for customers all over the world. These products are assembled and our supported by our exhibit technicians and other staff in our Production Studio. This space is optimized to facilitate quality production and testing of our standard models. 
            </p>
            <p>
              Ideum works with two metal fabricators in state to produce the touch table and display enclosures it designs. Ideum’s custom designed ATA cases are also fabricated by a local company. All design, computer and display integration, assembly and testing occurs at Ideum’s New Mexico facility.
            </p>
          </div>

        </article>

      </li>

      <li class="facilities item">

        <article>

          <img src="{{theme.link}}/images/facilities-slider-placeholder-image-1.jpg">

          <h1 style="text-align:center;">
            Prototyping + Usability Lab
          </h1>

          <div class="two-column-text"><!-- choose either 'one-column-text' or 'two-column-text' for class -->
            <p>
              The Prototyping+Usability Lab opened in August 2014 with the purpose of supporting a variety of our firm’s diverse activities. The Lab has space for hardware prototyping, usability testing, video & photography production, and even has a dedicated area for 3D printing and CNC routing.
            </p>
            <p>
              The Prototyping + Usability Lab also has a number of Ideum touch tables set up and ready for interaction. If you are interested in visiting the Prototyping + Usability Lab or conducting a video conference with our sales group, please free to contact us.
            </p>
          </div>

        </article>

      </li>

      <li class="facilities item">

        <article>

          <img src="{{theme.link}}/images/facilities-slider-placeholder-image-1.jpg">

          <h1 style="text-align:center;">
            Device Lab
          </h1>

          <div class="two-column-text">

            <p>
              The proliferation of platforms (and versions) and the astounding number of devices released makes it more difficult to ensure compatibility and usability of custom software. Our Device Lab with Android, iOS, Lynx, and Windows phones, tablets, laptops, and legacy systems ensure that we have the proper tools to test across devices and platforms. The Device Lab is used to test our mobile, web and software development.
            </p>
            
          </div>

        </article>

      </li>      

      <li class="facilities item">

        <article>

          <img src="{{theme.link}}/images/facilities-slider-placeholder-image-1.jpg">

          <h1 style="text-align:center;">
            3D Printing and CNC
          </h1>

          <div class="two-column-text">

            <p>
              We use 3D printing to prototype small parts and even to produce short runs of internal components. Our collection of 3D printers allow us to print with a variety of materials. We’ve printed with conductive materials to use in fudicials for capacitive touch screens. Our CNC router is used for prototyping small parts in aluminum and steel.
            </p>
            
          </div>

        </article>

      </li>

    </ul>

    {{follow_dialog}}

    {% include 'follow-us-button.twig' %}

  </section>
  
</div>

{% endblock %}