{% extends "base.twig" %}

{% block content %}

<div id="facilities" class="sub-page-wrap">

  {% include "parent-nav.twig" %}

  <section class="highlight-text child-page">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
    {% endif %}

    {{post.content}}

  </section>

  <!-- begin slider for tablet and desktop - if you make changes here, make them to phone list (below) too -->
  <section id="facilities-slider" class="facilities-slider">

    <ul rn-carousel rn-carousel-control rn-carousel-indicator>

      <li class="facilities item">

        <article>

          <img alt="Production Studio" src="{{theme.link}}/images/facilities/slide-1.jpg" titlke="Production Studio">

          <h1 style="text-align:center;">
            Production Studio
          </h1>

          <div class="two-column-text"><!-- choose either 'one-column-text' or 'two-column-text' for class -->
            <p>
              Each year Ideum produces hundreds of carefully crafted multitouch tables and touch walls for customers all over the world. These products are assembled and our supported by our exhibit technicians and other staff in our Production Studio. This space is optimized to facilitate quality production and testing of our standard models. 
            </p>
            <p>
              Ideum works with two metal fabricators in state to produce the touch table and display enclosures it designs. Ideum’s custom designed ATA cases are also fabricated by a local company. All design, computer and display integration, assembly and testing occurs at Ideum’s New Mexico facility.
            </p>
          </div>

        </article>

      </li>

      <li class="facilities item">

        <article>

          <img alt="Prototyping + Usability Lab" src="{{theme.link}}/images/facilities/slide-2.jpg" titlke="Prototyping + Usability Lab">

          <h1 style="text-align:center;">
            Prototyping &amp; Usability Lab
          </h1>

          <div class="two-column-text"><!-- choose either 'one-column-text' or 'two-column-text' for class -->
            <p>
              The Prototyping+Usability Lab opened in August 2014 with the purpose of supporting a variety of our firm’s diverse activities. The Lab has space for hardware prototyping, usability testing, video &amp; photography production, and even has a dedicated area for 3D printing and CNC routing.
            </p>
            <p>
              The Prototyping + Usability Lab also has a number of Ideum touch tables set up and ready for interaction. If you are interested in visiting the Prototyping + Usability Lab or conducting a video conference with our sales group, please free to contact us.
            </p>
          </div>

        </article>

      </li>

      <li class="facilities item">

        <article>

          <img alt="Device Lab" src="{{theme.link}}/images/facilities/slide-3.jpg" titlke="Device Lab">

          <h1 style="text-align:center;">
            Device Lab
          </h1>

          <div class="two-column-text">

            <p>
              The proliferation of platforms (and versions) and the astounding number of devices released makes it more difficult to ensure compatibility and usability of custom software. Our Device Lab with Android, iOS, Lynx, and Windows phones, tablets, laptops, and legacy systems ensure that we have the proper tools to test across devices and platforms. The Device Lab is used to test our mobile, web and software development.
            </p>
            
          </div>

        </article>

      </li>      

      <li class="facilities item">

        <article>

          <img alt="3D Printing and CNC" src="{{theme.link}}/images/facilities/slide-4.jpg" titlke="3D Printing and CNC">

          <h1 style="text-align:center;">
            3D Printing &amp; CNC
          </h1>

          <div class="two-column-text">

            <p>
              We use 3D printing to prototype small parts and even to produce short runs of internal components. Our collection of 3D printers allow us to print with a variety of materials. We’ve printed with conductive materials to use in fudicials for capacitive touch screens. Our CNC router is used for prototyping small parts in aluminum and cold-rolled steel.
            </p>
            
          </div>

        </article>

      </li>

    </ul>

  </section>
  <!-- end slider for tablet and desktop - if you make changes here, make them to phone list (below) too -->

  <!-- begin list for phone - if you make changes here, make them to phone slider (above) too -->
  <section id="facilities-list" class="facilities-list">
    
    <ul>

      <li class="facilities item">

        <article>

          <img alt="Production Studio" src="{{theme.link}}/images/facilities/slide-1.jpg" titlke="Production Studio">

          <h1 style="text-align:center;">
            Production Studio
          </h1>

          <div class="two-column-text"><!-- choose either 'one-column-text' or 'two-column-text' for class -->
            <p>
              Each year Ideum produces hundreds of carefully crafted multitouch tables and touch walls for customers all over the world. These products are assembled and our supported by our exhibit technicians and other staff in our Production Studio. This space is optimized to facilitate quality production and testing of our standard models. 
            </p>
            <p>
              Ideum works with two metal fabricators in state to produce the touch table and display enclosures it designs. Ideum’s custom designed ATA cases are also fabricated by a local company. All design, computer and display integration, assembly and testing occurs at Ideum’s New Mexico facility.
            </p>
          </div>

        </article>

      </li>

      <li class="facilities item">

        <article>

          <img alt="Prototyping + Usability Lab" src="{{theme.link}}/images/facilities/slide-2.jpg" titlke="Prototyping + Usability Lab">

          <h1 style="text-align:center;">
            Prototyping &amp; Usability Lab
          </h1>

          <div class="two-column-text"><!-- choose either 'one-column-text' or 'two-column-text' for class -->
            <p>
              The Prototyping+Usability Lab opened in August 2014 with the purpose of supporting a variety of our firm’s diverse activities. The Lab has space for hardware prototyping, usability testing, video &amp; photography production, and even has a dedicated area for 3D printing and CNC routing.
            </p>
            <p>
              The Prototyping + Usability Lab also has a number of Ideum touch tables set up and ready for interaction. If you are interested in visiting the Prototyping + Usability Lab or conducting a video conference with our sales group, please free to contact us.
            </p>
          </div>

        </article>

      </li>

      <li class="facilities item">

        <article>

          <img alt="Device Lab" src="{{theme.link}}/images/facilities/slide-3.jpg" titlke="Device Lab">

          <h1 style="text-align:center;">
            Device Lab
          </h1>

          <div class="two-column-text">

            <p>
              The proliferation of platforms (and versions) and the astounding number of devices released makes it more difficult to ensure compatibility and usability of custom software. Our Device Lab with Android, iOS, Lynx, and Windows phones, tablets, laptops, and legacy systems ensure that we have the proper tools to test across devices and platforms. The Device Lab is used to test our mobile, web and software development.
            </p>
            
          </div>

        </article>

      </li>      

      <li class="facilities item">

        <article>

          <img alt="3D Printing and CNC" src="{{theme.link}}/images/facilities/slide-4.jpg" titlke="3D Printing and CNC">

          <h1 style="text-align:center;">
            3D Printing &amp; CNC
          </h1>

          <div class="two-column-text">

            <p>
              We use 3D printing to prototype small parts and even to produce short runs of internal components. Our collection of 3D printers allow us to print with a variety of materials. We’ve printed with conductive materials to use in fudicials for capacitive touch screens. Our CNC router is used for prototyping small parts in aluminum and cold-rolled steel.
            </p>
            
          </div>

        </article>

      </li>

    </ul>
    <!-- end list for phone - if you make changes here, make them to phone slider (above) too -->


    {{follow_dialog}}

    {% include 'follow-us-button.twig' %}

  </section>
  
</div>

<!-- begin hidden content for page-share -->
<div style='display:none'>
  <div id='facilities-share' class="share-dialog">
    <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Share this.</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum - Our Facilities" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/tumblr.png" alt="Tumblr" /></a>
  </div>
</div>
<!-- end hidden content for page-share - revealed when user clicks 'Share This Page' link in footer -->

{% endblock %}