{% extends "base.twig" %}

{% block content %}

<div id="services" class="sub-page-wrap">

  {% include "parent-nav.twig" %}

  <section class="highlight-text child-page">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
    {% endif %}

    {{post.content}}

    <p>
      <br><a class="button active dark" href="/creative-services/">View Projects</a>
    </p>

  </section>

  <div class="accordion-wrap" id-expander>

    <section class="item-wrap color-1" id-expander-item><!-- add class only-open to make header white and text dark -->

      <article>

        <header class-"expander" id-expander-button>

          <h1>
            Custom Hardware Prototyping &amp; Product Design
          </h1>

          <button><i class="icon-caret-down"></i></button>

        </header>        

        <div class="item-content">

          <!-- <div class="accordion-sub-header">

            <p>
              Integrate latest technology. Works with partners such as: 3M, HP, Intel, LG, PQLabs, Samsung, Zytronic Proven design, work in aluminum. Custom colors, familiar with hydrodipping.
            </p>

          </div> -->

          <div class="text-container">

            <div class="img-row">

              <img src="/wp-content/themes/ideum/images/services/hardware/Cust_hard_1.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/hardware/Cust_hard_2.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/hardware/Cust_hard_3.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/hardware/Cust_hard_4.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/hardware/Cust_hard_5.jpg" alt="" title="">

            </div>

            <div class="two-column-text">

              <p>
                As an agile company, Ideum is able to quickly integrate the latest technology as it becomes available. We work with a variety of technology partners, including 3M, HP, Hyundai, Intel, LG, PQLabs, Samsung, Zytronic. We have built custom prototypes for cutting-edge museums and world-class technology companies. In many cases these prototypes have been first-of-their-kind, pushing the boundaries in resolution, touch technology, and integration with complementary technology such as RFID and NFC.
              </p>

              <p>
                Our proven design methods and our ability to rapidly design in aluminum and cold-rolled steel, means that we can produce hardened interactive systems for demanding environments and public spaces. We’ve developed systems with a range of designs and have collaborated with other design firms, architects, and museums to develop custom systems that match the aesthetics of the spaces they are placed in. Along with unique form-factors, we have developed systems in an array of custom colors and textures. We’ve even developed custom etched and hydro-dipped exhibits.
              </p>

            </div>

          </div>

        </div>

      </article>

    </section>

    <section class="item-wrap color-2 " id-expander-item><!-- add class only-open to make header white and text dark -->

      <article>

        <header class-"expander" id-expander-button>

          <h1>
            Application &amp; Exhibit Software Development
          </h1>

          <button><i class="icon-caret-down"></i></button>

        </header>

        <div class="item-content">

          <!-- <div class="accordion-sub-header">

            <p>
              Integrate latest technology. Works with partners such as: 3M, HP, Intel, LG, PQLabs, Samsung, Zytronic Proven design, work in aluminum. Custom colors, familiar with hydrodipping.
            </p>

          </div> -->

          <div class="text-container">

            <div class="img-row">

              <img src="/wp-content/themes/ideum/images/services/software/App-Dev_01.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/software/App-Dev_02.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/software/App-Dev_03.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/software/App-Dev_04.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/software/App-Dev_05.jpg" alt="" title="">

            </div>

            <div class="two-column-text">

              <p>
                Ideum has deep roots in user interface design (we’ve been designing exhibits and websites for 15 years). For the last six years, we’ve been at the cutting-edge in developing multitouch and multiuser interactives. More recently we’ve begun to extend our design expertise to include motion tracking, voice recognition, virtual reality and other emerging HCI (human computer interaction) technologies.
              </p>

              <p>
                We are interested in the next generation of multiuser and multimodial experiences. We believe that the best interactive exhibits for museums and public spaces have a strong social component and multi-sensory qualities. New and emerging technologies present new opportunities to illuminate, inspire and engage visitors.
              </p>

              <p>
                Our open and active development process ensures that the software we produce is intuitive. We also work hard to ensure the utmost quality in the code we produce. Our exhibits and websites are easy to update and maintain. Our programmers have experience in a wide-range of software languages. We work in C++, .NET / C#, Python, Java, ActionScript, and a variety of other Web-centric languages.
              </p>

            </div>

          </div>

        </div>

      </article>

    </section>

    <section class="item-wrap color-3" id-expander-item><!-- add class only-open to make header white and text dark -->

      <article>

        <header class-"expander" id-expander-button>

          <h1>
            Responsive Web &amp; Mobile Design
          </h1>

          <button><i class="icon-caret-down"></i></button>

        </header>        

        <div class="item-content">

          <!-- <div class="accordion-sub-header">

            <p>
              Integrate latest technology. Works with partners such as: 3M, HP, Intel, LG, PQLabs, Samsung, Zytronic Proven design, work in aluminum. Custom colors, familiar with hydrodipping.
            </p>

          </div> -->

          <div class="text-container">

            <div class="img-row">

              <img src="/wp-content/themes/ideum/images/services/responsive/Responsive_01.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/responsive/Responsive_02.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/responsive/Responsive_03.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/responsive/Responsive_04.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/responsive/Responsive_05.jpg" alt="" title="">

            </div>

            <div class="two-column-text">

              <p>
                Ideum’s approach to web and mobile interface design focuses on more than just aesthetics. We find the best way to engage users and encourage participation no matter what device or platform they are connecting from. Ideum's talented designers and developers work together to establish an approach based around usability and the visitor experience. We believe the most effective websites and mobile applications have strong design qualities and focus on functional details to ensure visitor interaction.
              </p>

              <p>
                All of our web and mobile designs are built specifically with responsive design in mind. Whether users are visiting a site on a large, high resolution desktop computer or on a smartphone, Ideum aims to provide them with a beautiful, intuitive experience. Our developers are well-versed in HTML5, CSS3, JavaScript, a variety of web programming languages, and can develop native code for iOS and Android.
              </p>

            </div>

          </div>

        </div>

      </article>

    </section>

    <section class="item-wrap color-4" id-expander-item><!-- add class only-open to make header white and text dark -->

      <article>

        <header class-"expander" id-expander-button>

          <h1>
            Technology Planning &amp; Conceptual Design
          </h1>

          <button><i class="icon-caret-down"></i></button>

        </header>        

        <div class="item-content">

          <!-- <div class="accordion-sub-header">

            <p>
              Integrate latest technology. Works with partners such as: 3M, HP, Intel, LG, PQLabs, Samsung, Zytronic Proven design, work in aluminum. Custom colors, familiar with hydrodipping.
            </p>

          </div> -->

          <div class="text-container">

            <div class="img-row">

              <img src="/wp-content/themes/ideum/images/services/testing/Tech_planning_1.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/testing/Tech_planning_2.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/testing/Tech_planning_3.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/testing/testing-img4-154x153.jpg" alt="" title="">
              <img src="/wp-content/themes/ideum/images/services/testing/Tech_planning_5.jpg" alt="" title="">

            </div>

            <div class="two-column-text">

              <p>
                Ideum has taken large roles in master planning for technology integration in major museums. In addition, Ideum has been engaged in conceptual design for a variety of interactive exhibitions and exhibits. While our expertise is in technology-based exhibits, we have collaborated in the planning of hands-on physical exhibits, collections, and museum experiences. We strongly believe that technology can create unique and engaging exhibits, but that many of the best exhibitions have a blend of high-tech and traditional experiences.
              </p>

              <p>
                We’ve worked with a wide-range of science museums, planetariums and aquariums, history and cultural institutions, art museums, nonprofits, and companies focused on a variety of topics. This experience, along with our continued work with cutting-edge hardware and modern software techniques, give us a unique perspective when planning for future exhibits and exhibitions.
              </p>

            </div>

          </div>

        </div>

      </article>

    </section>

    {{follow_dialog}}

  </div>

  <br>&nbsp;

  {% include 'follow-us-button.twig' %}

</div>

<!-- begin hidden content for page-share -->
<div style='display:none'>
  <div id='services-share' class="share-dialog">
    <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Share this.</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum - Our Services" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
		<!-- Tumblr-->
		<a href="http://www.tumblr.com/share/link?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
		src="/wp-content/themes/ideum/images/social/tumblr.png" alt="Tumblr" /></a>
  </div>
</div>
<!-- end hidden content for page-share - revealed when user clicks 'Share This Page' link in footer -->

{% endblock %}
