{% extends "base.twig" %}

{% block content %}

<div class="article-content social-media-feed">

  <div class="article-body">

  <!-- Ben, you do realize that there is different html based on which media outlet the item is fed from, right? -->

    <ul class="social-media-feed">
      {% for social_post in social_media_feed %}
        <li class="item {{social_post.source}}" 
        {% if social_post.source == 'flickr' %} style="background:url('{{social_post.image}}');"{% endif %}>

          {% if social_post.source == 'youtube' or social_post.source == 'facebook' %}
          <a class="view" href="{{social_post.url}}"><img class="img-circular" src="{{social_post.image}}"></a>
          {% endif %}

          <div class="content">
            
            {% if social_post.source != 'flickr' %}
            {% if social_post.text %}
              <p>{{social_post.text}}</p>
            {% endif %}
            {% endif %}

            <footer class="footer">
              <a class="view" href="{{social_post.url}}">View on {{social_post.source}}</a>
            </footer>

          </div>

          <i class="social-icon icon-{{social_post.source}}"></i>

        </li>
      {% endfor %}

<!--
      <li class="youtube social-medi-slide item rn-carousel-slide cboxElement">

        <video controls="" style="width:100%;height:375px;" poster="/wp-content/themes/ideum/images/placeholder-buzz-feed-1.jpg">
        </video>

        <i class="social-icon icon-youtube"></i>

      </li>

      <li class="twitter social-medi-slide item rn-carousel-slide">

        <div class="content">

          <p>
            Ideum Daily is out! http://paper.li/ideum/1406302985 … Stories via @mdscaff @ntcoding @NeinQuarterly
          </p>

          <footer class="footer">
            <a class="read" href="#FIXME">Retweet</a>
            <a class="share" href="#FIXME">View</a>
          </footer>

        </div>

        <i class="social-icon icon-twitter"></i>

      </li>

      <li class="flickr social-medi-slide item rn-carousel-slide">

        <img src="/wp-content/themes/ideum/images/placeholder-buzz-feed-2.jpg">

        <i class="social-icon icon-flickr"></i>

      </li>
-->

    </ul>

  </div>

</div> <!-- /article-content -->

{% endblock %}
