{% extends "base.twig" %}

{% block content %}

<main class="productOuterWrapper">
  <header>
    <h1>Platform Drafting Table</h1>
    <img src="{{theme.link}}/images/products/platform-drafting/header.jpg">
  </header>
  <main class="productInnerWrapper">
    <div ng-app="ideum.tabs">
      <!-- Tabs -->
      <div tabs class="platform-drafting">
        <!-- PLATFORM TAB -->
        <div pane title="Platform 46">
          <header>
            <h1>Platform 46 Drafting Table</h1>
            <h2>Ready for Work, Study, or Play</h2>
          </header>
          <div ng-app="productDetails">
            <section class="x-ray platform-drafting-46" ng-controller="xRayCtrl" ng-init="dataIndex = 0">
              <section class="overlay" ng-style="overlayStyle">
                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">
                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>
                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>
              </section>
            </section>
          </div>
        </div>

        <div pane title="Platform 55">
          <header>
            <h1>Platform 55 Drafting Table</h1>
            <h2>Thirty Degrees of Versatility</h2>
          </header>
          <div ng-app="productDetails">
            <section class="x-ray platform-drafting-55" ng-controller="xRayCtrl" ng-init="dataIndex = 1">
              <section class="overlay" ng-style="overlayStyle">
                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">
                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>
                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>
              </section>
            </section>
          </div>
        </div>

        <div pane title="Platform 65">
          <header>
            <h1>Platform 65 Drafting Table</h1>
            <h2>Maximum Fidelity for Exacting Detail</h2>
          </header>
          <div ng-app="productDetails">
            <section class="x-ray platform-drafting-65" ng-controller="xRayCtrl" ng-init="dataIndex = 2">
              <section class="overlay" ng-style="overlayStyle">
                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">
                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>
                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>
              </section>
            </section>
          </div>
        </div>
    </div> <!-- Close tabs -->

    <section class="productSection platform-drafting">
      <div class="prod-sect-img-wrap img-left">        
        <img class="left" src="{{theme.link}}/images/products/platform-drafting/half_01.jpg">
      </div>
      <div class="productText white">
        <h2>Robust Options, Slim Figure</h2>
        <p>
          Don’t be fooled by its slim pedestal design. The Platform Drafting Multitouch
          Table comes complete with an integrated Intel Quad Core i7 with 8GB RAM
          (upgradeable to 16GB) and it can even be purchased with a powerful, discrete
          graphics card. It has lockable access points and single push-button power.
          Platform Drafting Tables come fully assembled and ready to plug in and use.
        </p>

        <!-- begin hidden content for product-share -->
        <div style='display:none'>
          <div id='platform-drafting-share' class="share-dialog">
            <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
            <p>Like what you see? Share this.</p>
            <!-- Facebook -->
            <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
            <!-- Twitter -->
            <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum Platform Drafting Tables" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
            <!-- Google+ -->
            <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
            <!-- Pinterest -->
            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
          </div>
        </div>
        <!-- end hidden content for product-share - revealed when user clicks 'Share This' link (below)-->

        <footer class="footer">
          <a class="tablet-n-desktop share share-dialog-tab-desk" href="#platform-drafting-share">Share This</a>
          <a class="phone-only share share-dialog-phone" href="#platform-drafting-share">Share This</a>
        </footer>
        
      </div>
    </section>

    <section class="productSection">
      <div class="prod-sect-img-wrap full img-left">
        <img class="full" src="{{theme.link}}/images/products/platform-drafting/full_01.jpg">
      </div>
      <div class="productText fullRight">
        <h2>Well Connected</h2>
        <p> 
          The Platform Drafting Multitouch Table comes complete with Ethernet, Wi-Fi, and
          Bluetooth connectivity. It also has an HDMI input and microphone/headphone output
          via a &#8539;&Prime; mini jack. There is direct access via lockable USB ports. 
          Each Platform comes with optional WiDi for wireless screen access. You can also
          order the optional RFID to extend the unit capabilities.
        </p>
      </div>
    </section>

    <section class="section-info">
      <h1>Key Features</h1>
    </section>
    
    <ul
      class="slider platform-drafting"
      ng-init="clientSliderIndex = 0"
      rn-carousel
      rn-carousel-control
      rn-carousel-indicator
      rn-carousel-width="responsiveTwoUp()"
      rn-carousel-index="clientSliderIndex"
    >
      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/armed.svg' %}
        </div>
        <h3>Armed &amp; Hyperthready</h3>
        <p>
          The integrated computer is a powerhouse. It includes an Intel® Quad Core i7
          4770s&reg; (3.1GHz) with Hyperthreading&reg;, 8MB cache computer with 8 GB of
          RAM, and a 500GB HDD.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/warranty.svg' %}
        </div>
        <h3>Two Year Limited Warranty</h3>
        <p>
          We stand by our products and provide a two-year warranty against defective materials 
          or workmanship. The same people who build our products, provide support. See our 
          warranty document for full details and restrictions.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/reach.svg' %}
        </div>
        <h3>Reach Out &amp; Touch Everything</h3>
        <p>
          Along with an industry-leading 40 to 60 touch points, the touch surface on the
          Platform Drafting Tables has palm rejection, a bright HD or 4K / UHD resolution
          screen (available on the 55 &amp; 65 table) and up to a 60hz refresh rate.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/widi.svg' %}
        </div>
        <h3>WiDi Ready</h3>
        <p>
          Use the integrated Intel Wireless Display (WiDi) to share your touch table
          content on any HDMI compatible display. Expand collaborative work options and
          presentations by using the touch table and an HD screen to include more
          participants. A WiDi receiver is available as an optional upgrade.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/demanding.svg' %}
        </div>
        <h3>Built for Demanding Spaces</h3>
        <p>
          The drafting tables have a chemically strengthened glass top and the chassis is
          made out of aircraft-grade aluminum and cold-rolled steel. We are proud to say that the Platform
          Drafting Tables have exceptional build-quality and are perfect for public
          spaces and other demanding environments. The multitouch drafting tables can
          travel too. They can fit through standard doorways even when packed in a
          protective ATA case (upgrade option).
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/windows.svg' %}
        </div>
        <h3>Windows 8 &amp; Beyond</h3>
        <p>
          The Platform Drafting Table ships with either Windows 8 64-bit Professional
          (46) or Windows 7 Professional 64-bit (55 and 65) installed. Thousands of
          touch-enabled apps for Windows 8 and 7 are now available, and there is even a
          Windows 7 / 8 dual boot system upgrade option.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/gestureworks.svg' %}
        </div>
        <h3>Creation by Intelligent Design</h3>
        <p>
          The Platform Drafting Tables come with a lifetime license for GestureWorks Core
          (C++, C# / .NET, Java, Python, and HTML5 / JavaScript) and Open Exhibits
          (ActionScript). The license includes ticketed, timely support and free upgrades
          for life. GestureWorks Gameplay is also included: an innovative Windows 8
          utility that lets you configure touch, motion and voice controls for your
          favorite PC games or applications.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/graphically.svg' %}
        </div>
        <h3>On the Road</h3>
        <p>
          The Platform Drafting Multitouch Table is ruggedized and easy to set up making
          it perfect for tradeshows, traveling exhibits and special events. You can
          purchase the table with an optional ATA flight case. You can also rent the
          Platform 46 Drafting and Platform 55 Drafting models directly from Ideum.
        </p>
      </li>
    </ul>

    <a class="very-dark-gray-button" href="/spec-sheets/Specs-Drafting.pdf">Download Spec Sheet</a>

    <section class="productSection plain full" 
    style="background:url('{{theme.link}}/images/products/platform-drafting/full_03.jpg') no-repeat top center; background-size:cover;">
      <div class="productText white fullLeft">
        <h2>Upgrades</h2>
        <p>
          There are a variety of upgrades and add-ons for sharing and portability.
          <div class="specs">
            <ul class="specList">
              <li>512GB Solid-State Drive</li>
              <li>16GB DDR3-1333 RAM</li>
              <li>2GB 256 bit DDR5 Graphics Card</li>
              <li>Windows 7 / Windows 8 Dual Boot</li>
            </ul>
            <ul class="specList column2">
              <li>RFID Reader</li>
              <li>WiDi Receiver</li>
              <li>ATA Travel Case</li>
            </ul>
          </div>
        </p>
      </div>
    </section>

    <section class="productSection">
      <div class="prod-sect-img-wrap img-left">
        <img class="left" src="{{theme.link}}/images/products/platform-drafting/06_direct-sales-drafting.jpg">
      </div>
      <div class="productText">
        <h2>Direct Sales &amp; Rentals</h2>
        <p>
          Please contact us at <span class="faux-link">(505) 791-1110</span> ext. 1 or toll free in the US and Canada <span class="faux-link">(855) 898-6824</span>, use our online inquiry form, or email us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;">&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;</a>. Platform Drafting Tables are sold domestically and internationally and are only available direct from Ideum. We also rent the Platform Drafting Table in the US and Canada.
        </p>
      </div>
    </section>
  </main>
</main>
{% endblock %}
