{% extends "base.twig" %}

{% block content %}

<main class="productOuterWrapper">

  <header>
    <h1 class="tablet-n-desktop">Platform</h1>
    <img src="{{theme.link}}/images/products/platform/header.jpg">
  </header>

  <main class="productInnerWrapper">

    <div ng-app="ideum.tabs">

      <!-- Tabs -->
      <div tabs class="platform">

        <!-- Platform 55 4k P-cap Tab -->
        <div pane title="Platform 55 4K P-CAP" class="tablet-n-desktop">

          <header>
            <h1>Platform 55 4K P-CAP</h1>
            <h2>The Latest in Touch</h2>
          </header>

          <div ng-app="productDetails">

            <section class="x-ray platform55pcap" ng-controller="xRayCtrl" ng-init="dataIndex = 0">

              <section class="overlay" ng-style="overlayStyle">

                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">

                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>

                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>

              </section>

            </section>

          </div>

        </div>

        <!-- Platform 55 IR Tab -->
        <div pane title="Platform 55 IR" class="tablet-n-desktop">

          <header>
            <h1>Platform 55 IR</h1>
            <h2>Iconic Design, Reliable Touch</h2>
          </header>

          <div ng-app="productDetails">

            <section class="x-ray platform55" ng-controller="xRayCtrl" ng-init="dataIndex = 1">

              <section class="overlay" ng-style="overlayStyle">

                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">

                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>

                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>

              </section>

            </section>

          </div>

        </div>

        <!-- Platform 46 Tab -->
        <div pane title="Platform 46" class="tablet-n-desktop">

          <header>
            <h1>Platform 46</h1>
            <h2>Ideum Design, Genuine 3M Display</h2>
          </header>

          <div ng-app="productDetails">

            <section class="x-ray platform46" ng-controller="xRayCtrl" ng-init="dataIndex = 2">

              <section class="overlay" ng-style="overlayStyle">

                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">

                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>
                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>

              </section>

            </section>

          </div>

        </div>

        <!-- Generic Phone-Only Tab -->
        <div title="Platform" class="phone-only"><!-- change title to appropriate name - this is actual text on product tab -->

          <header>
            <h1>Platform 46, 55&nbsp;IR &amp; 55&nbsp;4k&nbsp;P-CAP Multitouch Tables</h1>
            <h2>Ideum Design. Reliable Touch.</h2>
          </header>

        </div>

      </div> <!-- Close tabs -->

    </div><!-- Close ideum.tabs -->

    <section class="productSection platform">

      <div class="prod-sect-img-wrap vid-block img-left"> 
        <a class="iframe" href="https://player.vimeo.com/video/129245196">
          <img src="{{theme.link}}/images/products/platform/platform_half_01.jpg">
          <div class="text-overlay">Take a look at our new 55" tables in action.</div>
          <div class="play-button-overlay">&nbsp;</div>
        </a>     
        <!-- <img class="left" src="{{theme.link}}/images/products/platform/01.png"> -->
      </div>

      <div class="productText white">

        <h2>The Perfect Package</h2>
        <p> 
          This fully integrated and turnkey solution has single push button operation and lockable access ports. There is no need for installation technicians, nor any special set-up or requirements. The Platform multitouch table arrives fully assembled. You unpack it, plug it in, press the button and get started.
        </p>

        <!-- begin hidden content for product-share -->
        <div style='display:none'>

          <div id='platform-share' class="share-dialog">

            <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
            <p>Like what you see? Share this.</p>
            <!-- Facebook -->
            <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
            <!-- Twitter -->
            <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum Platform Tables" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
            <!-- Google+ -->
            <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
            src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
            <!-- Pinterest -->
            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>

          </div>

        </div>
        <!-- end hidden content for product-share - revealed when user clicks 'Share This' link (below)-->

        <footer class="footer">
          <a class="tablet-n-desktop share share-dialog-tab-desk" href="#platform-share">Share This</a>
          <a class="phone-only share share-dialog-phone" href="#platform-share">Share This</a>
        </footer>
        
      </div>

    </section>

    <section class="productSection more-text">

      <div class="prod-sect-img-wrap img-left">
        <img class="left" src="{{theme.link}}/images/products/platform/02.png">
      </div>

      <div class="productText more-text">

        <h2>Touch at Its Best</h2>
        <p>
          The multitouch technology featured in the Platform 55 4K P-CAP and the Platform 46 is the same reliable touch technology used in popular smartphones and tablets. This technology is impervious to light interference and provides superior responsiveness and accuracy. The bezel-less surface is water and dust resistant.
        </p>
        <p>
          The Platform 55 IR features an ultra-reliable, infrared-based, multitouch screen and is available with either an HD or 4K display.
        </p>

      </div>

    </section>

    <section class="section-info key-features-head">

      <h1>Key Features</h1>

    </section>
    
    <ul
      class="slider platform"
      ng-init="clientSliderIndex = 0"
      rn-carousel
      rn-carousel-control
      rn-carousel-indicator
      rn-carousel-width="responsiveTwoUp()"
      rn-carousel-index="clientSliderIndex"
    >
      
      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/reach.svg' %}
        </div>
        <h3>Reach Out &amp; Touch Everything</h3>
        <p>
          The Platform models support from 40 up to 60 simultaneous touch points depending on the model. They are built specifically for collaboration and multiuser applications.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/armed.svg' %}
        </div>
        <h3>Armed &amp; Hyperthready</h3>
        <p>
          We build powerful systems. It includes an Intel&reg; Quad Core i7 4790s&copy; (3.1GHz) with Hyperthreading&reg;, 8MB cache computer with 8GB of RAM, and a 500GB HDD.
        </p>
      </li>
      
      {#
      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/widi.svg' %}
        </div>
        <h3>WiDi Ready</h3>
        <p>
          Use the integrated Intel Wireless Display (WiDi) to share your touch table
          content on any HDMI compatible display. Expand collaborative work options and
          presentations by using the touch table and an HD screen to include more
          participants. A WiDi receiver is available as an optional upgrade.
        </p>
      </li>
      #}

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/demanding.svg' %}
        </div>
        <h3>Built for Demanding Spaces</h3>
        <p>
          The tables have a tough glass surface and a frame and chassis that are forged from aircraft-grade aluminum and cold-rolled steel. All of our models have exceptional build quality and are manufactured at our Corrales, New Mexico facility. The Platform multitouch tables can travel, too. They can fit through standard doorways even when packed in a protective ATA case (upgrade option).
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/windows.svg' %}
        </div>
        <h3>Windows 8 &amp; Beyond</h3>
        <p>
          The Platform 55 4K P-CAP and Platform 46 ship with Windows 8 64-bit Professional installed. The Platform 55 IR comes with Windows 7. There is even a Windows 7 / 8 dual boot system upgrade option.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/gestureworks.svg' %}
        </div>
        <h3>Creation by Intelligent Design</h3>
        <p>
          The Platform tables come with a lifetime license for GestureWorks Core (C++, C# / .NET, Java, Python, and HTML5 / JavaScript) and Open Exhibits (ActionScript). The license includes ticketed, timely support and free upgrades for life. GestureWorks Gameplay is also included: an innovative Windows 8 utility that lets you configure touch, motion and voice controls for your favorite PC games or applications.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/graphically.svg' %}
        </div>
        <h3>Graphically Speaking</h3>
        <p>
          The Platform 46 and 55 models are available with powerful graphics performance upgrades. For faster processing of graphics-intensive applications, customize your Platform table with these high performing and efficient options.

        </p>
        <ul>
          <li>2GB 256 bit DDR5 graphics card</li>
          <li>16GB DDR3-1333 RAM</li>
        </ul>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/warranty.svg' %}
        </div>
        <h3>Two Year Warranty</h3>
        <p>
          We stand by our products and provide a two-year warranty against defective materials or workmanship. The same people who build our products, provide support. See our <a href="/spec-sheets/Ideum-2year-Touch-Product-Warranty.pdf" target="_blank">warranty document</a> for full details and restrictions.
        </p>
      </li>

    </ul>

    <a class="very-dark-gray-button spec-sheet-button" href="/spec-sheets/Ideum-Specs-Platform.pdf">Download Spec Sheet</a>

    <section class="productSection plain full" 
    style="background:url('{{theme.link}}/images/products/platform/04.png') no-repeat top center; background-size:cover;">

      <div class="productText white fullLeft">

        <h2>Upgrades</h2>

        <p> 
          There are a variety of upgrades and add-ons for sharing and portability.
          <div class="specs">
            <ul class="specList fuller">
              <!-- <li class="listHeader"> Platform 46</li> -->
              <li>512GB Solid-State Drive</li>
              <li>16GB DDR3-1333 RAM</li>
              <li>RFID Reader</li>              
              <li>ATA Travel Case</li>
              <li>Windows 7 professional 64-bit &amp; Windows 8.1 Professional Dual Boot</li>
              <li>2GB 256 bit DDR5 Graphics Card (46 and 55 IR models only)</li>
            </ul>

            <ul class="specList column2">
              <!-- <li class="listHeader"> Platform 55</li>
              <li>512GB Solid-State Drive</li>
              <li>16GB DDR3-1333 RAM</li>
              <li>2GB 256 bit DDR5 Graphics Card</li>
              <li>RFID Reader</li>
              <li>WiDi Receiver</li>
              <li>ATA Travel Case</li> -->
            </ul>
          </div>
        </p>

      </div>

    </section>


    <section class="made-in-usa platform">

      <h2>
        Made in the USA
      </h2>

    </section>

    <section class="productSection">
      <div class="prod-sect-img-wrap img-left" style="background:url('{{theme.link}}/images/products/platform/06_direct-sales-platform.jpg') no-repeat top center; background-size:cover;">
        <img class="left phone-only" src="{{theme.link}}/images/products/platform/06_direct-sales-platform.jpg">
      </div>
      <div class="productText">
        <h2>Sales &amp; Rentals</h2>
        <p>
          Please contact us at <span class="faux-link">(505) 792-1110</span> ext. 1 or toll free in the US and Canada <span class="faux-link">(855) 898-6824</span>, use our <a href="/contact">online inquiry form</a>, or email us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;">&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;</a>. Platforms are sold domestically and internationally. We also rent the Platform in the US and Canada.
        </p>
        <!-- <p class="note">Please note - some kind of note here.</p> -->
      </div>
    </section>

  </main>

</main>

{% endblock %}
