{% extends "base.twig" %}

{% block content %}

<main class="productOuterWrapper">
  <header>
    <h1>Platform</h1>
    <img src="{{theme.link}}/images/products/platform/header.jpg">
  </header>
  <main class="productInnerWrapper">
    <div ng-app="ideum.tabs">
      <!-- Tabs -->
      <div tabs class="platform">
        <!-- PLATFORM TAB -->
        <div pane title="Platform 46">
          <header>
            <h1>Platform 46</h1>
            <h2>The Multitouch Table Redefined</h2>
          </header>
          <div ng-app="productDetails">
            <section class="x-ray platform46" ng-controller="xRayCtrl" ng-init="dataIndex = 0">
              <section class="overlay" ng-style="overlayStyle">
                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">
                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>
                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>
              </section>
            </section>
          </div>       
        </div>

        <div pane title="Platform 55">
          <header>
            <h1>Platform 55</h1>
            <h2>Iconic Design, Built to Perform</h2>
          </header>
          <div ng-app="productDetails">
            <section class="x-ray platform55" ng-controller="xRayCtrl" ng-init="dataIndex = 1">
              <section class="overlay" ng-style="overlayStyle">
                <nav>
                  <a href=""
                  ng-repeat="detail in productDetails"
                  ng-class="{active: (currentDetail == $index)}"
                  ng-click="goToDetail($index)"
                  >{{ '{{ detail.title }}' }}</a>
                </nav>

                <div class="content" ng-repeat="detail in productDetails" ng-show="currentDetail == $index">
                  <h2>{{ '{{ detail.blurb }}' }}</h2>

                  <div class="body" ng-show="detailOpen" ng-bind-html="detail.content"></div>

                  <button ng-hide="detailOpen" ng-click="openDetail(true)">{{ '{{ detail.title }}' }}</button>
                  <button ng-show="detailOpen" ng-click="openDetail(false)">Close</button>
                </div>

                <button class="prev" ng-hide="detailOpen" ng-disabled="!hasPrev()" ng-click="prev()"></button>
                <button class="next" ng-hide="detailOpen" ng-disabled="!hasNext()" ng-click="next()"></button>
              </section>
            </section>
          </div>
        </div> 
    </div> <!-- Close tabs -->

    <section class="productSection platform">
      <div class="prod-sect-img-wrap img-left">
        <img class="left" src="{{theme.link}}/images/products/platform/01.png">
      </div>
      <div class="productText white">
        <h2>The Perfect Package</h2>
        <p> 
          This fully integrated and turnkey solution has single push button operation and
          lockable access ports. There are no installation technicians, nor any special
          set-up or requirements. The table arrives fully assembled. You unpack it, plug
          it in, press the button and get started.
        </p>
      </div>
    </section>

    <section class="productSection more-text">
      <div class="prod-sect-img-wrap img-left">
        <img class="left" src="{{theme.link}}/images/products/platform/02.png">
      </div>
      <div class="productText more-text">
        <h2>Same Tech, Different Scale</h2>
        <p>
          The projected capacitive multitouch technology featured in the Platform 46 is
          the same type of reliable touch technology that is used in smartphones and
          tablets. This touch technology is impervious to light interference and provides
          superior responsiveness and accuracy.
        </p>

        <p>
          The Platform 55 features an infrared-based, 40+ touch point multitouch screen
          and is available with both an HD and 4K / Ultra HD display. It performs in
          almost all lighting conditions.
        </p>
      </div>
    </section>

    <section class="section-info">
      <h1>Key Features</h1>
    </section>
    
    <ul
      class="slider platform"
      ng-init="clientSliderIndex = 0"
      rn-carousel
      rn-carousel-control
      rn-carousel-indicator
      rn-carousel-width="responsiveTwoUp()"
      rn-carousel-index="clientSliderIndex"
    >
      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/armed.svg' %}
        </div>
        <h3>Armed &amp; Hyperthready</h3>
        <p>
          The integrated computer is a powerhouse. It includes an Intel&reg;
          Quad Core i7 4770s&copy; (3.1GHz) with Hyperthreading&reg;, 8 MB
          cache computer with 8 GB of RAM, and a 500 GB HDD.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/reach.svg' %}
        </div>
        <h3>Reach Out &amp; Touch Everything</h3>
        <p>
          Along with an industry-leading 40+ touch points, the touch surface on
          the Platform multitouch tables has palm rejection, a bright HD
          resolution screen, and up to a 60hz refresh rate.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/widi.svg' %}
        </div>
        <h3>WiDi Ready</h3>
        <p>
          Use the integrated Intel Wireless Display (WiDi) to share your touch table
          content on any HDMI compatible display. Expand collaborative work options and
          presentations by using the touch table and an HD screen to include more
          participants. A WiDi receiver is available as an optional upgrade.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/demanding.svg' %}
        </div>
        <h3>Built for Demanding Spaces</h3>
        <p>
          The tables have a chemically strengthened glass top and the chassis is made out
          of aircraft-grade aluminum and cold-rolled steel. We are proud to say that the Platform 46 and 55
          have exceptional build-quality and are perfect for public spaces and other
          demanding environments. The Platform multitouch tables can travel too. They can
          fit through standard doorways even when packed in a protective ATA case
          (upgrade option).
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/windows.svg' %}
        </div>
        <h3>Windows 8 &amp; Beyond</h3>
        <p>
          The Platform 55 and Platform 46 ship with Windows 7 &amp; 8 64-bit Professional installed, respectively. Thousands of touch-enabled apps for Windows 8 and 7 are now available, and there is even a Windows 7 / 8 dual boot system upgrade option. 
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/gestureworks.svg' %}
        </div>
        <h3>Creation by Intelligent Design</h3>
        <p>
          The Platform tables come with a lifetime license for GestureWorks Core (C++, C#
          / .NET, Java, Python, and HTML5 / JavaScript) and Open Exhibits (ActionScript).
          The license includes ticketed, timely support and free upgrades for life.
          GestureWorks Gameplay is also included: an innovative Windows 8 utility that
          lets you configure touch, motion and voice controls for your favorite PC games
          or applications.
        </p>
      </li>

      <li class="client-slide" ng-class="{active: clientSliderIndex==0}">
        <div class="svgHolder">
          {% include '/images/products/svg/graphically.svg' %}
        </div>
        <h3>Graphically Speaking</h3>
        <p>
          The Platform 46 and 55 are available with powerful graphics performance 
          upgrades. For faster processing of graphics-intensive applications, customize 
          your Platform table with these high performing and efficient options.
        </p>
        <ul>
          <li>2 GB 256 bit DDR5 graphics card</li>
          <li>16 GB DDR3-1333 RAM</li>
        </ul>
      </li>
    </ul>

    <button class="very-dark-gray-button">Download Spec Sheet</button>

    <section class="productSection plain full" 
    style="background:url('{{theme.link}}/images/products/platform/04.png') no-repeat top center; background-size:cover;">
      <div class="productText white fullLeft">
        <h2>Upgrades</h2>
        <p> 
          There are a variety of upgrades and add-ons for sharing and portability.
          <div class="specs">
            <ul class="specList">
              <!-- <li class="listHeader"> Platform 46</li> -->
              <li> 512 GB Solid-State Drive</li>
              <li> 16 GB DDR3-1333 RAM</li>
              <li> 2 GB 256 bit DDR5 Graphics Card</li>
              <li> RFID Reader</li>
              <li> WiDi Receiver</li>
              <li> ATA Travel Case</li>
            </ul>

            <ul class="specList column2">
              <!-- <li class="listHeader"> Platform 55</li>
              <li>512 GB Solid-State Drive</li>
              <li>16 GB DDR3-1333 RAM</li>
              <li>2 GB 256 bit DDR5 Graphics Card</li>
              <li>RFID Reader</li>
              <li>WiDi Receiver</li>
              <li>ATA Travel Case</li> -->
            </ul>
          </div>
        </p>
      </div>
    </section>

    <section class="productSection">
      <div class="prod-sect-img-wrap img-left">
        <img class="left" src="{{theme.link}}/images/products/platform/06_direct-sales-platform.jpg">
      </div>
      <div class="productText">
        <h2>Direct Sales &amp; Rentals</h2>
        <p> 
          Please contact us at (505) 791-1110 ext. 1 or toll free in the US and Canada (855) 898-6824, use our online inquiry form, or email us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;">&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;</a>. Platforms are sold domestically and internationally and are only available direct from Ideum. We also rent the Platform in the US and Canada.
        </p>
      </div>
    </section>
  </main>
</main>
{% endblock %}
