{% extends "base.twig" %}

{% block content %}

<section class="highlight-text child-page">

  {% if post.can_edit %}
  <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
  {% endif %}
  
  {{post.content}}

</section>

<div class="article-content social-media-feed">

  <div class="article-body">

    <div class="section-info">

      <div class="select-box-wrap" ng-controller="socialFilterCtrl">

        <select ui-select2 ng-model="socialSource" data-placeholder="Source">
          <option value=""></option>
          {% for source in social_sources %}
            <option value="{{ source }}">{{ source }}</option>
          {% endfor %}
        </select>

      </div>

    </div>

    <ul class="social-media-feed">
      {% for social_post in social_media_feed %}
        <li class="item {{social_post.source}}" 
          {% if social_post.source == 'flickr' %} style="background-image:url('{{social_post.image}}');"{% endif %}>

          <a class="view" href="{{social_post.url}}">
          {% if social_post.source == 'youtube' or social_post.source == 'facebook' %}<img class="img-circular" src="{{social_post.image}}">{% endif %}
          </a>

          <div class="content">
            
            {% if social_post.source != 'flickr' %}
            {% if social_post.text %}
              <p>{{social_post.text}}</p>
            {% endif %}
            {% endif %}

          </div>

          <footer class="footer">
            {% if social_post.source == 'twitter' %}
            <a class="read" href="http://twitter.com/home?status={{social_post.text}}">Retweet</a>
            {% endif %}
            <a class="share" href="{{social_post.url}}">View on {{social_post.source}}</a>
          </footer>

          <i class="social-icon icon-{{social_post.source}}"></i>

        </li>
      {% endfor %}

    </ul>    

  </div>

</div> <!-- /article-content -->

<!-- begin hidden content for page-share -->
<div style='display:none'>
  <div id='social-media-feed-share' class="share-dialog">
    <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Share this.</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum - Social Media Feed" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
  </div>
</div>
<!-- end hidden content for page-share - revealed when user clicks 'Share This Page' link in footer -->

{% endblock %}
