{% extends "base.twig" %}

{% block content %}

<div id="contact" class="sub-page-wrap">

  <section class="highlight-text light-link-color">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
    {% endif %}

    {{post.content}}

  </section>

  <div class="contact-content">

    <section class="glass-form">
      <!-- from ideum-inquiries plugin -->
      <div class="glass-content">

  <section id="glassform">

    <form method="post" action="/wp-content/themes/ideum/ideum-contact-mailer.php">
      
      <div class="full-box">

        <div class="half-box">
          <div class="required fname">
            <label class="medium" for="first-name">First name <span class="required-note">*</span></label>
            <input class="full-input" type="text" name="first-name" id="first-name" autofocus required>
          </div>
        </div>

        <div class="half-box">
          <div class="required lname">
            <label class="medium" for="last-name">Last name <span class="required-note">*</span></label>
            <input class="full-input" type="text" name="last-name" id="last-name" required>
          </div>
        </div>

      </div>

      <div class="required email">
        <label class="medium" for="email">Email <span class="required-note">*</span></label>
        <input class="full-input" type="email" name="email" id="email" autocomplete="off" required>
      </div>

      <div class="not-required company">
        <label class="medium" for="company-name">Company Name</label>
        <input class="full-input" type="text" name="company" id="company-name">
      </div>

      <div class="not-required contact">
        <fieldset>
          <div class="dark faux-label fieldset-label">Contact me by phone</div>
          <div class="half-box">
            <input class="left-radio" type="radio" name="contact-by-phone-yes" id="contact-by-phone-yes" onclick="javascript:yesnoCheck();" value="yes" />
            <label class="radio-label right-label" for="contact-by-phone-yes">Yes</label>
          </div>
          <div class="half-box">            
            <input class="left-radio" type="radio" name="contact-by-phone-no" id="contact-by-phone-no" onclick="javascript:yesnoCheck();" value="no" />
            <label class="radio-label right-label" for="contact-by-phone-no">No</label>
          </div>
          
          <div id="ifphoneYes" style="display:none;">
            <hr>

            <div class="full-box">
              <label class="dark two-thirds-label left-label" for="phone-number">What phone number is best for reaching you?</label>
              <input class="third-input right-input" type="tel" name="phone-number" id="phone-number" placeholder="Phone">
            </div>
            <div class="full-box">
              <label class="dark two-thirds-label left-label" for="phone-time">What time is best for reaching you?</label>
              <input class="third-input right-input" type="text" name="phone-time" id="phone-time" placeholder="Time">
            </div>
          </div>
        </fieldset>
      </div>

      <div class="not-required products">
        <fieldset>
          <div class="dark faux-label fieldset-label">Product or service you are interested in? (Select all that apply)</div>
          <div class="half-box">
            <input class="left-checkbox" type="checkbox" name="touch-tables" id="check-touch-tables" value="Touch Tables" />
            <label class="dark check-label right-label" for="check-touch-tables">Touch Tables</label>
          </div>
          <div class="half-box">
            <input class="left-checkbox" type="checkbox" name="cust-software-dev" id="check-cust-software-dev" value="Custom Software Development" />
            <label class="dark check-label right-label" for="check-cust-software-dev">Custom Software Development</label>
          </div>
          <div class="half-box">
            <input class="left-checkbox" type="checkbox" name="touch-walls" id="check-touch-walls" value="Touch Walls" />
            <label class="dark check-label right-label" for="check-touch-walls">Touch Walls</label>
          </div>
          <div class="half-box">
            <input class="left-checkbox" type="checkbox" name="cust-hardware-dev" id="check-cust-hardware-dev" value="Custom Hardware Development" />
            <label class="dark check-label right-label" for="check-cust-hardware-dev">Custom Hardware Development</label>
          </div>
          <div class="half-box">
            <input class="left-checkbox" type="checkbox" name="product-rentals" id="check-product-rentals" value="Product Rentals" />
            <label class="dark check-label right-label" for="check-product-rentals">Product Rentals (US only)</label>
          </div>
        </fieldset>
      </div>

      <label for="inquiries-comments">Please include your questions and interest in working with us.</label>
      <textarea name="comments" id="inquiries-comments" rows="5" cols="60"></textarea>
      
      <label for="inquiries-howheard">How did you hear about us?</label>
      <textarea name="howheard" id="inquiries-howheard" rows="2" cols="60"></textarea>

      <p class="required-note">* - Required</p>
      
      <p>The form may take time to process - do not submit it multiple times.</p>
      <p class="submit-wrap"><input class="button dark active" type="submit" value="Submit"></p>

    </form>

  </section>

</div>

    </section>

    {{sidebar_contact}}

  </div>
    
  {{featured_pages_contact}}

  <section>

    {{follow_dialog}}

    {% include 'follow-us-button.twig' %}

  </section>
  
</div>

<!-- begin hidden content for page-share -->
<div style='display:none'>
  <div id='contact-share' class="share-dialog">
    <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Share this.</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{post.link}}&amp;text=Ideum - Contact + Inquiry" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
    src="/wp-content/themes/ideum/images/social/tumblr.png" alt="Tumblr" /></a>
  </div>
</div>
<!-- end hidden content for page-share - revealed when user clicks 'Share This Page' link in footer -->

{% endblock %}