
<aside class="sidebar-post-meta layout-sidebar member-details">
  
  <!-- { //endif } -->
  {% if thispost.get_field('team_user_image') %}
  <p class="author-img">
    <img src="{{ thispost.get_field('team_user_image') }}" alt="{{thispost.title}}" title="{{thispost.title}}" />
  </p>
  {% elseif acf_author_image %}
  <a href="{{thispost.author.path}}"><div class="img-circular {{ thispost.author.slug }} tablet-n-desktop" style="background-image: url({{ acf_author_image }})" title="{{ thispost.author }} - Click here to view this author's post archive."> </div></a>
  <a href="{{thispost.author.path}}"><img class="{{ thispost.author.slug }} phone-only" src="{{ acf_author_image }}" title="{{ thispost.author }} - Click here to view this author's post archive."></a>
  {% elseif thispost.author.author_icon %}
  <p class="author-img">
    <a href="{{thispost.author.path}}"><img alt="{{ thispost.author }} - Click here to view this author's post archive." src="{{ thispost.author.author_icon }}" title="{{ thispost.author }} - Click here to view this author's post archive."></a>
  </p> 
  {% endif %}


  {% if thispost.get_field('profile_title_position') %}
  <p class="author-position">
    {{ thispost.get_field('profile_title_position') }}
  </p>
  {% elseif thispost.author.profile_title_position %}
  <p class="author-position">
    {{ thispost.author.profile_title_position }}
  </p>
  {% endif %}

  {% if thispost.get_field('team_user_image') %}
  <h4 class="author-name">
    <a href="{{thispost.author.path}}">{{ thispost.title }}</a>
  </h4>  
  {% elseif thispost.author %}
  <h4 class="author-name">
    <a href="{{thispost.author.path}}">{{ thispost.author }}</a>
  </h4>
  {% endif %}

  {% if thispost.get_field('team_user_image') %}
  <!-- do nothing -->
  {% elseif thispost.post_date %}
  <p class="post-date">
    <span class="label">Date: </span>{{ thispost.post_date|date }}
  </p>
  {% endif %}

  {% if thispost.get_field('team_user_image') %}
  <p>&nbsp;<!-- do nothing -->&nbsp;</p>
  {% else %}
  <p class="post-category">
    <span class="label">Category: </span>
    {% if thispost.terms('category') %}
    {% for term in thispost.terms('category') %}
    {% if term != 'featured' and term != 'Featured' and term != 'Uncategorized' %}
    <a href="{{ term.link }}" title="View all posts in {{ term.name }}" rel="category tag">{{ term.name }}</a>{% if loop.last == false %},{% else %}.{% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}

    <br><br>

    {% if thispost.terms('tag') %}
    <span class="label">Tags: </span>
    {% for term in thispost.terms('tag') %}
    <a href="{{ term.link }}" title="View all posts in {{ term.name }}" rel="category tag">{{ term.name }}</a>{% if loop.last == false %},{% else %}.{% endif %}
    {% endfor %}
    {% endif %}
  </p>
  {% endif %}

  <!-- begin hidden content for blog-post-share -->
  <div style='display:none'>
    <div id='{{thispost.slug}}-share' class="share-dialog">
      <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
      <p>Like what you see? Share this.</p>
      <!-- Facebook -->
      <a href="http://www.facebook.com/sharer.php?u={{thispost.link|url_encode}}" target="_blank"><img class="sharing-icon" 
      src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
      <!-- Twitter -->
      <a href="http://twitter.com/share?url={{thispost.link}}&amp;text={{thispost.title}}" target="_blank"><img class="sharing-icon" 
      src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
      <!-- Google+ -->
      <a href="https://plus.google.com/share?url={{thispost.link|url_encode}}" target="_blank"><img class="sharing-icon" 
      src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
      <!-- LinkedIn -->
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{thispost.link|url_encode}}" target="_blank"><img class="sharing-icon" 
      src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
      <!-- Pinterest -->
      <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
      <!-- 
      <a href="//www.pinterest.com/pin/create/button/?url={{thispost.link|url_encode}}&amp;media={{site.url}}{{thispost.thumbnail.src|resize(640, 400)}}&amp;description={{thispost.title}}" data-pin-do="buttonBookmark"  data-pin-shape="round" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
      -->
    </div>
  </div>
  <!-- end hidden content for blog-post-share - revealed when user clicks 'Share This' link (below)-->

  <p class="sidebar-share-button">   
    <a class="button active tablet-n-desktop inline-share" href="#{{thispost.slug}}-share">Share This</a>
    <a class="button active phone-only share-dialog-phone" href="#{{thispost.slug}}-share">Share This</a>
  </p>

  <!-- <p class="sidebar-link-button">
    <a href="" class="button active">Link Here</a>
  </p> -->

</aside>
