{% extends "base.twig" %}

{% block content %}

<!-- begin single-twig -->
{% if post.alternative_meta_image %}
<img class="full-size-share" src="{{TimberImage(post.get_field('alternative_meta_image')) }}"><!-- img -->
{% elseif post.alternative_meta_image_path %}
<img class="full-size-share" src="{{post.alternative_meta_image_path}}"><!-- path -->
{% endif %}

<div class="blog-post-detail">

	<div class="content-wrapper">

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

			<header class="single-post-header">

				<time class="post-time">{{ post.post_date|date}}</time>

				<h1 class="article-h1">{{post.title}}</h1>

			</header>

			{% if post.pull_quote and post.get_thumbnail %}
			<section class="pull-quote">

      	<div class="pull-quote-img" style="background-image:url('{{post.thumbnail.src}}');">
      	<!-- the code below (visible in template) worked before upgrading timber -->
      	{# <div class="pull-quote-img" style="background-image:url('{{post.thumbnail.src|resize(640, 400)}}');"> #}
					{% if post.featured_image_clickable == "yes" %}<a href="{{post.thumbnail.src}}"><img class="phone-only" 
					src="{{post.thumbnail.src}}" alt="Image for the post: '{{post.title}}'" 
					title="Image for the post: '{{post.title}}'"/></a>{% else %}<img class="phone-only" src="{{post.thumbnail.src}}" 
				  alt="Image for the post: '{{post.title}}'" title="Image for the post: '{{post.title}}'"/>{% endif %}
				  
					<!-- the code below (visible in template) worked before upgrading timber -->
					{# <a href="{{post.thumbnail.src}}"><img class="phone-only" src="{{post.thumbnail.src|resize(600)}}" 
						alt="Image for the post: '{{post.title}}'" title="Image for the post: '{{post.title}}'"/></a> #}
      	</div>

      	<div class="pull-quote-txt">

	        <h2>
	        	{{post.pull_quote}}
	        </h2>

	      </div>

  		</section>

  		{% endif %}

			<section class="article-content">

				<div class="article-body">

					{% if post.can_edit %}
			    <a class="edit-link" href="{{post.edit_link}}" alt="Edit the ppost content." title="Edit the post content.">Edit post!</a>
			    {% endif %}
				
					{{post.content}}

					<p class="back-to-blog">
						<a href="/blog/">Back To Blog</a>
					</p>

				</div>

				{{sidebar_post}}
	      
	      {{related_posts}}

	      <div class="section-info">

          <p class=""><a href="/blog/" class="button active">View All</a></p><!-- where is this even supposed to go -->

        </div>

			</section>

			<!-- 
			<section class="comments">

				<div class="respond">

					<h3 class="h2">Comments</h3>
						{{ comment_form }}
					</div>

					<div class="responses">

						{% for cmt in post.get_comments() %}
						{% include "comment.twig" with {comment:cmt} %}
						{% endfor %}

					</div>
						
				</div>

			</section> 
			-->

		</article>

	</div>

</div>

<!-- end single-twig -->

{% endblock %}
