{% extends "base.twig" %}

{% block content %}

{% for post in posts %}

<div class="project-post-detail">

  <div class="content-wrapper">

    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

      <section class="project-slider">

        <ul rn-carousel rn-carousel-control rn-carousel-indicator>

          <li class="project item">

            <article>

              <img src="{{TimberImage(post.get_field('first_slide_image')).src}}">

              <div class="one-column-text"><!-- choose either 'one-column-text' or 'two-column-text' for class -->

                <h2>
                  {{ post.first_slide_text }}
                </h2>

              </div>

            </article>

          </li>

          <li class="project item">

            <article>

              <img src="{{TimberImage(post.get_field('second_slide_image')).src}}">

              <div class="one-column-text">

                <h2>
                {{ post.second_slide_text }}
                </h2>
      
              </div>

            </article>

          </li>

          <li class="project item">

            <article>

              <img src="{{TimberImage(post.get_field('third_slide_image')).src}}">

              <div class="one-column-text">

                <h2>
                {{ post.third_slide_text }}
                </h2>
      
              </div>

            </article>

          </li>

        </ul>

      </section>

      <section class="article-content">

        <div class="article-body">

          {% if post.alternative_main_content_area_title %}
          <h1 class="alternative-title">
            {{ post.alternative_main_content_area_title }}
          </h1>
          {% endif %}

          {{ post.content }}

          <p class="back-to-projects">
            <a href="/ideum_projects/">Back To Projects</a>
          </p>

        </div>

        {% if sidebar %}

        <aside class="sidebar-post-meta layout-sidebar">
          <!-- {{sidebar}} #FIXME - couldn't get variables into sidebar -->
          
          {% if post.client_sidebar_icon %}
          <p class="project-company-img">
            <img alt="Company Icon for {{ post.client_company_name }}" src="{{TimberImage(post.get_field('client_sidebar_icon')).src}}" title="COmpany Icon for {{ post.client_company_name }}"/>
          </p><!-- Ben - #FIXME - {{theme.link}} doesn't work in link when included as sidebar, only when included in code of single-Ideum-project.twig directly -->
          {% endif %}
          
          {% if post.client_company_name %}
          <p class="project-company-name">
            {{ post.client_company_name }}
          </p>
          {% endif %}
          
          {% if post.project_sidebar_title %}
          <h4 class="project-sidebar-title">
            {{ post.project_sidebar_title }}
          </h4>
          {% endif %}
          
          {% if post.post_date %}
          <p class="post-date">
            <span class="label">Year: </span>{{ post.post_date|date('Y')}}
          </p>
          {% endif %}

          <p class="post-category">
            <span class="label">Category: </span>
            {% if post.terms('category') %}
            {% for term in post.terms('category') %}
            <a href="{{ term.link }}" title="View all posts in {{ term.name }}" rel="category tag">{{ term.name }}</a>{% if loop.last == false %},{% else %}.{% endif %}
            {% endfor %}
            {% endif %}
          </p>

          <p class="sidebar-share-button">
            <a href="#FIXME" class="button active">Share</a>
          </p>

          <!-- <p class="sidebar-link-button">
            <a href="" class="button active">Link Here</a>
          </p> -->

        </aside>

        <section class="bottombar-related layout-bottombar">
        {{bottombar}}
        </section>

        {% endif %}

        <div class="section-info">

          <p>&nbsp;<!-- randowm spacing differences specific to context - yeah its ugly --></p>

          <p class=""><a href="/ideum_project/" class="button active">View All</a></p><!-- where is this even supposed to go -->

        </div>

      </section>

      <!-- 
      <section class="comments">

        <div class="respond">

          <h3 class="h2">Comments</h3>
            {{ comment_form }}
          </div>

          <div class="responses">

            {% for cmt in post.get_comments() %}
            {% include "comment.twig" with {comment:cmt} %}
            {% endfor %}

          </div>
            
        </div>

      </section> 
      -->

    </article>

  </div>

</div>

{% endfor %}

{% endblock %}
