{% extends "base.twig" %}

{% block content %}

{% for post in posts %}

<div class="project-post-detail">

  <div class="content-wrapper">

    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

      <section class="project-slider{% if post.first_slide_image %}{% else %} no-slide{% endif %}">

        {% if post.first_slide_image %}

        <ul rn-carousel rn-carousel-control rn-carousel-indicator>

          <li class="project item">

            <article>

              <img src="{{TimberImage(post.get_field('first_slide_image')).src}}">

              <div class="one-column-text"><!-- choose either 'one-column-text' or 'two-column-text' for class -->

                <h2>
                  {{ post.first_slide_text }}
                </h2>

              </div>

            </article>

          </li>

          <li class="project item">

            <article>

              <img src="{{TimberImage(post.get_field('second_slide_image')).src}}">

              <div class="one-column-text">

                <h2>
                {{ post.second_slide_text }}
                </h2>
      
              </div>

            </article>

          </li>

          <li class="project item">

            <article>

              <img src="{{TimberImage(post.get_field('third_slide_image')).src}}">

              <div class="one-column-text">

                <h2>
                {{ post.third_slide_text }}
                </h2>
      
              </div>

            </article>

          </li>

        </ul>

        {% elseif post.primary_video %}
        <div class="video-wrapper">
          {{ post.primary_video }}
        </div>
        {% elseif post.primary_image %}
        <img class="primary-image" alt="{{ post.title }}" src="{{TimberImage(post.get_field('primary_image')).src}}" title="{{ post.title }}"/>
        {% endif %}

      </section>
      

      <section class="article-content">

        <div class="article-body">

          {% if post.alternative_main_content_area_title %}
          <h1 class="alternative-title">
            {{ post.alternative_main_content_area_title }}
          </h1>
          {% endif %}

          {{ post.content }}

          <!-- <div class="secondary-images">
            <h2>
              More Slides
            </h2>
            {% if post.first_secondary_image or post.second_secondary_image or post.third_secondary_image %}
            <ul>
            {% if post.first_secondary_image %}
            <li><a class="project-secondary-group" href="{{TimberImage(post.get_field('first_secondary_image')).src}}"><img alt="Another Image for {{ post.title }}" src="{{TimberImage(post.get_field('first_secondary_image')).src}}" title="Another Image for {{ post.title }}"/></a></li>
            {% endif %}
            {% if post.second_secondary_image %}
            <li><a class="project-secondary-group" href="{{TimberImage(post.get_field('second_secondary_image')).src}}"><img alt="Another Image for {{ post.title }}" src="{{TimberImage(post.get_field('second_secondary_image')).src}}" title="Another Image for {{ post.title }}"/></a></li>
            {% endif %}
            {% if post.third_secondary_image %}
            <li><a class="project-secondary-group" href="{{TimberImage(post.get_field('third_secondary_image')).src}}"><img alt="Another Image for {{ post.title }}" src="{{TimberImage(post.get_field('third_secondary_image')).src}}" title="Another Image for {{ post.title }}"/></a></li>
            {% endif %}
            <ul>
            {% endif %}
          </div> -->

          <p class="back-to-projects">
            <a href="/ideum_projects/">Back To Projects</a>
          </p>

        </div>

        {% if sidebar %}

        <aside class="sidebar-post-meta layout-sidebar">
          <!-- {{sidebar}} #FIXME - couldn't get post variables to work in sidebar.twig -->
          
          {% if post.client_sidebar_icon %}
          <p class="project-company-img">
            <img alt="Company Icon for {{ post.client_company_name }}" src="{{TimberImage(post.get_field('client_sidebar_icon')).src}}" title="COmpany Icon for {{ post.client_company_name }}"/>
          </p><!-- Ben - #FIXME - {{theme.link}} doesn't work in link when included as sidebar, only when included in code of single-Ideum-project.twig directly -->
          {% endif %}
          
          {% if post.client_company_name %}
          <p class="project-company-name">
            {{ post.client_company_name }}
          </p>
          {% endif %}
          
          {% if post.project_sidebar_title %}
          <h4 class="project-sidebar-title">
            {{ post.project_sidebar_title }}
          </h4>
          {% endif %}
          
          {% if post.post_date %}
          <p class="post-date">
            <span class="label">Year: </span>{{ post.post_date|date('Y')}}
          </p>
          {% endif %}

          <p class="post-category">
            <span class="label">Category: </span>
            {% if post.terms('category') %}
            {% for term in post.terms('category') %}
            <a href="{{ term.link }}" title="View all posts in {{ term.name }}" rel="category tag">{{ term.name }}</a>{% if loop.last == false %} / {% else %}.{% endif %}
            {% endfor %}
            {% endif %}
          </p>

          <!-- begin hidden content for featured-blogpost-share -->
          <div style='display:none'>
            <div id='single-project-share' style='padding:10px; background:#fff;'>
              <!-- Facebook -->
              <a href="http://www.facebook.com/sharer.php?u={{post.link}}" target="_blank"><img src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
              <!-- Twitter -->
              <a href="http://twitter.com/share?url={{post.link}}&amp;text={{post.title}}" target="_blank"><img src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
              <!-- Google+ -->
              <a href="https://plus.google.com/share?url={{post.link}}" target="_blank"><img src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>               
              <!-- LinkedIn -->
              <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link}}" target="_blank"><img src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
              <!-- Pinterest -->
              <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>               
            </div>
          </div>
          <!-- end hidden content for featured-blogpost-share - revealed when user clicks 'Share This' link (below)-->

          <p class="sidebar-share-button">
            <a href="#single-project-share" class="button active inline">Share</a>
          </p>

          <!-- <p class="sidebar-link-button">
            <a href="" class="button active">Link Here</a>
          </p> -->

        </aside>

        <section class="bar-related layout-bottombar">
        {{bottombar}}
        </section>

        {% endif %}

        <div class="section-info">

          <p>&nbsp;<!-- randowm spacing differences specific to context - yeah its ugly --></p>

          <p class=""><a href="/ideum_project/" class="button active">View All</a></p><!-- where is this even supposed to go -->

        </div>

      </section>

      <!-- 
      <section class="comments">

        <div class="respond">

          <h3 class="h2">Comments</h3>
            {{ comment_form }}
          </div>

          <div class="responses">

            {% for cmt in post.get_comments() %}
            {% include "comment.twig" with {comment:cmt} %}
            {% endfor %}

          </div>
            
        </div>

      </section> 
      -->

    </article>

  </div>

</div>

{% endfor %}

{% endblock %}
