{% extends "base.twig" %}

{% block content %}

<!-- begin single-twig -->

<div class="blog-post-detail">

	<div class="content-wrapper">

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

			<header class="single-post-header">

				<time class="post-time">{{ post.post_date|date}}</time>

				<h1 class="article-h1">{{post.title}}</h1>

			</header>

			<section class="pull-quote">

      	<div class="pull-quote-img">

        	{% if post.get_thumbnail %}
				  <a href="{{post.link}}"><img 
				  src="{{post.thumbnail.src}}" 
				  alt="Image for the post: '{{post.title}}'" 
				  title="Image for the post: '{{post.title}}'"/></a>
				  {% else %}
				  <a href="{{post.link}}"><img 
				  src="{{theme.link}}/images/blog-post-img-placeholders-{{ random(2) }}.jpg" 
				  alt="Placeholder image for the post: '{{post.title}}'" 
				  title="Placeholder image for the post: '{{post.title}}'"/></a>
				  {% endif %}

      	</div>

      	<div class="pull-quote-txt">

	        <h2>
	        	{% if post.pull_quote %}
	        	{{post.pull_quote}}
	        	{% else %}
	          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
	          Ut wisi enim adi 175 char max.
	          {% endif %}
	        </h2>

	      </div>

  		</section>

			<section class="article-content">

				<div class="article-body">
				
					{{post.content}}

					<p class="back-to-blog">
						<a href="/blog/">Back To Blog</a>
					</p>

				</div>

				{% if sidebar %}

				<aside class="sidebar-post-meta layout-sidebar">
		    	<!-- {{sidebar}} #FIXME - couldn't get variables into sidebar -->

					{% if post.author.author_icon %}
					<p class="author-img">
					  <a href="{{post.author.path}}"><img alt="{{ post.author }}" src="{{ post.author.author_icon }}" title="{{ post.author }}"></a>
					</p><!-- Ben - #FIXME - {{theme.link}} doesn't work in link when included as sidebar, only when included in code of single.twig directly -->
					{% endif %}
					
					{% if post.author.profile_title_position %}
					<p class="author-position">
					  {{ post.author.profile_title_position }}
					</p>
					{% endif %}
					
					{% if post.author %}
					<h4 class="author-name">
					  <a href="{{post.author.path}}">{{ post.author }}</a>
					</h4>
					{% endif %}
					
					{% if post.post_date %}
					<p class="post-date">
					  <span class="label">Date: </span>{{ post.post_date|date }}
					</p>
					{% endif %}

					<p class="post-category">
					  <span class="label">Category: </span>
					  {% if post.terms('category') %}
						{% for term in post.terms('category') %}
					  <a href="{{ term.link }}" title="View all posts in {{ term.name }}" rel="category tag">{{ term.name }}</a>{% if loop.last == false %},{% else %}.{% endif %}
					  {% endfor %}
						{% endif %}
					</p>

					<p class="sidebar-share-button">
					  <a href="#FIXME" class="button active">Share</a>
					</p>

					<p class="sidebar-link-button">
					  <a href="" class="button active">Link Here</a>
					</p>

	      </aside>

	      <section class="bottombar-related layout-bottombar">
	      {{bottombar}}
	      </section>

	      {% endif %}

			</section>

			<!-- 
			<section class="comments">

				<div class="respond">

					<h3 class="h2">Comments</h3>
						{{ comment_form }}
					</div>

					<div class="responses">

						{% for cmt in post.get_comments() %}
						{% include "comment.twig" with {comment:cmt} %}
						{% endfor %}

					</div>
						
				</div>

			</section> 
			-->

		</article>

	</div>

</div>

<!-- end single-twig -->

{% endblock %}
