{% extends "base.twig" %}

{% block content %}

{% for post in posts %}

<div class="project-post-detail">

  <div class="content-wrapper">

    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

      <section class="project-slider{% if post.slides %}{% else %} no-slide{% endif %}">

        {% if post.slides %}
        <ul rn-carousel rn-carousel-control rn-carousel-indicator>

          {% for item in post.get_field('slides') %}

            <li class="project item">

              <article class="project-item-article">

                <img src="{{TimberImage(item.slide_image).src}}">

                <div class="slide-text-wrap">

                  <div class="slide-text-content">

                    <h1 style="font-size: 3.5vw;color: #fff;">
                      {{item.slide_title}}
                    </h1>

                    <p style="color:#fff; font-size: 2.5vw; line-height: 3.5vw; max-width:40%;">
                      {{item.slide_text}}
                    </p>

                  </div>

                </div>

              </article>

            </li>

          {% endfor %}

        </ul>

        {% elseif post.primary_video %}
        <div class="video-wrapper">
          {{ post.primary_video }}
        </div>
        {% elseif post.primary_image %}
        <img class="primary-image" alt="{{ post.title }}" src="{{TimberImage(post.get_field('primary_image')).src}}" title="{{ post.title }}"/>
        {% endif %}

        {% if post.descriptive_subtitle %}
        <div class="one-column-text slider">

          <h2>
            {{ post.descriptive_subtitle }}
          </h2>

        </div>
        {% endif %}

      </section>
      

      <section class="article-content">

        <div class="article-body">

          {% if post.alternative_main_content_area_title %}
          <h1 class="alternative-title">
            {{ post.alternative_main_content_area_title }}
          </h1>
          {% endif %}

          {{ post.content }}

          <!-- <div class="secondary-images">
            <h2>
              More Slides
            </h2>
            {% if post.first_secondary_image or post.second_secondary_image or post.third_secondary_image %}
            <ul>
            {% if post.first_secondary_image %}
            <li><a class="project-secondary-group" href="{{TimberImage(post.get_field('first_secondary_image')).src}}"><img alt="Another Image for {{ post.title }}" src="{{TimberImage(post.get_field('first_secondary_image')).src}}" title="Another Image for {{ post.title }}"/></a></li>
            {% endif %}
            {% if post.second_secondary_image %}
            <li><a class="project-secondary-group" href="{{TimberImage(post.get_field('second_secondary_image')).src}}"><img alt="Another Image for {{ post.title }}" src="{{TimberImage(post.get_field('second_secondary_image')).src}}" title="Another Image for {{ post.title }}"/></a></li>
            {% endif %}
            {% if post.third_secondary_image %}
            <li><a class="project-secondary-group" href="{{TimberImage(post.get_field('third_secondary_image')).src}}"><img alt="Another Image for {{ post.title }}" src="{{TimberImage(post.get_field('third_secondary_image')).src}}" title="Another Image for {{ post.title }}"/></a></li>
            {% endif %}
            <ul>
            {% endif %}
          </div> -->

          <p class="back-to-projects">
            <a href="/ideum_projects/">Back To Projects</a>
          </p>

        </div>
        
        {{sidebar_project}}        
        
        {{related_projects}}        

        <div class="section-info">

          <p>&nbsp;<!-- randowm spacing differences specific to context - yeah its ugly --></p>

          <p class=""><a href="/ideum_project/" class="button active">View All</a></p><!-- where is this even supposed to go -->

        </div>

      </section>

      <!-- 
      <section class="comments">

        <div class="respond">

          <h3 class="h2">Comments</h3>
            {{ comment_form }}
          </div>

          <div class="responses">

            {% for cmt in post.get_comments() %}
            {% include "comment.twig" with {comment:cmt} %}
            {% endfor %}

          </div>
            
        </div>

      </section> 
      -->

    </article>

  </div>

</div>

{% endfor %}

{% endblock %}
