{% extends "tease.twig" %}

{% block content %}

<div class="post-img-wrap">

  {% if post.get_thumbnail %}
  <img src="{{post.thumbnail.src}}" alt="Image for the post: '{{post.title}}'" title="Image for the post: '{{post.title}}'"/>
  {% else %}
  <img src="{{theme.link}}/images/blog-post-img-placeholders-{{ random(2) }}.jpg" alt="Placeholder image for the post: '{{post.title}}'" 
  title="Placeholder image for the post: '{{post.title}}'"/>
  {% endif %}

</div>

<div class="post-txt-wrap">

  <time class="time">{{post.post_date|date('F j, Y')}}</time>

  <h2 class="h2">
    <a href="{{post.link}}">{{post.title}}</a>
  </h2>

  <p>{{post.get_preview(34, 'true', '', 'true')}}</p>

  <footer class="footer">
    <a class="read read-more" href="{{post.link}}">Read More</a>
    <a class="share" href="#FIXME">Share This</a>
  </footer>

</div>

{% endblock %}