{% extends "tease.twig" %}

{% block content %}

<!-- begin tease-ideum_project.twig -->

<ul class="project-wrap">

  <li class="slide project-item">
      
    {% if post.get_thumbnail %}
    <img src="{{post.thumbnail.src}}" alt="Image for the post: '{{post.title}}'" title="Image for the post: '{{post.title}}'"/>
    {% else %}
    <img src="{{theme.link}}/images/placeholder-science-project-{{ random(2) }}.jpg" alt="Placeholder image for the post: '{{post.title}}'" 
    title="Placeholder image for the post: '{{post.title}}'"/>
    {% endif %}

    <div class="overlay"></div>

    <div class="content-wrap"><a href="{{post.link}}"></a></div>

    <div class="content">

      <header>

        <h2 class="category">
          {{ post.get_category }}
        </h2>

        <h1 class="title">
          <a href="{{post.link}}">{{ post.title }}</a>
        </h1>

      </header>

      {% if post.get_preview %}
      <p>
        {{ post.get_preview(10) }}
      </p>
      {% endif %}

    </div>

  </li>

</ul>

<!-- end tease-ideum_project.twig -->

{% endblock %}