{% extends "tease.twig" %}

{% block content %}

<!-- begin tease-post.twig -->

{% if post.get_thumbnail %}
<div class="post-img-wrap" style="background-image:url('{{post.thumbnail.src|resize(600)}}');">

  <a href="{{post.link}}"><img src="{{post.thumbnail.src|resize(600)}}" 
  alt="Image for the post: '{{post.title}}'" 
  title="Image for the post: '{{post.title}}'"/></a>
  {#% else %#}
  <!-- <a href="{{post.link}}"><img src="{{theme.link}}/images/blog-post-img-placeholders-{{ random(2) }}.jpg" 
  alt="Placeholder image for the post: '{{post.title}}'" 
  title="Placeholder image for the post: '{{post.title}}'"/></a> -->

</div>
{% endif %}

<div class="post-txt-wrap">

  <time class="time">{{post.post_date|date('F j, Y')}}</time>

  <h2 class="h2">
    <a href="{{post.link}}">{{post.title}}</a>
  </h2>

  {% if post.get_thumbnail %}
  <p>{{post.get_preview(34, 'true', '', 'true')}}</p>
  {% else %}
  <p>{{post.get_preview(85, 'true', '', 'true')}}</p>
  {% endif %}

  {% if post.has_term('Publications') %}
    {% set generic_post_img = 'blog-publications.jpg' %}
  {% elseif post.has_term('Gesture Works') %}
    {% set generic_post_img = 'blog-gestureworks.jpg' %}
  {% elseif post.has_term('Open Exhibits') %}
    {% set generic_post_img = 'blog-openexhibits.jpg' %}
  {% elseif post.has_term('Ideum Labs') %}
    {% set generic_post_img = 'blog-ideumlabs.jpg' %}
  {% elseif post.has_term('Awards') %}
    {% set generic_post_img = 'blog-awards.jpg' %}
  {% elseif post.has_term('Conferences') %}
    {% set generic_post_img = 'blog-conferences.jpg' %}
  {% elseif post.has_term('New Mexico') %}
    {% set generic_post_img = 'blog-newmexico.jpg' %}
  {% else %}
    {% set generic_post_img = 'blog-ideum.jpg' %}
  {% endif %}

  <!-- begin hidden content for {{post.slug}} -->
  <div style='display:none'>
    <div id='{{post.slug}}' class="share-dialog">
      <img class="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
      <p>Like what you see? Share this.</p>
      <!-- Facebook -->
      <a href="http://www.facebook.com/sharer.php?u={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
      src="/wp-content/themes/ideum/images/social/facebook.png" alt="Facebook"></a>
      <!-- Twitter -->
      <a href="http://twitter.com/share?url={{post.link|url_encode}}&amp;text={{post.title}}" target="_blank"><img class="sharing-icon" 
      src="/wp-content/themes/ideum/images/social/twitter.png" alt="Twitter"></a>
      <!-- Google+ -->
      <a href="https://plus.google.com/share?url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
      src="/wp-content/themes/ideum/images/social/google.png" alt="Google"></a>
      <!-- LinkedIn -->
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link|url_encode}}" target="_blank"><img class="sharing-icon" 
      src="/wp-content/themes/ideum/images/social/linkedin.png" alt="LinkedIn"></a>
      <!-- Pinterest -->
      {% if post.thumbnail %}
      <a href="//www.pinterest.com/pin/create/button/?url={{post.link}}&amp;media={{site.url}}{{post.thumbnail.src}}&amp;description={{post.title}}" data-pin-do="buttonBookmark"  data-pin-shape="round" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
      {% else %}
        <a href="//www.pinterest.com/pin/create/button/?url={{post.link}}&amp;media={{site.url}}/wp-content/themes/ideum/images/generic-images/{{generic_post_img}}&amp;description={{post.title}}" data-pin-do="buttonBookmark"  data-pin-shape="round" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" alt="Pinterest"></a>
      {% endif %}
    </div>
  </div>

  <!-- end hidden content for {{post.slug}} - revealed when user clicks 'Share This' link (below)-->

  <footer class="footer">
    <a class="read read-more" href="{{post.link}}">Read More</a>
    <a class="tablet-n-desktop share-dialog-tab-desk" href="#{{post.slug}}">Share This</a>
    <a class="phone-only share-dialog-phone" href="#{{post.slug}}">Share This</a>
  </footer>

</div>

<!-- end tease-post.twig -->

{% endblock %}